[2015-11-23 11:27] obuchtala commented on #277
In general we should start this at some point. Don't know if we have enough time for this right now. We also could start it after beta 2.

[2015-11-23 11:43] michael commented on #277
I will just kick it off without being too specific about the changes.

**Beta 2:**
- Simplified Node API: Props are now stored on the node directly
- New source directory and file layout optimized for deep-requiring individual classes
- New DOMElement API for interacting with DOM elements
- Improved Converter API: Now independent from the Article class
- Overhauled API for Tools: Logic now lives i

[2015-11-23 12:59] michael opened #278 "Doc: Only first @link reference is parsed"
See:

![image](https://cloud.githubusercontent.com/assets/2931/11337051/4cd8eece-91ea-11e5-936e-81f74fbde5f0.png)

[2015-11-23 15:22] michael opened #279 "Doc: model/data"
Want to expose model/data in the docs or we keep this internal for now?

[2015-11-23 15:27] obuchtala commented on #279
Hmmm, good question. I think only model/data/NodeIndex is really interesting from API point of view.
Also looking at the tiny folder, I am wondering if we really want to keep that folder separated. What u think?

[2015-11-23 15:57] michael commented on #279
Let's have it all flat in the model folder and only expose what we want to be considered public API.

[2015-11-23 16:18] michael commented on #123
Is this fulfilled now with the new Node API?

[2015-11-23 16:41] michael opened #280 "Doc: Describe Array of SomeType"
What should we use to describe Array of Commands for instance?

`@prop {Array.<ui/SurfaceComand>}` gets rendered like this and is not linked. This is the JSDoc syntax.

![image](https://cloud.githubusercontent.com/assets/2931/11342736/1c9266ea-9209-11e5-891c-ded25941737d.png)

Should we follow this syntax and fix the linking at some point or should we work towards a more compact `@prop [ui/Surface

[2015-11-23 17:05] michael commented on #280
This syntax is also understood:

[code]

It's translated into Array.<ui/SurfaceCommand>.

[2015-11-24 09:36] michael commented on #213
Is this covered by new Node API already?

[2015-11-24 09:37] michael commented on #210
@Integral takes that over.

[2015-11-24 11:50] Integral opened #281 "Node version"
Let's put `engines` directive and specify node version. It makes some sense, for example in context of #210 with old versions of node I ran into `no method 'execSync'`.

[2015-11-24 11:52] michael commented on #281
Does >0.10 work?

[2015-11-24 11:54] Integral commented on #281
`execSync` was added to node in v0.11

[2015-11-24 11:57] michael commented on #281
I think 0.11 or 0.12 is fine.

[2015-11-24 11:58] Integral commented on #281
yep, thanks!

[2015-11-24 12:12] Integral commented on #210
@michael could we try to commit something to master? Or just make --allow-empty?

[2015-11-24 12:38] michael commented on #210
Sorry one sec - i will commit a changelog file to master + an API update so we see if the docs get updated.

[2015-11-24 13:00] michael commented on #210
Commited to master some Toolbar docs. Don't see a commit to `substance/docs` yet though.

[2015-11-24 13:03] Integral commented on #210
Yes, there are some problems, I will investigate

[2015-11-24 13:04] michael commented on #210
I get another commit ready in the meanwhile. ;) Let me know when I should push the button.

[2015-11-24 15:46] Integral commented on #210
@michael should work now, please try!

[2015-11-24 15:51] michael commented on #210
I made an edit directly on Github.

[2015-11-24 15:51] michael commented on #210
how much time is it supposed to take until the update happens. Should I also try a 'real' push?

[2015-11-24 15:54] Integral commented on #210
it's there, it takes maybe 2 minutes...

On 24 November 2015 at 18:51, Michael Aufreiter notifications@github.com
wrote:

[2015-11-24 15:55] Integral commented on #210
just like installation and bundling...

[2015-11-24 15:55] michael commented on #210
Nice! :) well done!

A new era, with always up2date docs.

[2015-11-24 15:55] Integral commented on #210
yes, awesome! give me another ;)

[2015-11-24 15:55] #210 closed, assigned to Integral

[2015-11-24 15:57] michael opened #283 "Doc: Special treatment for Document Nodes"
I spotted some `@prop tags` in node implementations, e.g. PropertyAnnotation.

https://github.com/substance/substance/blob/9bf7e00f1f1d633bb33aef1ead9d2f914b9d6f6c/model/PropertyAnnotation.js#L14-L16

How do we want to handle this in the docs? Should we handle this like with components. We would then need an extra tag e.g. `@node`.

@oliver---- thoughts?

[2015-11-24 16:02] michael opened #284 "Improved auto-generated docs"
We actually need a solution to make doc generation work with tags also. like that a subfolder is created for each tag.

http://substance.io/docs --> always has the latest master docs
http://substance.io/beta2 --> shows the beta2 docs (once released)

Is this easy to achieve you think?

[2015-11-24 16:06] obuchtala commented on #284
What about pushing it manually to docs/`<tagname>`?

[2015-11-24 16:10] Integral commented on #284
Well, it would be easer of course...

[2015-11-24 16:12] obuchtala commented on #284
I think for now this would be the most pragmatic choice.

[2015-11-24 16:13] michael commented on #284
Yeah let's do that manually...  you are right. Not worth the scripting.

[2015-11-24 16:14] michael commented on #284
Just wondering if substance.io/docs should default to master.. or forward to the latest release instead. Maybe we make the auto generation available via substance.io/docs/latest ?

[2015-11-24 16:15] obuchtala commented on #284
or `docs/master`?

[2015-11-24 16:16] obuchtala commented on #284
ahh... you mean `latest` === latest tag?

[2015-11-24 16:18] obuchtala commented on #284
That would mean we would manually edit `docs/index.html`. But this would be ok IMO.

[2015-11-24 16:21] michael commented on #284
hmm true latest is confusing... docs/master is better! Let's have everything in folders and maintain the forward manually in index.html.

[2015-11-24 16:22] obuchtala commented on #284
:+1:

[2015-11-24 16:39] michael commented on #265
Daniel want to finish this? I'm half-way there: https://github.com/substance/substance/pull/285.

[2015-11-24 16:41] michael commented on #284
@Integral can you set it up so the auto-gen docs push to `master` folder inside the docs repo? And set up the forward.

[2015-11-24 16:43] michael commented on #60
@oliver---- we shift this to Beta 3? And do it proper.

[2015-11-24 16:46] obuchtala commented on #60
:+1:

[2015-11-24 16:48] obuchtala commented on #271
I am working on this already as I don't want to get the Clipboard broken again.

[2015-11-24 16:51] michael opened #286 "Upgrade dependencies"
Bump dependencies to latest versions. E.g. lodash, cheerio, jquery but also dev dependencies and check that everything runs smoothly still.

I think we should specify explicit versions in package json (no >= stuff) and bump manually from time to time.. just so users don't have bad surprises.

@oliver---- agree? @Integral want to take that one over?

[2015-11-24 16:52] michael commented on #265
@Integral let me finish this.. maybe you take over rather #286 if Oli gives green light.

[2015-11-24 16:53] obuchtala commented on #286
:+1:

[2015-11-24 16:53] michael commented on #271
No broken ever again! :+1:

[2015-11-24 16:53] obuchtala commented on #265
:green_apple:

[2015-11-24 16:54] michael commented on #271
I'm leaving out words today in my writing...

fill in _clipboard_

[2015-11-24 16:54] michael commented on #265
:tea:

[2015-11-24 16:55] obuchtala commented on #265
:green_heart:

[2015-11-24 16:56] michael commented on #265
🐢

[2015-11-24 17:22] Integral commented on #284
what do you mean by forward? redirect from docs to docs/master?

[2015-11-24 17:30] obuchtala commented on #284
yup, I think that's what @michael meant.

[2015-11-24 17:42] michael commented on #281
I covered this. it's just not merged yet. Closing.

[2015-11-24 17:42] #281 closed, assigned to nobody

[2015-11-24 18:30] Integral commented on #286
Thank you!

On 24 November 2015 at 19:53, Oliver Buchtala notifications@github.com
wrote:

[2015-11-24 22:57] Integral commented on #284
sorry for bumping commit history a bit... i did some mistakes and now it seems that autogeneration stuck somehow, we have something like async queue there... maybe i'm wrong, we'll see tomorrow with your commits

[2015-11-24 22:58] obuchtala commented on #284
what about changing the script to listen to a test branch for a while?
Then we don't depend on commits to master....

[2015-11-24 23:00] Integral commented on #284
good idea ;)

[2015-11-24 23:00] obuchtala commented on #284
:green_heart:

[2015-11-24 23:56] Integral commented on #284
Yes, the queue is not working, so when we have few tasks there it finished first, but not starting next.
@oliver---- why did you use queue.js? Any special reason or ...?

[2015-11-24 23:58] obuchtala commented on #284
nope. just thought this would work... but ditch it then...

[2015-11-25 00:03] obuchtala commented on #284
Somehow it worked for a while, so I thought it would be ok.

[2015-11-25 00:03] Integral commented on #284
I just never use it... Will try other things, actually we need some queue there in case of few commits arrived with different less then 3 minutes.

[2015-11-25 00:03] obuchtala commented on #284
:+1:

[2015-11-25 00:05] obuchtala commented on #284
(fuck i am tired)

[2015-11-25 00:11] Integral commented on #284
Callback didn't fired... Will investigate tomorrow. Good night!

[2015-11-25 00:12] obuchtala commented on #284
Sleep well :)

[2015-11-25 00:12] Integral commented on #284
U2!

[2015-11-25 10:37] michael commented on #284
Guten morgen!

@Integral regarding the master subfolder... could this be done outside of the gulp script also. Like at the place where you push to substance/docs?

People that run npm run doc would not expect to have the docs generated into dist/master.. especially when they are generating docs for a different branch.

[2015-11-25 10:45] michael commented on #277
Lives in CHANGELOG.md now. Please feel free to add things I missed.

[2015-11-25 10:45] #277 closed, assigned to nobody

[2015-11-25 10:56] michael commented on #265
Done.

[2015-11-25 10:56] #265 closed, assigned to nobody

[2015-11-25 11:08] Integral commented on #284
yes, you're right
I had some thoughts yesterday opposite to this, but today I can't see any problems :)

[2015-11-25 11:21] michael commented on #284
OK. Take your time. I will focus on Lens today.

[2015-11-25 12:13] Integral commented on #284
Done!

[2015-11-25 12:13] #284 closed, assigned to Integral

[2015-11-25 12:17] michael commented on #284
Bravo! Thanks.

Please open a pull request for future additions. Just so we can have short review of the changes. It's also nice for documenting a pack of changes in one place (the PR).

[2015-11-25 12:18] michael commented on #284
You can use a branch on substance directly. We will delete them after merge. E.g. you could have branch `upgrade-dependencies` and when ready for review you open PR.

[2015-11-25 12:23] Integral commented on #284
Yes-yes, sorry, I just did this because of lack of important changes... Sorry :)

[2015-11-25 12:24] Integral commented on #286
ok
@michael what should i do here in terms of verefication? run tests and check examples?

[2015-11-25 12:24] michael commented on #284
No worries!

[2015-11-25 12:27] Integral commented on #284
BTW, just FYI, usually when you run npm install it will install both production and dev dependencies. However if you want to install dev dependencies in heroku you need to run `heroku config:set NPM_CONFIG_PRODUCTION=false`

[2015-11-25 12:27] michael commented on #286
Yep! tests, examples, and substance/lens#dev should still run. Most importantly we need to test fresh npm install if everything goes write. We will all try once you are ready.

[2015-11-25 12:33] Integral commented on #286
Ok!

[2015-11-25 13:13] Integral opened #288 "Test script failing"
when i do npm install and then npm run test:
[16:11:54] Using gulpfile ~/Projects/substance/gulpfile.js
[16:11:54] Starting 'lint'...
[16:11:59] Finished 'lint' after 5.12 s
[16:11:59] Starting 'build:test'...
[16:12:03] Finished 'build:test' after 3.64 s
[16:12:03] Starting 'test'...
[16:12:03] 'test' errored after 2.69 ms
[16:12:03] TypeError: Bad argument
    at TypeError (native)
    at ChildP

[2015-11-25 13:14] michael commented on #288
With new dependencies? Or also before? It's possible that Phantom.js errors for some unsupported API's. We had to create a shim for Function.bind for instance.

[2015-11-25 13:22] Integral commented on #288
No, i did it on master

[2015-11-25 13:26] Integral commented on #288
Confirmed with fresh clone

[2015-11-25 13:30] michael commented on #288
Sorry i'm only on phone for a while - cant verify
On Mi., 25. Nov. 2015 at 14:26, Daniel Beilinson notifications@github.com
wrote:

[2015-11-25 14:11] Integral commented on #288
Have you got any idea how to run this thing without gulp?

[2015-11-25 14:34] Integral commented on #288
looks like its trying to run qunit using generated file from /tmp/test
however tmp is just empty...

[2015-11-25 14:35] Integral commented on #288
sorry, last one is not true

[2015-11-25 15:05] Integral commented on #288
sorry, npm cache issue

[2015-11-25 15:05] #288 closed, assigned to nobody

[2015-11-25 16:03] Integral commented on #286
@michael give the next one while you are testing!

[2015-11-26 22:23] #286 closed, assigned to Integral

[2015-11-27 11:50] Integral opened #290 "PropertySelection: difference between isInsideOf and contains methods"
https://github.com/substance/substance/blob/5d4ba794f6af459f887e7df27e2f977f16e5c983/model/PropertySelection.js#L140
https://github.com/substance/substance/blob/5d4ba794f6af459f887e7df27e2f977f16e5c983/model/PropertySelection.js#L157
they looks like the same... that's strange...

[2015-11-27 11:51] Integral commented on #290
or is it because of ContainerAnnotations methods?

[2015-11-27 12:15] michael commented on #290
It's not the same.. there's like `<` vs `>`. however this could maybe be improved implementation wise for more code share. Maybe we post an issue for beta3. @oliver---- ?

[2015-11-27 12:17] michael opened #292 "Don't use jQuery for Component._createElement"
We run into some problematic scenarios when we use jQuery for XML element creation.

E.g. `$$('meta').append('foo').outerHTML` resolves to `<meta></meta>` loosing it's content. That's because jQuery treats <meta> tags differently on construction.

[code]

[2015-11-27 12:58] Integral commented on #290
The only difference is `return other.contains(this);` vs `return other.isInsideOf(this);`.
So they refer each other, but it only make sense in case of calling this method inside `ContainerSelection` which has different implementation...

[2015-11-27 13:24] michael opened #293 "Implement innerHTML / outerHTML with strings on DOMELement"
There are problematic cases where we don't get valid XML.

`document.createElement('img').outerHTML` => `<img>` but should be `<img></img>`

[2015-11-27 14:16] obuchtala commented on #290
obviously isInsideOf is the opposite of contains. We could implement one using the other that's true.

[2015-11-27 14:22] Integral commented on #290
achhh, now i see, will improve docs, it's not very clear that contains and inside of means in context of current sel

[2015-11-27 14:22] #290 closed, assigned to nobody

[2015-11-27 14:23] Integral commented on #290
no, i already wrote it in a good way ;)

[2015-11-27 16:17] obuchtala commented on #247
Done. Properly.

[2015-11-27 16:17] obuchtala commented on #271
Done.

[2015-11-27 16:17] #271 closed, assigned to nobody

[2015-11-27 16:17] #247 closed, assigned to obuchtala

[2015-11-27 16:35] obuchtala commented on #179
Fixed.

[2015-11-27 16:35] #179 closed, assigned to obuchtala

[2015-11-27 16:44] obuchtala commented on #176
Fixed.

[2015-11-27 16:44] #176 closed, assigned to obuchtala

[2015-11-27 17:02] #138 closed, assigned to obuchtala

[2015-11-27 17:04] obuchtala commented on #252
Removed this from your list:
- [ ] #60 - improve setHighlights API

[2015-11-27 17:13] #118 closed, assigned to obuchtala

[2015-11-27 17:17] obuchtala opened #294 "Add test for model/Fragmenter"

[2015-11-27 18:16] obuchtala commented on #7
This needs more time.

[2015-11-27 18:18] obuchtala commented on #16
We can't do that yet, as we need to render selections always for that.

Shifting to Beta 3

[2015-11-27 18:20] obuchtala commented on #123
I has been removed.

[2015-11-27 18:20] #123 closed, assigned to obuchtala

[2015-11-27 18:20] michael opened #295 "Introduce transformation registry"
We want to have a possibility to overload transformations to do custom things.

Example usecase: In Lens we want to ensure that when a figure is deleted all citations are updated accordingly (so the deleted figure is removed from the targets array).

If we had a transformation registry we could overload the deleteNode transformation like this.

[code]

[2015-11-27 18:23] obuchtala commented on #15
This works for me. Reopen if you find it not working.

[2015-11-27 18:23] #15 closed, assigned to obuchtala

[2015-11-27 18:29] obuchtala commented on #24
Not yet there. We are able to render selections in general, but we need to experiment how live-rendering behaves.

[2015-11-27 18:57] #273 closed, assigned to nobody

[2015-11-27 19:47] #173 closed, assigned to obuchtala

[2015-11-27 19:49] #186 closed, assigned to obuchtala

[2015-11-27 19:51] obuchtala commented on #19
Sorry. Won't make it into beta 2.

[2015-11-27 20:27] obuchtala commented on #120
Unfortunately I can't work on this as the current content is different.

I.e. doesn't have authors anymore.

[2015-11-27 20:34] Integral opened #297 "API docs are broken"
@oliver---- after your latest commits
`Uncaught Error: Illegal value type for property sourceLine: expected number, was object`

[2015-11-27 20:41] obuchtala commented on #119
After some thinking, I come to the finding, that there are two cases for `deleteSelection`. One when the user explicitly deletes a selection. Then the behavior should be like it is now.
But when typing, this is more like **replacing** the selection. Thus we need to treat these cases differently.

[2015-11-27 20:41] obuchtala commented on #119
Shifting this to Beta 3, as it needs some more planning.

[2015-11-27 20:42] #252 closed, assigned to nobody

[2015-11-27 21:03] michael opened #298 "Problem with inline node rendering"
Reproduce in Lens:
- Create new bib citation
- unfocus surface to have selection-fragment rendered

Gets rendered twice:
![image](https://cloud.githubusercontent.com/assets/2931/11448134/91edade0-9552-11e5-92f7-57aad47f2162.png)

Also, when cursor is right after an inline node and you unfocus a Surface, no cursor element gets rendered.

[2015-11-27 22:25] obuchtala opened #299 "Better API for incremental updates"
Currently we use doc.update() which has an ugly signature.

Would be better to provide a type specific API

[code]

[2015-11-27 22:38] Integral commented on #299
Can I take this?

On Sat, Nov 28, 2015, 02:25 Oliver Buchtala notifications@github.com
wrote:

[2015-11-27 22:58] obuchtala opened #300 "SwitchTextType fails on undo"

[2015-11-27 23:28] obuchtala commented on #299
It's not high prio.. but if you like, why not :)

[2015-11-28 13:11] #300 closed, assigned to michael

[2015-11-28 13:49] michael opened #301 "surface.el.focus() causes a surface scroll when the surface is currently blurred"
Reproduce in Lens:
- select some text
- click somewhere into the toolbar to natively blur the surface
- toggle an annotation

This triggers a Surface#setSelection which finally calls focus(), which triggers the unwanted surface scroll.

https://github.com/substance/substance/blob/64a75988e207b03a6e2375d98ffbbac79a42d4c7/ui/Surface.js#L680-L687

Since this call to focus is only needed for FF maybe

[2015-11-28 13:54] michael commented on #301
FF does not do the ugly jump, so with a browser conditional we would be good here...

[2015-11-28 18:03] michael opened #302 "More flexible panel/dialog construction"
Been thinking about better managing panels and dialogs today. In Lens we have the problem that we can't hide the context toggles when the current panel is a dialog and make it use up all space. We can't do this atm without breaking modularity (e.g. with a CSS override). The problem is that when we render the contextToggles we don't know about what panel we are going to render (a regular panel or a

[2015-11-28 20:33] obuchtala commented on #302
I understand and like your proposal. While it is solving this problem, it would increase code reuse even more, as the Panel content implementations are so much simplified.
go for it :+1:

[2015-11-28 20:34] obuchtala commented on #301
Will take a look.

[2015-11-28 20:35] obuchtala commented on #297
Fixed.

[2015-11-28 20:35] #297 closed, assigned to nobody

[2015-11-28 21:11] #294 closed, assigned to obuchtala

[2015-11-28 21:11] #298 closed, assigned to nobody

[2015-11-28 21:19] obuchtala commented on #301
Yep that solved it.

[2015-11-28 21:21] michael commented on #301
Nice!

When I did the FF tested I messed around in FF a bit and managed to break the editing.. but i couldn't reproduce it.. it's like a rapid typing concurrency thing supposedly.

[2015-11-28 21:23] #301 closed, assigned to obuchtala

[2015-11-28 21:51] michael commented on #302
Regarding terminology... let's call the more top-level parts Sections not to be confused by Panels which are wrappers for scrollable content. Or do you have a better word for 'panel' even?

Here's two possible structures:

[code]

[code]

I'm just not sure if the wrapping component Panel we call it now is actually something less top-level. More a ScrollableElement ? ScrollableWidget... or is it ju

[2015-11-28 21:53] obuchtala commented on #280
I like `ui/SurfaceCommand[]` most. `[ui/SurfaceCommand]` is confusing, particularly when considering the semantics of `[param]`

[2015-11-28 21:54] #278 closed, assigned to nobody

[2015-11-28 21:55] michael commented on #280
ui/SurfaceCommand[] is good :+1:

[2015-11-28 22:02] obuchtala commented on #302
In Java Swing you can nest Panels, so they are not necessarily top level. There is e.g. a ScrollablePanel.
Dunno. Sorry.

[2015-11-28 22:04] michael commented on #302
Things is that we don't do inheritance anymore where Panel is an abstract class.. From now on Panels will be instantiated wrapping what you pass as children via append. I just leave the name panel for now.. but that needs a bit of thinking I guess.

[2015-11-29 05:28] #224 closed, assigned to nobody

[2015-11-29 05:30] obuchtala commented on #280
This doesn't get translated to `Array.<..>` anymore.
However CrossLinks not working yet.

[2015-11-29 05:30] #280 closed, assigned to nobody

[2015-11-29 05:33] obuchtala opened #307 "Better cross-link detection in parameter docs."
ATM we enable cross-links when the type string === a node id. Now we need to parse the type strings. Beyond having array types like `<id>[]` it is also possible to have alternatives `<typeA>|<typeB>|<typeC>`.

[2015-11-29 08:52] michael commented on #302
There's a problem with this decoupled approach :(. Often the implementation wants to interact with the Panel API. E.g. in BibItemsPanel we do this:

[code]

Now I would need use the sendAction API to interact with the panel that wraps me. Feels a bit weird to me. I mean I'm just realizing we have some hard dependencies btw the panel content functionality and the panel logic. It would be desirable

[2015-11-29 10:40] obuchtala commented on #302
Hmmm... You could use the context, alternatively.

[2015-11-29 10:41] michael commented on #302
Maybe it's an option to not make the panel wrapping automatically but let the implementer do this. Then BibItemsPanel would use a panel.. instead of being wrapped by a panel.

[code]

Again then we have the tight coupling but with the scrollToStuff we probably need it anyway somehow. However now the initial scrollTo can be triggered via `this.refs.panelEl`.

[code]

[2015-11-29 10:41] michael commented on #302
How you mean with context?

[2015-11-29 10:42] obuchtala commented on #302
Panel#getChildContext() -> panel: this

[2015-11-29 10:43] obuchtala commented on #302
Don't know... maybe I didn't understand you fully.

[2015-11-29 10:44] obuchtala commented on #302
Refs won't work I think, because they are set for the owner.

[2015-11-29 10:47] obuchtala commented on #302
Could you explain again why making TOC render the panel and the content is a solution?
That is the way we did it, right?

[2015-11-29 10:47] michael commented on #302
Ah yeah context would work too.. the thing is as soon as we have a dependency to the panel.. we don't win much with separating the panel from the actual TOC component etc.

This approach would be easy to follow I think:
https://github.com/substance/substance/issues/302#issuecomment-160397917

[2015-11-29 10:48] michael commented on #302
No the way we did it was that we extend Panel to a TocPanel and then have a convention for the panel structure.

[2015-11-29 10:49] obuchtala commented on #302
Yeah, just to hide strong coupling with DI is rather bad.

[2015-11-29 10:49] michael commented on #302
Which was error prone. E.g. when forget to set `se-panel-content-inner`.

[2015-11-29 10:49] obuchtala commented on #302
Ok. So Panel is now just a better to use Component.
I think this approach is clean.

[2015-11-29 10:51] michael commented on #302
the approch with using panel inside Toc et al would also allow to control the markup for a dialog panel.. i wouldn't want to generalize this too much.. soemtimes you want to make your own ui control is that dialog header. but if we instantiate the dialog automatically users cant't intervent. Writing an example...

[2015-11-29 10:56] michael commented on #302
[code]

_cite-dialog.scss could then control the layout.

[code]

[2015-11-29 11:07] obuchtala commented on #302
Ok.

[2015-11-29 13:35] michael opened #309 "Doc: private classes still considered in doc.getTocNodes()"
The markActiveTocEntry functionaltiy of the content panel now complains:

![image](https://cloud.githubusercontent.com/assets/2931/11457329/55eefb5a-96a6-11e5-85de-5aca3cc109c9.png)

[2015-11-29 15:15] michael opened #310 "Remove toc logic from model and provide it via DI (e.g. tocProvider)"

[2015-11-29 15:16] michael commented on #309
Found the cause and fixing it in my dev branch. The reason was that config was not passed down accordingly. We need to get this getTOCNodes out of the model implementation in a next step. Opened #310 for that.

[2015-11-29 15:16] #309 closed, assigned to nobody

[2015-11-29 16:09] michael opened #311 "Component not rerendered when preserved"
Is it possible that components are not rerendered by default when they are preserved (and class did not change). I just had such a case during my panel refactorings. It seems it gets recycled as it should but actually a rerender should be triggered unless shouldRerender is defined and returns false.

Will follow up with an example from that updated codebase.

[2015-11-29 16:22] michael commented on #302
Seems to come together quite well... finally... I've been running in cycles here for way too long. Soon to push results.

[2015-11-29 16:32] michael opened #312 "Click handlers bound to parent not to owner."
[code]

in the `startSearch()` handler `this` is bound to the panel component, not the AddBibItemPanel.

[2015-11-29 16:34] michael commented on #312
Same goes for refs! That's actually critical. We never ran into it since we didn't use wrapper panels that often.

[2015-11-29 16:37] obuchtala commented on #312
Will take a look.

[2015-11-29 16:53] michael commented on #311
You can reproduce using lens#panel-refactor. The relevant code is here:

https://github.com/substance/lens/blob/panel-refactor/LensWriter.js#L160-L161

[2015-11-29 18:20] Integral commented on #299
@oliver---- what we should do with indexing? Currently we are passing change object to queue... Probably we should also drop support off update type of index... right?

[2015-11-29 18:25] obuchtala commented on #299
No, for now it's just about the Document API. Internally we need the incremental API somehow. The API in index is ok.

[2015-11-29 18:26] Integral commented on #299
so we still need to call data's this.update?

[2015-11-29 18:27] obuchtala commented on #299
internally we need it somehow, otherwise we don't have a way to do incremental updates.
So the pragmatic approach now would be, to create a more convenient API, which just uses the old implementation, making it 'private'.

[2015-11-29 18:33] Integral commented on #299
ok, we would just translate Arr.insert(tx, path, offset, val) to old update(path, diff), right?

[2015-11-29 18:35] obuchtala commented on #299
As a first step this would be the easiest way, yes.

[2015-11-29 19:47] Integral commented on #299
Like this? https://github.com/substance/substance/blob/incremental-update/model/Array.js

[2015-11-29 21:25] obuchtala commented on #299
Hmm. I think tx should take care of storing the op itself.

I think it would be enough to just do:

[code]

[2015-11-29 21:28] Integral commented on #299
ok, thanks

[2015-11-29 21:29] obuchtala commented on #299
ah ... my code is wrong actually. you don't have oldValue at first. You would need to get the value first...

[2015-11-29 21:30] obuchtala commented on #299
After the first iteration we will deprecate `.update` and finally try to get rid of it.

[2015-11-29 21:34] Integral commented on #299
Don't worry :)

[2015-11-29 21:52] michael commented on #311
I now use props to propagate things for the ContextSection, but still no rerender happens. :(

Test with Lens#panel-refactor. Open References panel and click on the focus buttons. The app will react except for the panel itself, because ContextSection just does nothing.

[2015-11-30 07:52] obuchtala commented on #312
This is solved in experimental branch 'issue-312'.
I had to make breaking changes to the Component API, so we need to re-iterate first on demos and lens.

[2015-11-30 08:43] michael commented on #311
Fixed.

[2015-11-30 08:43] michael commented on #302
Fixed via #308

[2015-11-30 08:43] #302 closed, assigned to nobody

[2015-11-30 15:38] Integral commented on #299
@oliver---- it's done someway... (5bee867f5dd627215992d0201e2236ab41447c76)
But do we really need to make class here? I don't understand why...

[2015-12-01 12:23] obuchtala opened #314 "Improve internal implementation of Component rendering"
I want implement the following workflow:

[code]

ATM, 'render()' is called during the 'diffing' phase which makes debugging a bit hard to understand.
Also, the current implementation is sub-optimal regarding rerendering performance.

The good thing is, that this is not a breaking change.

[2015-12-01 13:28] obuchtala commented on #312
Inadvertently closed via commit.

[2015-12-01 13:37] obuchtala commented on #311
Analyzing the code in ContextSection, I found out that the taken approach is invalid.
During rendering, ContextSection derives props for its child, the panel component, dynamically from the parent's state. As this issue shows, the approach generates the expectation, that just by changing the parent state the panel would get rerendered. This is a violation of the contract, that **a component is rer

[2015-12-01 13:37] #311 closed, assigned to nobody

[2015-12-01 13:42] obuchtala commented on #311
I changed lens accordingly in substance/lens@6880b2c5977e4369f11c34335b839fc9153feaab

[2015-12-01 19:52] maacl opened #315 "localhost:4201/docs errors out"
I get:

[code]

when hitting localhost:4201/docs

[2015-12-01 19:56] maacl opened #316 "Tutorial"
The tutorial at:

[code]

appears incomplete. I would like to help create this, as it appears to be a cool way to learn substance. Is there a way I can help out? My goal with learning substance would be to make a substance based editor focused on legal documents. I know a little Javascript, but I am much more comfortable with Clojurre/ClojureScript so my goal would be to access substance from Cloj

[2015-12-01 20:45] michael commented on #316
Hey it would be great if you could help out here. :) I had a more comprehensive tutorial for the Nodepad example but it's not updated yet. It's still in the README.md file I just commented it out.

Maybe you can work on that file and send a pull request: https://raw.githubusercontent.com/substance/examples/master/notepad/README.md

For the official tutorial it should be straight Javascript, but if

[2015-12-01 22:18] michael commented on #315
Thanks. This should be fixed now. Can you try again?

[2015-12-02 06:38] maacl commented on #315
Now works. Thanks.

On Tue, Dec 1, 2015 at 11:18 PM Michael Aufreiter notifications@github.com
wrote:

[2015-12-02 17:34] #315 closed, assigned to nobody

[2015-12-02 17:35] michael commented on #185
Good enough for beta 2.

[2015-12-02 17:35] #185 closed, assigned to nobody

[2015-12-02 17:35] #279 closed, assigned to nobody

[2015-12-02 21:15] Integral opened #317 "AnnotationCommand.isDisabled unused arg"
[AnnotationCommand.isDisabled](https://github.com/substance/substance/blob/master/ui/AnnotationCommand.js#L31) receives annos as first argument, but nether uses it. Do you really need this?

[2015-12-03 10:57] netsgnut opened #319 "Select All by Keyboard Shortcuts Results in Unexpected Behaviours"
As far as I know Substance wraps selections in various browsers, however it seems the use of keyboard shortcuts for Select All (Ctrl-A/Cmd-A/Meta-A) results in various unexpected behaviours. For example in Firefox/Gecko, pressing Ctrl-A won't result in highlighting of any of the text. However in Chrome/Webkit, pressing Ctrl-A highlights all of the text, but any further keystrokes append text after

[2015-12-03 11:02] netsgnut commented on #319
Also as a side note, it seems currently Firefox/Gecko has quite a number of strange behaviors too. May I ask if an official support on the latest version of Firefox is anticipated? Thanks.

[2015-12-03 11:11] obuchtala commented on #319
Oh! Thanks for reporting.

Yes, Firefox is totally on our list. We are actually running our test-suites against Chrome and FF. However, we don't know yet how to test top-level native interactions, i.e. doing a real 'Select All', not just emulating it.

So these are regressions. We will try to fix it ASAP.

[2015-12-03 11:38] obuchtala commented on #319
It seems that we have a regression which prevents receiving any keyboard events in FF.
Investigating.

Edit: ... and then native ContentEditable takes over leading to very weird behavior.

[2015-12-03 12:10] obuchtala commented on #319
Fixed this via e3d61738e223f3019d3d0347a36bd204ca526a66.

Still I want to investigate if we can improve the situation regarding test-suite.

[2015-12-03 12:12] obuchtala commented on #319
@michael shall we roll this out for beta 2?

[2015-12-03 13:17] obuchtala opened #320 "Test native ContentEditable manipulations."
Mostly, we try to suppress native CE features, such as when the user types text. Some of the actions, such as copy n paste, can be triggered using `document.execCommand`.

[2015-12-03 13:19] obuchtala opened #321 "Implement a MutationObserver fallback to catch direct DOM changes."

[2015-12-03 14:58] Integral opened #322 "Panel: getScrollableContainer and getPanelContentElement are the same"
[this.getPanelContentElement](https://github.com/substance/substance/blob/master/ui/Panel.js#L39) and [this.getPanelContentElement](https://github.com/substance/substance/blob/master/ui/Panel.js#L43) are the same...

[2015-12-03 15:49] obuchtala commented on #314
After some thinking a come to the point, that my original proposal is not making it much better.
But what would make it better is:
- Create **real** DOM nodes (as opposed to virtual ones) during initial rendering or when a component can be wiped (i.e. has no persisted children).
- Switch to differential updates only if necessary, i.e. when there is at least one persisted child, creating VirtualDOM

[2015-12-03 16:11] obuchtala commented on #320
Maybe we can use

[code]

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/KeyboardEvent

[2015-12-03 16:19] obuchtala opened #324 "Should we rename 'document:changed' -> 'transaction:applied'?"
Last night I had the thought, that `document:changed` is simply not accurate.
@michael What do u think about `transaction:applied`, in accordance to `operation:applied`?

[2015-12-03 16:21] michael commented on #324
Sounds good to me.. transaction:applied makes better clear the context. would `transaction:applied` be equal to current `document:changed` ?

[2015-12-03 16:25] obuchtala commented on #324
Exactly, because that change you receive currently is actually the result of the transaction. Maybe only that undoing/redoing is replaying 'transactions', and exchanging 'transactions' between clients... but maybe that is fine, too?

[2015-12-03 17:17] netsgnut commented on #319
Yes I can totally understand that - testing browser default interactions is tricky. I personally am interested in knowing if there are existing solutions out there for that, too.

Although it still couldn't replace an automated test, I think we might want to dogfood more on the intended browsers - often it feels like being a second-class using Firefox ;)

[2015-12-04 02:19] michael commented on #274
Done.

[2015-12-04 02:19] #274 closed, assigned to michael

[2015-12-04 06:00] michael opened #325 "Better browserify errors"
We currently use this code for our ad-hoc browserify bundling:

[code]

However, this gives us crappy errors e.g. when a require path is wrong:

[code]

It only tells us the folder where the problem happened but not the actual file.

@Integral maybe there is a way to find out what the actual file was that did the bad require. Maybe you have some time to investigate this.

[2015-12-04 13:15] Integral commented on #325
@michael i think it is not possible without source maps...

[2015-12-04 13:22] Integral commented on #325
and i'm not sure that we want to introduce source maps...

[2015-12-04 13:33] obuchtala commented on #325
I think we already have source maps (`debug: true`).
Just the browserify error is unspecific. Maybe there is a solution out there?

[2015-12-04 13:37] obuchtala commented on #325
Not solving this issue, but just as a reference what others do about errors.

http://latviancoder.com/story/error-handling-browserify-gulp
https://gist.github.com/apfelbox/b2d5ee9fe32e5b42adb2

[2015-12-04 13:39] Integral commented on #325
i saw this, but it's about gulp...

[2015-12-04 13:45] obuchtala commented on #325
I fear, that is not browserify's fault:

https://github.com/substack/node-resolve/blob/5cae82fb22cb64d5b72f703c787dc0fd418ed412/lib/sync.js#L17-L33

The implementation uses dirname for the error :(

[2015-12-04 13:48] Integral commented on #325
To confirm your fears I could say that in other cases we have normal error trace...

[2015-12-04 13:49] obuchtala commented on #325
There is a PR: https://github.com/substack/node-resolve/pull/64

[2015-12-04 13:49] obuchtala commented on #325
Maybe it gets fixed soon.

[2015-12-04 13:51] Integral commented on #325
Khm... It's there from beginning of year

[2015-12-04 13:51] obuchtala commented on #325
For now we could fork browserify and patch together a version with this https://github.com/jmm/node-resolve/commit/4eb424ba952af0c651fcaf14e05395b146c541dc included

[2015-12-04 13:52] obuchtala commented on #325
Hmmm.. yes, true :(

[2015-12-04 13:56] Integral commented on #325
Do we really need this if it's related only to `Cannot find module` errors?

[2015-12-04 14:00] obuchtala commented on #325
That this would be helpful is out of question, because with our 'flat' directories we don't have a clue in which file the failing require is actually. But the question is if we really want to fix it on our own.
And you still can go into the directory and do a `find all` using the failed required path. But needless to say that this is inconvenient, and introducing a bareer for less experienced peop

[2015-12-04 14:10] Integral commented on #325
If we don't expect any new things from browserify then we could do it... I see no cons

[2015-12-04 14:16] Integral commented on #325
Should I do it?

[2015-12-04 14:18] obuchtala commented on #325
If you want, that would be great! :)

Just as a motivation why we brought this up: during migration of Stencila's integration to beta2, we had a lot of require issues, due to file renaming. And we had to look up every error manually.

[2015-12-04 14:19] maacl commented on #316
Michael,

Great stuff. I will try to work a bit on this over the weekend.

On Tue, Dec 1, 2015 at 9:45 PM Michael Aufreiter notifications@github.com
wrote:

[2015-12-04 14:44] Integral commented on #325
ach, it's not relevant already, grrr... will look into

[2015-12-04 14:45] obuchtala commented on #325
hehe ;)

[2015-12-04 16:28] Integral commented on #325
Done! Cheers!

[2015-12-04 17:16] Integral commented on #325
Before closing this issue... Pls delegate me something outside of docs...
@oliver---- pls take a look at incremental issue, i will then provide test for it, maybe you need another tests?

[2015-12-04 18:13] michael opened #327 "Put dev server stuff into a serverUtils module"
Can we put our dev server stuff into a lib? So we don't have to write it all over again?

[code]

@Integral you want to take that?

Please find a good API for it... maybe provide a middleware thing, so it can be used like this:

[code]

[2015-12-04 19:29] Integral commented on #327
Yep.

[2015-12-05 21:53] Integral commented on #327
I did try to create more general thing, like router which you can connect with line of code, but it looks like in express you can't send any params to router. And we need it for path etc. So here what we have #328.

[2015-12-05 23:04] Integral commented on #327
BTW, do we want to use koa instead of express?

[2015-12-07 16:01] jacwright commented on #320
You suppress when the user types text? Don't you lose tons of localization features provided by the browser by suppressing  typing? Or have I misunderstood.

[2015-12-07 16:12] obuchtala commented on #320
Actually we redirect the change and reading it leveraging the native impl. A bit of a dance..
You are right, otherwise it would be crazy.

[2015-12-07 16:13] obuchtala commented on #320
In Safari/Chrome it is easier... there you have textInput events.

[2015-12-08 03:36] obuchtala commented on #320
Just saw that even for IE and FF the solution isn't that bad anymore, as the regular key events are much better there.

[2015-12-09 12:05] michael opened #329 "Include an all.scss file that has styles for all Substance components"
That way we don't need to maintain that list in so many places. There are no high costs of including styles that are not used in a project.

[2015-12-09 12:09] michael opened #330 "Upgrade ContentPanel to use ScrollPane API"

[2015-12-09 12:23] michael commented on #322
This is now overhauled in ScrollPane. But needs a bit more work before ready.

[2015-12-09 12:23] #322 closed, assigned to nobody

[2015-12-09 12:26] michael opened #331 "TocPanel scrolls in unexpected way"
Can be reproduced in DocumentationReader by just clicking on the last TOC item for instance.

[2015-12-10 19:34] rywall opened #332 "Notepad application thinks heading is todo item."
To replicate:
1. Go to http://substance.io/
2. Type a word directly after the last todo item.
3. Switch the text from a paragraph to a heading, codeblock, or blockquote.
4. The todo button shows as selected even though the text is not a todo item.

![image](https://cloud.githubusercontent.com/assets/7904/11726131/fe618198-9f31-11e5-9799-ace4217b1776.png)

[2015-12-11 12:34] michael opened #333 "Update scrollbar on DOM reflow/repaint"
Currently we update the scrollbar on every document change, however we should aim to make this more generic. The scrollbar should update if any of the DOM inside the scrollPane content has changed.

I' not sure what the best way is to detect this. I thought of making use of the `DOMMutationObserver`. Can it be configured that it also fires when a grand child has been updated?

Any other ideas here

[2015-12-11 14:11] netsgnut commented on #333
I haven't tried that myself, but it seems there is a `subtree` option for the [DOMMutationObserver](https://developer.mozilla.org/en/docs/Web/API/MutationObserver). Could it be something you are looking for?

[2015-12-11 16:50] michael commented on #332
Thanks. You are right.. Mistake is in the TodoCommand implementation.

https://github.com/substance/examples/blob/master/notepad/TodoCommand.js#L23-L26

[2015-12-11 16:53] michael commented on #332
Fixed. Will be rolled out with the beta 3 release next week.

[2015-12-11 16:53] #332 closed, assigned to nobody

[2015-12-11 23:36] michael commented on #333
Oh that sounds promising. Will try!

[2015-12-12 01:48] michael opened #335 "Some refs are lost on subsequent rerenders."
Ran into a bug where I want to access this.refs.contentPanel in LensController but it disappears after the first incremental rerender.

Reproduce:
- Check out lens#content-panel-refactor
- Click through several toc items.

Relavant usage code: https://github.com/substance/lens/blob/content-panel-refactor/LensController.js#L47-L50

I suppose we should fix this via #313. @oliver---- can we get this

[2015-12-12 20:15] #325 closed, assigned to Integral

[2015-12-14 22:03] michael commented on #331
We missed to call ref for all toc entries. Solved.

[2015-12-14 22:03] #331 closed, assigned to nobody

[2015-12-14 22:04] michael opened #336 "Memory leak: Navigating in the TOC (DocumentationReader) gets slower after subsequent clicks"
Investigate.

[2015-12-14 22:44] michael opened #338 "Doc: [optional] does not work for component @prop"

[2015-12-15 15:23] michael opened #339 "Styles are broken on substance.io/docs"
@Integral can you check why this is... when I run docs locally on master everything is fine.

[2015-12-15 15:54] michael commented on #330
Done.

[2015-12-15 15:54] #330 closed, assigned to nobody

[2015-12-15 15:54] michael commented on #329
Done.

[2015-12-15 15:54] #329 closed, assigned to nobody

[2015-12-15 15:55] michael commented on #327
Done.

[2015-12-15 15:55] #327 closed, assigned to Integral

[2015-12-15 15:56] michael commented on #310
Done via #334.

[2015-12-15 15:56] #310 closed, assigned to michael

[2015-12-15 16:55] michael commented on #28
Added that info to the feature table.

[2015-12-15 16:55] #28 closed, assigned to nobody

[2015-12-15 17:56] Integral commented on #339
khm... looks like it's not a style issue, markup is different...

[2015-12-15 17:59] Integral commented on #339
@michael i think the reason is here https://github.com/substance/substance/blob/master/browser.js#L1
there is no index.js, so it fails during gulp building

[2015-12-15 18:05] Integral commented on #339
sorry, that was a wrong trace, however I'm not understand what is build task for gulp

[2015-12-15 18:34] Integral commented on #339
wooo, fixed by 7b0d773fffea201bba22afa521a46db27439e16e

[2015-12-15 18:34] #339 closed, assigned to Integral

[2015-12-15 18:48] michael commented on #339
Daamnit. This is really annoying. Node+Browserify under OSX just does not complain when you require('ui/PaNeL') or whatever... also git does not recognize a file name change when you just turn a letter upper or lowercase.

[2015-12-15 19:08] Integral commented on #339
;)

[2015-12-15 22:32] michael commented on #336
Found out what is the root of the evil:

https://github.com/substance/substance/blob/master/ui/TOCPanel.js#L53

It seems that because the owner is confused and I manually need bind the click handler to `this` the handler gets attached on each rerender, causing the slowdown we observe. I can workaround this via jQuery click handler but we should get this fixed soon via #313.

[2015-12-15 22:57] michael commented on #336
Is it possible that component click handlers are leaking always?

[code]

This causes a lot of 'clicked' logs.

[2015-12-16 08:32] obuchtala opened #340 "Implement a transform variant for maintaining multi-user undo histories."
There might be more problems of this kind, now revealed as we are using the rebase API so much for maintaining independent undo/redo histories.

Consider this scenario:

[code]

While this is basically a conflict scenario, it is still clear how the expected result would look like.
The solution to this is to implement TextOperation.transform in such a way that in this case it creates a composite op

[2015-12-16 19:30] obuchtala opened #341 "substance/model/DOMImporter#convertContainer should return an array of ids"
We would like to do

[code]

instead we have to do this workaround:

[code]

[2015-12-16 19:33] michael opened #342 "DOMImporter.annotatedText"
Provide options as a 3rd argument. E.g. for trimming whitespace. Also add proper documentation.

[code]

[2015-12-17 03:08] obuchtala commented on #336
With the current issue-312 branch I have fixed the owner/parent issues.
It seems to me that this is resolved with that.
@michael could you try out plz?

[2015-12-17 03:10] obuchtala commented on #335
This should be fixed in PR #313 now

[2015-12-17 03:12] obuchtala commented on #324
Dropping this, as with the new implementation of DocumentSessions you also get a DocumentChange event for primitive changes such as doc.create().

[2015-12-17 03:12] #324 closed, assigned to nobody

[2015-12-17 03:13] obuchtala commented on #324
DocumentSessions are part of PR #337

[2015-12-17 03:21] obuchtala commented on #342
Maybe we should go one step further and make trimWhitespaces:true the default behavior and instead introduce an option to disable trimming in certain situations, such as preformatted text?

[2015-12-17 04:14] obuchtala commented on #342
Done.

[2015-12-17 04:14] #342 closed, assigned to nobody

[2015-12-17 04:16] obuchtala commented on #341
Changed this a bit. No need to return the array of ids.
Instead DOMImported#convertContainer now creates a new container node.

[2015-12-17 04:16] #341 closed, assigned to nobody

[2015-12-17 08:51] obuchtala opened #345 "InlineNodes should not need to render 'data-external' etc."
This is cumbersome and leads to errors. Can be done in automatically TextPropertyComponent.

[2015-12-17 17:39] michael commented on #335
Yeh works now!

[2015-12-17 17:39] #335 closed, assigned to obuchtala

[2015-12-17 18:37] obuchtala commented on #336
Fixed via #346

[2015-12-17 18:45] #336 closed, assigned to obuchtala

[2015-12-17 18:46] michael commented on #312
fixed via #346

[2015-12-17 18:46] #312 closed, assigned to nobody

[2015-12-17 18:52] michael commented on #157
Will try to land this one in Beta3....

[2015-12-17 18:54] michael commented on #149
I assume this is no longer an issue... will check.

[2015-12-17 18:55] michael commented on #14
Let's run the latest Substance on Edge and see if there are issues now.

[2015-12-17 18:56] michael commented on #170
I think it's not needed. Turned out utilising this.props.children works for all the cases we need currently.

[2015-12-17 18:56] #170 closed, assigned to obuchtala

[2015-12-17 18:59] michael commented on #50
So things changed a bit here.. the Notepad example requires a doc instance as a prop, so conversion is now a task of the component user. However we should check how the editor deals with an empty container. Will come up with a solution for that.

[2015-12-17 19:03] michael commented on #141
It does not make sense to allow this actually. Also the latest Toolbar/ToolGroup refactor. made this change request obsolete.

[2015-12-17 19:03] #141 closed, assigned to nobody

[2015-12-17 19:07] michael commented on #60
Mostly done now. We should just get rid of the event mechanism on DocumentNode to propagate highlight changes.

[code]

The `.sm-highlighted` class should be set by the system automatically (e.g. within TextPropertyManager).

[2015-12-17 19:23] obuchtala commented on #14
Still the same.

[2015-12-17 19:26] obuchtala opened #347 "TOC still shows the wrong element as active"
This happens under all browser on my PC.

[2015-12-17 19:27] michael commented on #347
You mean it's one item off? Or generally broken?

[2015-12-17 19:29] obuchtala commented on #347
One off. Some pixels too high on the left side...

[2015-12-17 19:30] michael commented on #347
It goes off for me when I zoom in into the page. But with 1:1 ratio it works predictable.

[2015-12-17 19:31] obuchtala commented on #347
No zoom configuration works for me.

[2015-12-17 19:32] obuchtala commented on #347
Ah you are right 100% works in chrome.

[2015-12-17 19:33] obuchtala commented on #347
But not in Edge.

[2015-12-17 19:36] obuchtala commented on #347
Works for me with

[code]

[2015-12-17 19:36] obuchtala commented on #347
Maybe you should add this 1px where you evaluate this for the active element.

[2015-12-17 19:39] michael commented on #347
That would fix it for 99.9% I think... let's try it for a while... I think the problems arise from some float rounding, when we don't have even pixels. Which may happen on zoom or in some browser's offset calculations.

[2015-12-17 19:42] obuchtala commented on #347
Even 0.1 works for me... with all zoom factors. I have the feeling that it is really just a numerical residuum... not a big error. Which would be classical in numerical computing...i.e. sometimes the exact discrete value is not a good choice when you are dealing with fractions and limited registers.

[2015-12-17 19:44] obuchtala commented on #347
It might even be that 1px is an upper bound for the numerical error (considering a truncate of 0.x).

[2015-12-17 19:53] obuchtala commented on #319
@michael can u check this on OSX?
I check my Windows and linux browsers.

[2015-12-17 19:54] obuchtala commented on #319
Working under Windows Chrome, FF, and Edge.

[2015-12-17 19:59] michael opened #348 "Hide native scrollbar in FF"
![image](https://cloud.githubusercontent.com/assets/2931/11880411/da014840-a500-11e5-886c-07da825c90b3.png)

Hopefully there's a better way than overlaying it with a white div (as we solved this for Lens back in the days)

[2015-12-17 20:00] michael commented on #319
Works on OSX Chrome/Safari/FF. Tested in Lens and pressed cmd+a in title editor / abstract editor and body editor.

[2015-12-17 20:02] obuchtala commented on #348
Is there something helpful? https://support.mozilla.org/en-US/questions/957337

[2015-12-17 20:07] obuchtala commented on #348
Found this incredibly hacky solution: http://stackoverflow.com/questions/20997183/how-to-hide-scrollbar-in-mozilla-firefox

[2015-12-17 20:11] obuchtala commented on #14
Is it so that double click should select a word and triple click the whole node?

[2015-12-17 20:17] michael commented on #14
yep that would be ideal i think.

[2015-12-17 23:03] #347 closed, assigned to nobody

[2015-12-18 00:09] michael commented on #157
See first attempt: #349 works quite well as long as you don't click between the lines, where no mousedown event is triggered. Why is that? :/

[2015-12-18 02:42] obuchtala commented on #157
Thx. Doing this on Surface works perfectly.

[2015-12-18 02:43] obuchtala commented on #14
Turned out to be regression of the persisted selection impl on blur.

[2015-12-18 03:08] obuchtala opened #351 "In FF selecting a citation looks strange."
![ff-issue](https://cloud.githubusercontent.com/assets/284099/11888393/1ebc461a-a53d-11e5-8000-9e9c568f6dd9.gif)

[2015-12-18 03:19] #14 closed, assigned to nobody

[2015-12-18 03:19] #157 closed, assigned to nobody

[2015-12-18 03:52] obuchtala opened #352 "Optimize DOM selection mapping"
Inspired by Prosemirror I want to leave more information in the rendered nodes that makes mapping the selection from and to the DOM easier.
The idea is to let TextPropertyComponent store character offsets in `data` attributes.

[2015-12-18 03:59] obuchtala commented on #119
The selection issue is fixed.
I will open another issue for the 'typing over' behavior I mentioned.

[2015-12-18 03:59] #119 closed, assigned to nobody

[2015-12-18 04:01] obuchtala opened #353 "Typing over a ContainerSelection spaninng full nodes should write into the first."
At the moment the selection gets deleted first, which has the effect that when typing over such a selection the content goes into the last (or next to last) paragraph, which is not the expected behavior.

I.e., when the user selects a heading and a paragraph and starts typing, we would expect to see the content go into the heading.

![issue-353](https://cloud.githubusercontent.com/assets/284099/11

[2015-12-18 04:11] obuchtala opened #354 "Selection glitch in FF when triple clicking between lines."
A combination of wrong selection mapping (already after double click) and the new triple click handling leads to this:

![issue-354](https://cloud.githubusercontent.com/assets/284099/11889122/bc57fc40-a545-11e5-8b6e-a7474759603d.gif)

[2015-12-18 04:12] obuchtala commented on #354
FF gives a range which is anchored on the container node element with offsets 1 and 2.
All other browsers provide the property element as anchor.

[code]

[2015-12-18 04:25] obuchtala commented on #340
Actually, my intended functionality is not covered by OT. It is more a special implementation for maintaining undos, still being almost identical to the transform implementation in most cases, i.e. if no direct data dependency exists.

[2015-12-18 04:40] obuchtala opened #355 "Model selection does not get updated, after clicking on an existing selection."
![issue-355](https://cloud.githubusercontent.com/assets/284099/11889483/eb36f7c4-a549-11e5-866a-7c3659539733.gif)

[2015-12-18 04:42] obuchtala commented on #355
Probably a regression.

[2015-12-18 05:32] obuchtala commented on #319
Also under Ubuntu Chrome / FF no probs.

[2015-12-18 05:32] #319 closed, assigned to nobody

[2015-12-18 05:37] obuchtala commented on #50
I think ContainerEditor should always make sure that there is at least one node to interact with.

[2015-12-18 12:34] michael commented on #355
I don't see this. Which browser?

[2015-12-18 15:26] maacl commented on #316
Michael,

I have not forgotten the tutorial, just been unexpectedly busy.

How to look at it over Christmas.

Martin

On Fri, Dec 4, 2015 at 3:18 PM Martin Clausen martin.clausen@gmail.com
wrote:

[2015-12-18 15:48] obuchtala commented on #102
@jacwright I think that is exactly what we want to do

I think we are all good, as we have undo and redo modeled as ControllerCommand which is working on a app level. So we should be able to achieve all we need.

WIth realtime collab there are some more challenging issues regarding undo in presence of other users' changes - but that is a different story.

[2015-12-18 15:48] #102 closed, assigned to nobody

[2015-12-18 18:50] obuchtala commented on #355
You need to click on the node which you triple-clicked.

[2015-12-18 19:26] obuchtala commented on #50
We discussed that this should be done UX wise. I.e. the ContainerEditor should a message and provide a button or such that would create a first node.

[2015-12-18 21:37] michael opened #356 "Slow on Firefox when typing fast within Lens"
Tried rapid typing on OSX Firefox and it feels kind of slow. I did not have the inspector open. Can you confirm that on Windows?

[2015-12-18 22:49] obuchtala commented on #356
Hmmm.. what would mean 'kind of slow' now ;)

I don't see a difference on Windows. But might be that you would say that it is kind of slow....
Under windows I always had the feeling that low-level events are not coming in as on your computer. That's why I could never observe any 'rapid typing' problems.

Comparing with other editors, it feels the same as in prosemirror or this editor here on githu

[2015-12-18 22:50] obuchtala commented on #356
Can u please do the same comparison in your FF?

[2015-12-18 22:52] obuchtala commented on #355
It's actually with every selection, not only tripple clicks..

[2015-12-19 00:25] obuchtala commented on #348
Fixed via 3c72363e4ff72a46153616b4615118ab6118cf5e

[2015-12-19 00:25] #348 closed, assigned to michael

[2015-12-19 00:26] obuchtala commented on #351
Fxed via b98df0fbd62dc020943762878ce3e00c5e304fa8

[2015-12-19 00:26] #351 closed, assigned to michael

[2015-12-19 00:26] #354 closed, assigned to nobody

[2015-12-19 00:30] obuchtala opened #358 "Selection mapping in IE11 is broken."
We must have lost this recently, probably since beta2.

[2015-12-19 00:38] #355 closed, assigned to nobody

[2015-12-19 01:23] #358 closed, assigned to obuchtala

[2015-12-19 01:25] obuchtala commented on #356
Turning off preservative rendering in AnnotatedTextComponent increases performance.
Can u plz deactivate that there and see how this changes the speed?

[2015-12-19 01:41] obuchtala commented on #356
I disabled preservative rendering of TextProperties for now.
We need to optimize the render implementation first.

[2015-12-19 01:46] obuchtala opened #359 "Cursor is wrong for citations etc. in Edge"
CSS cursor:pointer seems to be ignored by Edge

[2015-12-19 01:47] obuchtala commented on #359
Only in contenteditable.

[2015-12-19 02:19] obuchtala opened #360 "Comparing container addresses does not work correctly"
At the moment, container addresses are just plain arrays. At several places we do comparisons like

[code]

which essentially takes the string representation for comparison.
This is obviously wrong: as `'[21,1]' < '[3,0]'`, for instance.

Instead we should use a dedicated Address class with :

[code]

[2015-12-19 14:36] michael commented on #356
Even without preservative rendering I can observe the lag. It gets worse in paragraphs that have a number of citations inside. However, even for plain text i can see the chars appearing after i stopped typing. It seems really only Firefox is affected. All other browsers update fast with or without preservative rendering.

[2015-12-20 13:28] michael commented on #149
This is still not addressed in the current implementation. It fails here:

![image](https://cloud.githubusercontent.com/assets/2931/11918138/226e4f6c-a725-11e5-8e72-5cb271def3f1.png)

getAddressablePropertyNames returns an empty array here. And of course you can not determine a path for a non-existent property.

What semantics should getPathForAddress have for nodes that have no text properties? S

[2015-12-21 10:29] michael opened #362 "Implement TabbedPane component"

[2015-12-21 10:30] michael opened #363 "Implement SplitPane component"

[2015-12-21 14:28] michael commented on #363
It would be a use-case for component outlets, as we we need to provide contents for left and right side of the panel. I will model this using props for now.. and see how it goes. API suggestion:

[code]

[2015-12-21 20:40] michael commented on #363
Came up with this now, which feels a bit more natural:

[code]

In order to keep markup to a minimum I just take the two children passed in and render them as childs of the SplitPane and just attach a `se-pane-1` and `se-pane-2` class to them to do some flex-box layouting on them. However the rule is to not assign any layout styles to those containers as that would be mixed with the styles the Spl

[2015-12-22 13:52] michael commented on #149
I tested this but I still see the same error. Can we investigate that together?

[2015-12-22 14:04] obuchtala commented on #149
I am working on this. Needs to be solved in Container.

[2015-12-22 14:14] obuchtala commented on #149
Now this should be working basically. Not perfect yet, but ok to continue.

[2015-12-22 16:59] michael opened #367 "markActiveEntry logic makes scrolling in large documents significantly slower"
Let's see what can be done here to optimise.

One source could be the lookup for each TOC element in the content pane. Also the topOffset calculation could be costly as it now sums up the parents offsets too (in case we use position relative somewhere).

Maybe for now we just want to throttle that markActiveEntry call a bit.

[2015-12-22 17:51] michael commented on #362
Done.

[2015-12-22 17:51] #362 closed, assigned to nobody

[2015-12-22 17:51] michael commented on #363
Done.

[2015-12-22 17:51] #363 closed, assigned to nobody

[2015-12-22 17:53] michael commented on #367
Tried a few things.. turns out performance is not so bad.. and only feels a bit less responsive on my retina display. However we should optimize the actual implementation. Let's schedule this for beta 4. Now is not the right time.

[2015-12-22 17:54] michael commented on #356
It's not really bad and only occurs in FF. Let's look into this again in the next release cycle.

[2015-12-22 18:01] #360 closed, assigned to obuchtala

[2015-12-22 18:16] michael commented on #50
Fixed via #361.

[2015-12-22 18:16] #50 closed, assigned to nobody

[2015-12-22 18:26] michael opened #368 "Possibility to render a surface with selection /wo an explicit setSelection"
Just to document that I had a case where this would be nice to have.

In ContainerEditor I create a text node and show it. Then I do a rerender of the Surface. Afterwards I can set a new selection.

[code]

Would it make sense to make the Surface transaction return a new selection and have that show up on rerender?

[code]

While it's fine to implement it like this here, I'm thinking of cases wher

[2015-12-22 19:00] netsgnut commented on #319
Tested substance/examples@4fd41f0ab27b57ae0f5efaaea764969a1b6d175e on [Elementary OS](http://elementary.io/)(an Ubuntu fork). Firefox and Chromium work well (thanks!). [Midori](midori-browser.org/) (the default browser that runs on Webkit and looks like Safari) doesn't, but I guess we can probably leave that one out, though?

Edit: The Midori browser identifies itself with `Mozilla/5.0 (X11; Linux

[2015-12-23 09:55] michael commented on #149
That's been fixed.

[2015-12-23 09:55] #149 closed, assigned to obuchtala

[2015-12-23 10:03] michael opened #369 "Typing over an inline node does not remove it"
Maybe we can get this covered. Reproduce:
- select a citation in Lens
- start typing

[2015-12-23 10:05] michael opened #370 "Deleting a container selection that wraps a structured node should wipe it"
Currently only the surrounding text gets removed. Regression of #365.

[2015-12-23 10:56] michael commented on #370
This seems to be a view update problem only. The structured node is gone after the delete in the model but it's not removed from the view.

Here's the test for the model: https://github.com/substance/substance/commit/437d8c3a1c9b11290ec4366ff1578366492e1633

[2015-12-23 12:32] michael opened #371 "Make commands more robust"
Find a way to avoid node guards in command implementations.

Like here: https://github.com/substance/examples/blob/master/notepad/TodoCommand.js#L21-L23

[2015-12-23 12:41] michael opened #372 "Provide module for generalizing bundling tasks"
Currently we have a whole bunch of redundant code in the gulp files of each project.

[2015-12-23 17:57] michael opened #373 "Editing bug when property selection wraps an inline node and user types ahead"
Observed in Lens.

![lens-editing-bug](https://cloud.githubusercontent.com/assets/2931/11981880/ed53ac08-a9a6-11e5-81a0-a19b2dd30b52.gif)

[2015-12-24 14:07] Integral opened #374 "Truncate icon detected while nothing to truncate"
![screen shot 2015-12-24 at 17 05 12](https://cloud.githubusercontent.com/assets/182010/11995367/9a77ef48-aa60-11e5-9faa-4e093f55fb5f.png)

[2015-12-24 14:12] Integral opened #375 "Unstrong after inserting mixed content produced unexpected results"
![](http://g.recordit.co/nM1LdD6ydb.gif)
Steps to reproduce:
1) Copy mixed content (e.g. strong text with plain text)
2) paste it inside strong
3) press strong tool

[2015-12-24 14:18] Integral opened #376 "Selection is mapped incorrectly at end of a paragraph"
![](http://g.recordit.co/A5511vKyv3.gif)
Steps to reproduce:
1) Set cursor on the end of the line
2) Hold shift and select next symbol
3) Press backspace

[2015-12-25 11:54] michael commented on #374
Hm... This makes total sense to me. Truncating the last two chars.

[2015-12-25 11:58] michael commented on #375
Confirmed. We get some nested strong annotations here which we should avoid. Doing this paste as you demonstrated here should lead to just one continuous  strong annotation.

@oliver---- what do you think?

@Integral want to try to write a failing test case for this case?

[2015-12-25 12:04] michael commented on #376
Mhh seems this gets mapped internally to a collapsed cursor at last position. Definitely a minor issue, but I wonder what the intended behavior should be. It suggests that something is selected but actually there is no character at the end of the line... so the selection itself is weird. maybe this shift+next should select the first char of the next paragraph instead.

[2015-12-25 12:04] Integral commented on #374
ah, ok... it's not very clear actually... let's say it's my brain fault.

[2015-12-25 12:04] #374 closed, assigned to nobody

[2015-12-25 12:05] michael commented on #376
In Google docs doing this means you remove the line-break, so you join the paragraph with the follow-up paragraph (textnode)

![delete-breaking-char-gdocs](https://cloud.githubusercontent.com/assets/2931/12002732/140c342a-ab08-11e5-83ea-b064d98b1cd2.gif)

[2015-12-25 12:05] Integral commented on #376
Yes, that's what i expect...

[2015-12-25 12:06] michael commented on #374
It allows you to toggle expansion/truncation.. if you click several times you will always have just this one strong node.. That's what we want i would say.

[2015-12-25 12:06] Integral commented on #375
@michael maybe... I will try

[2015-12-25 12:11] michael commented on #375
Not sure what's the best way..  maybe this needs some guidance from Oli.. but read here if you can derive this case into clipboard test case.

https://github.com/substance/substance/blob/master/test/unit/ui/Clipboard.test.js

But maybe this is rather an issue on the copySelection + paste transformation.

Here's some related tests but not with paste yet.

https://github.com/substance/substance/blob

[2015-12-27 11:36] abhaga opened #377 "Newlines and tabs should be converted to single space while importing"
[This change](https://github.com/substance/substance/commit/9ffa4ccde31cf144a917fe263cd62a559fb907af#diff-a20ddbbd2d05efdf8c6857c8835c73fdR532) causes paragraphs with newlines in them to lose spaces. For example:

[code]

shows up as `A paragraph split intwo lines.` in the editor.

[2015-12-31 22:52] ghost opened #379 "Use case"
Is this library appropriate for developing a digital publishing app (Like book page design app)?

[2016-01-06 21:43] michael opened #380 "Substance Hub API"
As part of the Substance Beta 4 release we are developing a server-side layer
that manages realtime synchronization and data persistence. We want to achieve
a homogenous system where links between versioned data stores can exist.

Consider the following use-case (from Substance Archivist):

Interview: A Substance document with paragraphs that consists of references to
entities that are managed out

[2016-01-07 09:55] Integral commented on #380
I think that we definitely need kind of query language. It's not related to your example, because when you ask for all entities in context of some interview you already ask server for entities scoped to this interview. It's rather thoughts related to any interface for entity managing or searching. However it could be just an options object with few parameters:
`hub.getBucket('entities', {limit: 30

[2016-01-08 07:47] dmukhg opened #381 "TableCellIterator throws OutOfBounds error on `while(iterator.next()) {}`"
The ParentNodeMixin's getChildAt method has an arrayIndex Out of bounds check. This prevents repeated calls to iterator.next() work properly.

if you do
`var iterator = new TableCellIterator(tableNode);
var cellNode;

while ((cellNode = iterator.next()) !== null) {
  // some operation
}`

You get an un-handled error.

I will be creating a pull request with a failing test shortly.

[2016-01-10 11:28] michael opened #383 "applyChange for TransactionDocument"
So far we never worked with ops directly, which now changes when we implement realtime sync features.

Say I want to apply the following change:

[code]

Currently I need to do it like this:

[code]

How about introducing the following public API instead:

[code]

[2016-01-11 07:35] dmukhg opened #384 "TableHTMLConverter tries to iterate over a single tr node (uses find() not findAll())"
As seen in the [link](https://github.com/substance/substance/blob/d214d786650c967a9affb78dfde14512950dc141/packages/table/TableHTMLConverter.js#L35), the result of el.find('tr') is iterated over. This needs to be replaced with el.findAll('tr') which actually returns an array. el.find('tr') returns a DefaultDOMElement containing the first element that matched 'tr'.

[2016-01-12 11:16] michael opened #386 "Remove direct jQuery usages"
If something is missing implement a delegator in DefaultDOMElement.

[2016-01-12 12:22] obuchtala commented on #293
We found out that the browser based implementation works when we use `doc.createElement()` on a document which was created using XML parser.

We decided to get rid of static `DOMElement.createElement()` and use a contextualized version instead.
This should be necessary only in Exporter implementations where we can provide `converter.createElement` delegating to the target document instance.

[2016-01-12 14:56] obuchtala opened #388 "Implement replaceText transformation correctly"
As a preparation for a Search'n'Replace UI we need this as a transformation first.
We had a first implementation which was implemented terribly wrong and has been removed.

The challenge is not only doing a deleteSelection + insertText, which does not preserve text annotations.
Instead annotations like bold, or links should be preserved, also when replacing text at one of the annotations boundarie

[2016-01-12 15:01] michael opened #389 "When FF is not installed npm test fails"
[code]

Maybe there is a way to tell karma to only test with the available browsers.

[2016-01-12 15:02] obuchtala commented on #373
This was a result of the bad 'replaceText' implementation.
Edit: which i have removed for now.

[2016-01-12 15:02] #373 closed, assigned to nobody

[2016-01-12 15:04] obuchtala commented on #369
Same problem as with #373.

[2016-01-12 15:04] #369 closed, assigned to nobody

[2016-01-12 15:06] obuchtala commented on #370
This seems to work now.

[2016-01-12 15:15] obuchtala commented on #389
Now runs FF tests only on Travis

[2016-01-12 15:15] #389 closed, assigned to nobody

[2016-01-12 15:16] #370 closed, assigned to nobody

[2016-01-13 14:22] michael commented on #293
We also need the createElement in the ClipboardImporter. See #391

[2016-01-14 11:23] michael opened #392 "When image is wrapped with a selection it should be deleted"
Currently the image stays there. Will write a failing test for it.

Error can be reproduced in Notepad example substance/examples#master.

[2016-01-14 13:22] michael commented on #392
See failing test in #393.

[2016-01-14 13:38] michael opened #394 "Allow adjusting size of split pane"
This means we introduce a separator area that is draggable. Challenge will be to make this least graphically obtrusive. However there needs to be some space reserved for the handle (like 10px). This must not overlap with other content.

New option `draggable` is false by default. Needs to be set specifically.

[code]

See React SplitPane for a reference implementation:

https://github.com/tomkp/re

[2016-01-15 06:32] khlbrg commented on #394
Nice feature!

[2016-01-15 09:34] michael opened #395 "focusedSurface is set too late on Controller"
Reproduce in Lens:
- put cursor into abstract
- click on a figref

SwitchTextType.getSurface() still returns the old Surface (abstractEditorSurface).

Regardingless of this fix, we should also make SwichTextTypeCommand robust when there are no available textTypes configured on a Surface.

[2016-01-15 12:29] michael commented on #395
I will check if this has more side-effects if I just guard it. If not we can shift it to Beta 4 and cover it as part of a Surface/Selection mapping refactor.

[2016-01-15 12:45] obuchtala commented on #386
Improved a lot, but still some places left.
Will be continued.

[2016-01-15 12:46] obuchtala commented on #293
Now we use native DOMParsers properly and do not need a string based serializer anymore.

[2016-01-15 12:46] #293 closed, assigned to obuchtala

[2016-01-15 12:48] obuchtala commented on #292
We don't use Component API for XML generation anymore.
Still we could think about getting rid of jquery here too.
Closing in favor of #386.

[2016-01-15 12:48] #292 closed, assigned to nobody

[2016-01-15 12:58] #381 closed, assigned to nobody

[2016-01-15 12:59] #384 closed, assigned to nobody

[2016-01-15 12:59] #392 closed, assigned to nobody

[2016-01-15 13:17] michael commented on #60
Merged some more changes. Highlights are now managed in a separate class that gets passed to a ScrollPane on construction.

@oliver---- you want to have the highlights-aware TextPropertyManager be part of the beta?

[2016-01-15 13:33] #345 closed, assigned to obuchtala

[2016-01-15 13:35] michael commented on #395
Fixed via https://github.com/substance/substance/commit/dbb141efbeb7c118d57914b484525e25d05f3215.

[2016-01-15 13:35] #395 closed, assigned to nobody

[2016-01-15 13:38] michael opened #398 "Manage focusedSurface on Controller level"
So in future the surface does not have an isFocused logic. Let's evaluate and improve for beta 4.

This would avoid issues like #395.

[2016-01-15 13:43] obuchtala commented on #376
![screen shot 2016-01-15 at 14 39 51](https://cloud.githubusercontent.com/assets/284099/12354446/4188f822-bb96-11e5-9e20-21b65ff71a49.png)

In this case the selection gets mapped incorrectly.

[2016-01-15 14:55] obuchtala commented on #60
Not critical, shifted to Beta 4.

[2016-01-15 14:55] #376 closed, assigned to nobody

[2016-01-15 15:16] michael opened #400 "Doc: Return does not render return type"
Input:

[code]

Output:

![image](https://cloud.githubusercontent.com/assets/2931/12356458/21c449b2-bba3-11e5-9432-c8ea5f1e7117.png)

Should display:

Return _Object_ object with updated selection

We may want to display Returns foo bar in a single line to save some space.

[2016-01-15 16:18] michael commented on #379
Sorry missed to answer. Substance would definitely be a good choice for that. However the 'content designer' UI which applies the style to the content must be developed separately. It is not (and will likely never be) part of the Substance framework.

[2016-01-15 16:19] michael commented on #379
Closing this as it's not really an issue. But feel free to respond here if more questions.

[2016-01-15 16:19] #379 closed, assigned to nobody

[2016-01-15 16:29] obuchtala opened #402 "Cursor should never 'fragment' other annotations."
Cursors and anchors have zero width and should always be 'on top', when rendering overlapping annotations.

[2016-01-15 16:30] michael commented on #375
Not critical for beta 3 pushing to beta 3. What happens is that with the paste a strong anno is nested. We somehow need to describe merge behaviors on paste. But that's part of a bigger story.

[2016-01-15 16:31] michael commented on #402
Here's an example:

![image](https://cloud.githubusercontent.com/assets/2931/12358485/bae8208c-bbad-11e5-9c3e-7e1f595ef839.png)

[2016-01-15 16:31] obuchtala opened #403 "How can we enforce semantic rules in the model?"
E.g. it should not be possible to have a citation in the title, which needs to be considered e.g. when pasting.

[2016-01-15 16:39] obuchtala opened #404 "Windows Edge: selection is mapped incorrectly when selecting at the end of paragraph"
Instead it gets mapped to a selection from begin of container to end of paragraph.

[2016-01-15 16:41] obuchtala commented on #404
![issue-404](https://cloud.githubusercontent.com/assets/284099/12358784/3113e88a-bbaf-11e5-816b-1abe5c476deb.gif)

[2016-01-15 16:44] obuchtala opened #405 "Windows Edge: copy'n'paste is broken"

[2016-01-15 16:46] obuchtala commented on #405
Copying does not work at all.
Pasting from external seems to support only plain-text.

[2016-01-15 16:48] obuchtala commented on #404
Similar happens when selecting a whole figure, i.e. adding the EOL of the caption.

[2016-01-15 17:01] michael opened #406 "Doc: @event blocks are not extracted from the source files"
Thus they don't show up in the API docs.

[2016-01-15 17:04] obuchtala opened #407 "Clipboard-Ex/Importer should support 'code' annotations."

[2016-01-15 17:06] obuchtala opened #408 "It should be possible to copy'n'paste annotated text into property editors"
ATM it seems to pastes only plain text, e.g. into title or abstract editor of lens.

[2016-01-15 17:07] obuchtala opened #409 "FF: does not copy'n'paste inline nodes"

[2016-01-15 17:09] obuchtala commented on #409
The problem seems to be, that only HTML content is enabled (no internal JSON based format).

[2016-01-15 17:15] obuchtala commented on #409
This means, we need to provide a loss-free HTML Ex-/Importer to allow internal c'n'ps in FF.

[2016-01-15 17:19] obuchtala opened #410 "Optimizations: try to speed up updates when typing"

[2016-01-15 17:47] michael commented on #400
Fixed via https://github.com/substance/substance/commit/ac852a0a4478362ef3ca076fd14bbd048f4bc038

[2016-01-15 17:47] #400 closed, assigned to nobody

[2016-01-15 20:05] obuchtala commented on #409
Fixed.

[2016-01-15 20:05] #409 closed, assigned to nobody

[2016-01-15 21:46] #406 closed, assigned to nobody

[2016-01-16 16:21] michael opened #412 "Error in PathEventProxy.disconnect"
entry is an object but expected to be an array. Not sure how this is supposed to be.

![image](https://cloud.githubusercontent.com/assets/2931/12373300/4bf1cfac-bc75-11e5-8892-a09f3831a470.png)

Can you have a look? Error occurs when you click the link anno toggle.

[2016-01-16 21:58] michael commented on #412
Fixed via https://github.com/substance/substance/commit/8877e159caa68e8fbbb1d47404fdc56381b34fb2. Please review and close issue when ok.

[2016-01-17 16:28] netsgnut opened #413 "[Ideas?] Keyboard shortcut support when nothing is highlighted"
Not sure if that is a good title, but let me elaborate a bit more on what I'd like to achieve with Substance first. I am working on using a wiki system using Substance. One of the key features that we would like to achieve is the ability to control the whole system (navigating, searching, and of course, authoring) using only keyboard where mouse acts more like an assistance tool.

One of the featu

[2016-01-18 08:12] siuying commented on #56
@oliver---- @michael Sorry to bring up old issue, but is the example to integration with React app included in beta3? I'm looking exactly this.

[2016-01-18 19:44] ghost commented on #379
Sorry, what kind of apps exactly is the framework used for? The English confuses me :)

[2016-01-19 11:30] abhaga opened #415 "Repalce deprecated PathEventProxy.add with PathEventProxy.connect in DocumentNode"

[2016-01-19 11:46] abhaga opened #417 "SwitchTextType is registered twice with the ToolManager"
SwitchTextTypeTool is registered twice with the ToolManager. As a result, the event handlers run twice.

[2016-01-19 18:46] michael commented on #56
@siuying See here: https://github.com/substance/lens/blob/master/ReactLensWriter.js. That's how you can wrap things into a React class.

[2016-01-21 04:15] siuying commented on #56
Awesome, thanks!!

[2016-01-22 14:45] michael opened #420 "Troubles with preservative rerendering when components are used with same props"
Just to track that in an issue.

[code]

[2016-01-25 15:15] obuchtala opened #421 "Surface: querySelector expression is incorrect"
Syntax error if id starts with number.

Fix: use quotes.

[2016-01-25 15:16] obuchtala opened #422 "Preservative XML Import/Export"
Allow to have XML content not manipulated by Substance, and preserve these data during export.

[2016-01-25 15:18] obuchtala commented on #422
One idea is to use XPath during conversion to denote which parts of the original DOM is gonna be exported, such as

[code]

[2016-01-25 16:47] obuchtala opened #423 "Bug: Components hierarchy is not disposed properly on rerender"
It happens in the Infomaker use case where the writer was rerendered having a popup toolbar without ref, having some tools in it.
The tools got registered to a tool manager but not unregistered, as dispose didn't get called on Tool.

[2016-01-25 16:51] obuchtala opened #424 "Add insertInlineNode tranformation"
Inline nodes are special annotations that we decided to bind to an invisible character in the text.
This is pretty internal and there should be a helper to create inline nodes.

[2016-01-25 22:30] obuchtala commented on #423
Fixed via 70338906b1d1b22951abc2bf5e019584a31d862c

[2016-01-25 22:30] #423 closed, assigned to obuchtala

[2016-01-25 22:39] obuchtala commented on #421
Fixed via 4f018ada6845ec14c6f90ce694265385aa0dff08

[2016-01-25 22:39] #421 closed, assigned to nobody

[2016-01-25 22:42] #412 closed, assigned to obuchtala

[2016-01-25 22:50] obuchtala opened #425 "Make preservative rendering of TextProperties configurable"

[2016-01-25 22:50] obuchtala commented on #425
Fixed via 9aebcae252cce970d398833bb49ee7de35cdefba
Introduced configuration `preservativeTextPropertyRendering=true`

[2016-01-25 22:50] #425 closed, assigned to nobody

[2016-01-26 10:38] obuchtala opened #426 "Think about a way for passing the 'type' name used for looking up a component class to the component instance itself."

[2016-01-26 16:47] michael opened #427 "Use consistent naming for commands/tools"
E.g.

[code]

should become:

[code]

https://github.com/substance/substance/blob/master/packages/text/SwitchTextTypeTool.js#L109-L110

[2016-01-27 07:40] obuchtala opened #428 "Breaking textish nodes should split into node of same type."
ATM when breaking code blocks and quotes we create a paragraph.
Instead we should create the same node type, when inside the text (not at the end), and create a new paragraph when at the end of the text.

[2016-01-27 09:05] obuchtala opened #429 "Feature: show whitespace characters"

[2016-01-30 05:33] dmukhg opened #430 "TableSectionHTMLConverter uses obsolete `el.tagName = ...` syntax"
This method no longer exists in DefaultDOMElement because the tag name is considered immutable. This should be changed to `el = el.withTagName`.... syntax.

[2016-01-31 15:10] #430 closed, assigned to nobody

[2016-02-03 08:03] michael opened #434 "Expose context to Command implementations"
Tried to take out command construction so users can pass custom arguments. However, SurfaceCommands need a surface on construction, that's why I can't do it so early.

[code]

Options I see:
- We could just pass controller.context as a second argument for Surface and Controller commands. Then users could just use `this.context` as they're used to from component dev
- Another option would be leavin

[2016-02-03 10:11] obuchtala opened #436 "Introduce a proper order of events"
ATM most listeners bind to 'document:changed' events, introducing problems as some of them are not independent.

For example:
A Surface should have rendered everything before another listener can rely on the DOM/DOMSelection.

[2016-02-03 14:01] michael commented on #434
Fixed via #438.

[2016-02-03 14:01] #434 closed, assigned to michael

[2016-02-03 14:11] michael commented on #424
Taking this one.

[2016-02-03 15:56] michael commented on #424
Implemented via #437.

[2016-02-03 15:56] #424 closed, assigned to nobody

[2016-02-03 16:08] michael commented on #417
That has been fixed via #418.

[2016-02-03 16:17] #417 closed, assigned to nobody

[2016-02-03 16:19] michael commented on #427
Fixed via #440

[2016-02-03 16:19] #427 closed, assigned to nobody

[2016-02-04 10:15] michael opened #442 "Datastructure modelling user selections"
We need a datastructure to model collaborators (other editors). It should be owned by the DocumentSession object.

[code]

Based on that information and events (a new collaborator enters, selection of a collaborator changes etc.) we can generate user interface elements such as selection and scrollbar highlights or for instance a collaborators panel to see who is currently editing the document.

[2016-02-07 18:32] michael opened #447 "Collab: Next steps"
Next topics to discuss / implement:
- handle concurrent changes on server by applying transforms
- how to 'synchronize' commits (should we be able to commit new local changes while a previous commit is still pending?)
- define how to synchronize selection states of all collaborators (we discussed sending no-op document changes that only have selection updates e.g. of other collaborators)

[2016-02-09 01:29] obuchtala commented on #447
Done

[2016-02-09 01:29] #447 closed, assigned to nobody

[2016-02-09 01:30] obuchtala commented on #442
Similar to what you specified.

[2016-02-09 01:30] #442 closed, assigned to nobody

[2016-02-09 01:32] obuchtala opened #449 "ContainerEditor should not get confused with obsolete ops"
ATM, ContainerEditor updates itself by iterating all ops of a change.
However, with our CollabHub we see situations now, where a change can contain both insertion and deletions of the same node, leading to crashes when trying to render already deleted nodes.

It should derive the minimal set of updates from the changes instead.

[2016-02-09 01:35] obuchtala opened #450 "Selections of changes within the undo/redo histories must be updated on remote change"
ATM these changes get out of date when applying external changes.

[2016-02-09 01:37] obuchtala opened #451 "CollabHub does not use Operation.transform correctly"
Even simple and already tested operation transforms are not done correctly.
This is due to wrong usage of Operation.transform(a, b) which is not symetric.

[2016-02-09 01:43] obuchtala opened #452 "Regression in DOMSelection: double clicking after paragraph throws error"

[2016-02-09 07:49] dmukhg commented on #450
If I change the selection within a transaction using `args.selection = ...`, **on undo**, the selection doesn't change. Is this issue related to that? Should I open a new one? Please read for a brief explanation.

eg. Inside a transaction that converts heading h-a to paragraph p-b,
- first create p-b,
- transfer annotations,
- transfer selection,
- delete h-a

Now, if I undo,
- h-a is recreated,
-

[2016-02-11 10:07] Integral opened #453 "Collab: selection render only after transformation"
You can see it on [Michael's screencast](https://pbs.twimg.com/tweet_video/Ca4Qy61UkAAP0I7.mp4).

Steps to reproduce:
- run notepad with two clients
- one client should select something

So second will not see it. He will see only after applying, say, strong.

[2016-02-11 10:14] Integral opened #454 "Cursor stands while undoing"
![](http://g.recordit.co/wQH4wLOyR2.gif)

Steps to reproduce:
- select some word
- start typing
- undo operations

Note that I saw it while testing a collab notepad.

[2016-02-13 15:46] michael opened #455 "Lifecycle websocket / CollabSession"
Currently CollabSession takes a fresh a websocket object and binds to the onopen event to immediately send an `['open']` message. That's too opinionated behavior.

In our multi-document notepad app we want the websocket connection to be owned by the app and be created only once. So I think we should leave the websocket initialization to the app and require a connected/authenticated websocket conne

[2016-02-13 16:20] Integral commented on #455
Yes, we defenetely should manage sockets on app side and pop them out in
case of disconnection.

On Sat, Feb 13, 2016, 19:46 Michael Aufreiter notifications@github.com
wrote:

[2016-02-13 16:23] michael commented on #455
We could also not pass the ws immediatly, but explicitly with a connect call. That way we could start with a non-collab offline session but then later connect it to the hub.

[code]

[2016-02-13 16:24] michael commented on #455
@oliver---- not quite there but if you look at that code... does that seem to go into the right direction?

https://github.com/substance/notepad/blob/7899624dca51286bfca787a996615cbf29466680/notepad/app.js

[2016-02-14 15:03] obuchtala commented on #455
Looking good.
However I would need try it out to say more.

[2016-02-14 15:07] michael commented on #455
thx. i will try to get it working in a branch.

On Sun, Feb 14, 2016 at 4:03 PM Oliver Buchtala notifications@github.com
wrote:

[2016-02-14 15:09] obuchtala commented on #451
Fixed.

[2016-02-14 15:09] #451 closed, assigned to nobody

[2016-02-14 15:13] obuchtala commented on #450
@schatten Basically I think that is related, yes. There is more to it, because we don't have a proper notion of transferring coordinates. I.e. such cases need to be considered OT wise.

I will make an integration test out of your description.

[2016-02-14 15:14] obuchtala commented on #450
Thx for reporting!

[2016-02-14 15:22] obuchtala commented on #454
Fixed.

[2016-02-14 15:22] #454 closed, assigned to nobody

[2016-02-14 15:35] Integral opened #456 "Create container annotation example"
We can turn it on for notepad's highlights.

[2016-02-14 15:39] Integral opened #457 "Entry.concat is not a function"
Steps to reproduce:
1) Install and run example's master branch
2) Try to annotate any selection with link

you'll get:
`PathEventProxy.js:97 Uncaught TypeError: entry.concat is not a function`

[2016-02-14 15:44] obuchtala commented on #457
In the notepad example?

probably because package.json references an outdated substance sha.
It seems to work for me, with npm link setup, however. (i.e. uses latest substance)

[2016-02-14 15:47] obuchtala commented on #457
I have bumped substance in examples package.json.
Works for me.

[2016-02-14 15:48] obuchtala commented on #457
@Integral can u check?

[2016-02-14 15:53] obuchtala opened #458 "DOMSelection rendering is broken when selecting multiple lines"
To reproduce, in notepad example:
- put cursor at first position
- press `shift+down`
  -> now rendering of the second task is screwed
- again press `shift+down`
  -> now the selection should span over first two tasks, but instead only the second is selected

[2016-02-14 15:53] Integral commented on #457
yep

[2016-02-14 15:53] #457 closed, assigned to nobody

[2016-02-14 15:54] obuchtala commented on #458
This is a regression of the refactorings in `ui/DOMSelection`

[2016-02-14 15:57] obuchtala opened #459 "[OSX] DOMSelection regression: expanding selection using shift+left/right does not work anymore"
To reproduce, in notpad example:
- put cursor somewhere inside first todo item.
- use `shift-right` to expand selection to the right
- use `shift-left` to expand to the left
  -> instead of moving the right boundary (focus) the selection gets expanded to the left

[2016-02-14 15:58] obuchtala commented on #459
This seems to be fine under Linux.

[2016-02-14 16:00] obuchtala commented on #458
Obviously, the selection does get rendered as it was reversed. When doing a `shift+down` and then a `shift+up` the selection gets expanded on the top, instead of reduced. This happens when achorNode and focusNode are swapped.

[2016-02-14 21:34] Integral commented on #456
@michael I did try to switch PropertyAnnotation to ContainerAnnotation for MarkTool in out notepad.
Basically it's working, but it's not highlighted. And we need to update exampleNoteChangeset for seeding.

[2016-02-14 21:39] Integral commented on #456
you can use https://github.com/substance/notepad/tree/container-annos

[2016-02-14 21:39] obuchtala commented on #458
Fixed.

[2016-02-14 21:39] #458 closed, assigned to nobody

[2016-02-14 21:40] obuchtala commented on #459
Fixed.

[2016-02-14 21:40] #459 closed, assigned to nobody

[2016-02-14 21:40] obuchtala commented on #452
Fixed.

[2016-02-14 21:40] #452 closed, assigned to nobody

[2016-02-14 21:44] obuchtala opened #462 "FF: when double-clicking right of a paragraph the DOM selection does not mapped correctly"
![ff-double-click-behind-paragraph](https://cloud.githubusercontent.com/assets/284099/13036629/7c826c90-d36c-11e5-828b-a25406a65a7e.gif)

[2016-02-14 21:47] obuchtala commented on #428
Fixed.

[2016-02-14 21:47] #428 closed, assigned to nobody

[2016-02-14 21:48] obuchtala commented on #453
Fixed.

[2016-02-14 21:48] #453 closed, assigned to nobody

[2016-02-14 22:25] #402 closed, assigned to nobody

[2016-02-15 10:56] michael commented on #455
That's working now. We should just get this into master by adapting examples and testsuite.

[2016-02-15 10:58] michael opened #464 "Selections and image node"
We had some problems there in beta 3. I will bring back images in the notepad example then we can fix if necessary.

[2016-02-15 10:59] obuchtala commented on #464
I am just working on a non-editable table... there I have still problems with the selections. However it has gotten better.

[2016-02-15 11:00] michael commented on #464
I'll give it a try and report here what I had problems with.

[2016-02-15 11:15] michael opened #465 "Propagate collaborator updates"
Currently we only cover selection changes. We actually have more events:
- New collaborator connects
- Collaborator updates selection
- Collaborator disconnects (or explicitly closes the document)

Currently we handle it like this with an `updateSelection` message and an applyRemoteSelection method.

For the connect/disconnect cases we could again send a fake change object around that has no ops b

[2016-02-15 11:17] obuchtala commented on #465
Fine with your suggestion.

[2016-02-15 11:29] obuchtala opened #466 "Rethinking table model"
ATM we have a exact representation of HTML tables.
However, this model is not good to work with.

I have done a spike using a native matrix as a property:

[code]

Manipulation looks like this:

[code]

Beyond this, I came to the conclusion, that we need a special operation type for matrix updates. Otherwise we could not resolve concurrent editing situations -- for example a user inserts a row and

[2016-02-15 11:36] michael commented on #464
Images are activated in substance/notepad#master. Selection issues are still there. Also a fully wrapped selection does not work.

[2016-02-15 13:30] michael commented on #466
Matrix Model looks fine to me.

[2016-02-15 15:03] obuchtala commented on #464
I have something working with table node. If you want you can try out examples@prose-editor together with substance@table-editing.
Otherwise wait until I have finished by table-editing quest.

[2016-02-15 16:13] michael commented on #464
I tried the example. I was a able to create a new empty table but couldn't edit cells.

[2016-02-15 16:14] obuchtala commented on #464
of course not.. because I posted on this issue which reads: 'Selections and image node'

[2016-02-15 16:15] obuchtala commented on #464
The table node is similar to the image as it is not editable atm.

[2016-02-15 16:15] michael commented on #464
sorry.. lost the issue title. Checking image selection stuff.

[2016-02-15 16:31] michael commented on #464
Looks good from the selection mapping point of view.

[2016-02-15 16:33] obuchtala commented on #464
We need to introduce a NodeSelection and render that by ourselves.

[2016-02-16 13:10] Integral opened #467 "Testing external packages"
Let's say that someone decided to create some tool (or other package) for substance. Good package should include testsuite in the box. Do we want to provide some api for testing? Or should it be completely on package side?

[2016-02-18 10:16] michael opened #468 "Using Promises and CollabHub testability"
I've introduced promises for the CollabHub and the store interfaces. I'm also now working on bringing back the browser-only test setup.  Now I've realized that we will loose some synchronicity when using Promises.

While earlier in TestStore getChanges was implemented synchronously but with calls backs, we immediately saw the response to a message in the messagequeue right after processing it. Now

[2016-02-18 10:35] michael commented on #468
I will go back to callbacks as it was just better for our debug setup. We should discuss the introduction of promises for server-side things. We could make the test setup with callbacks and the real server setup with promises but then we have a lot of code duplication...

[2016-02-18 13:16] Integral opened #469 "Prose editor configurations"
Hey!
I found really strange thing.
Controller is configurable via static object or props.
ProseEditor extends Controller.
So we can configure ProseEditor. But ProseEditor comes with it's own static config. Due priority of static config it means that the only option to configure ProseEditor is passing your own static config. So if I pass any config as props to ProseEditor it will be rejected.
I thi

[2016-02-18 13:51] Integral commented on #469
Here is an example: https://github.com/substance/examples/blob/tags/tags/tagsEditor.js
I do it **only** because of config. We can do the same thing inside prose editor, e.g. merging incoming props.config into static.

[2016-02-19 19:58] michael opened #470 "Add defineSchema API to documentation"
That's not yet covered in the API docs.

[code]

[2016-02-19 21:36] michael opened #471 "Allow multiple collab sessions per websocket connection"
Users should be able to have two realtime collab sessions at the same time. As long as they operatoe on different docs. For that purpose we need to stick a `documentId` property to each message.

[2016-02-20 08:26] michael commented on #465
That's done.

[2016-02-20 22:46] michael opened #473 "Error handling for CollabHub"
We may run into situations where the client sends a message to the server (e.g. openDocument) but there's an error during processing that message (e.g. user session is invalid).

We should have a way to broadcast errors and let the clients react accordingly. E.g. for the described case we could send:

[code]

Then we would call hubClient.logout() to invalidate the cached session. In the notepad ex

[2016-02-22 07:33] abhaga opened #474 "Error when using AnnotationCommands like Emphasis with TextPropertyEditor"
`AnnotationCommand` tries to call `getContainerId` irrespective of type of Surface it is attached to. This leads to an error when a command like `EmphasisCommand` is used with a `TextPropertyEditor` since `TextPropertyEditor` no longer implements `getContainerId`.

Since the containId is only needed for container annotations, we can check for that before making this call. I'm not sure that is righ

[2016-02-22 08:29] abhaga opened #476 "Text in a TextPropertyEditor is not editable"
Neither `TextPropertyEditor` not `TextPropertyComponent` seem to set the `contenteditable` property while rendering. As a result, editing doesn't work.

[2016-02-22 09:22] ghost opened #477 "Illegal token in examples/server.js"
.../examples/server.js:19
console.log(`http://${host}:${port}/`);
              ^
SyntaxError: Unexpected token ILLEGAL
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Function.Module.runMain (module.js:501:10)

[2016-02-23 07:15] abhaga opened #478 "Undo/Redo tools do not correctly update their states in toolbar"
After undoing, the redo button remains inactive till a selection:changed event is fired due to some other user action. Also undo tool remains active even after reaching the last available change.

The root cause seems to be that `DocumentSession.undo` and `DocumentSession.redo` fail to note that selection has changed.

[2016-02-23 14:06] #465 closed, assigned to nobody

[2016-02-23 14:07] michael commented on #471
Implemented.

[2016-02-23 14:07] #471 closed, assigned to michael

[2016-02-23 14:09] michael commented on #477
Can you provide more context?

[2016-02-23 14:11] #455 closed, assigned to nobody

[2016-02-23 15:39] michael opened #480 "Collapsed cursor is not rendered as a fragment"
We lost that somewhere on the way. Expanded selections work.

[2016-02-23 15:52] michael opened #481 "Undoing delete of a container selection fails"
Reproduce:
- Select multiple paragraphs
- hit backspace
- hit ctrl+z

![image](https://cloud.githubusercontent.com/assets/2931/13257131/d551bf32-da4d-11e5-852a-4dbd3d3655bf.png)

[2016-02-23 16:03] michael opened #482 "Cursor fragment not displayed when at beginning of line"
This seems to be a CSS issue, as the markup is there. Seems like the outline extends to the left and overflow is hidden there.

pos1:
![image](https://cloud.githubusercontent.com/assets/2931/13257464/233fcbe8-da4f-11e5-950e-b1e9f403f496.png)

pos0:
![image](https://cloud.githubusercontent.com/assets/2931/13257475/2d63ba94-da4f-11e5-9055-337801ac0c59.png)

[2016-02-23 16:20] michael opened #483 "Check commit (=change) shas on CollabHub in addition to version checking"
I already ran into the case we discussed the other day. We should cover this in a testcase and implement the checks.
- reseeded notepad app with example doc `npm start seed` (note-1 has version 1)
- Open note-1 example in browser and make some changes in first paragraph (note-1 has version 3 now)
- kill the server (but leave the browser open)
- restart the server again with seed option `npm start

[2016-02-23 19:57] larryhengl opened #484 "document persistence"
Hi,
I'm starting to look at Substance and Lens, thank you for sharing these projects.

Question:  how to save docs?

I see there is a plan for a Persistence API in Beta 5, but generally what have folks been using up to now for saving docs?  RDBMS, NoSQL, XML files, custom?  Any examples or tutorials illustrating current saving approaches?  If I simply want to CRUD a doc without needing OT behavior

[2016-02-23 20:25] michael commented on #484
Hi!

There are many ways to do so. Most Substance users currently use XML/HTML as a serialization for Substance docs. It's easy to write custom converters for your model. Check out the official examples to learn how it's working. https://github.com/substance/examples

For a more complete example check out the LensImporter for instance.

https://github.com/substance/lens/blob/master/model/LensArtic

[2016-02-23 21:29] ghost commented on #477
Michael, I'm sorry. I did not notice the illegal tokens were removed when pasting the stack trace. In substance/examples/server.js line 19 a grave accent (U+0060) is used to delimit a literal (url), while probably an apostrophe (U+0027) was meant.

[code]

instead of

[code]

This causes "npm start" to fail with the above stack trace when following your tutorial to run the example.

Edited: I just

[2016-02-23 22:09] michael commented on #477
Oh seems like one PR I merged used ES6 template strings and I overlooked that. Will fix.

[2016-02-23 22:25] #477 closed, assigned to nobody

[2016-02-23 22:25] michael commented on #477
Fixed. Thanks for reporting!

[2016-02-24 01:54] larryhengl commented on #484
thanks for the info @michael , i'll dive deeper into the examples. i now see how you're using sqlite in the notepad app.  the pubsweet project looks ...uh, sweet!  their tech stack is aligned with my current project interests (React), and i see they are using PouchDB and Redux stores for persistence.  i'll be looking at the collab feature as it advances.  i'll go ahead and close this issue.   chee

[2016-02-24 01:54] #484 closed, assigned to nobody

[2016-02-24 11:16] obuchtala commented on #480
It should be rendered this way now:
- cursor fragment only when blurred (or other user)
- selection fragment always

@michael is this the case?

This is a hybrid of the former approach (render selection when natively blurred) and rendering always.
As we can't hide the native cursor I think it is better not to double render in this case.
With the selections we could do the same, however, personally

[2016-02-24 11:18] michael commented on #480
That approach is fine. However the cursor fragment is not rendered in the blurred case atm. Remote cursors however are rendered.

[2016-02-24 11:19] obuchtala commented on #480
Ok. That should work indeed.

[2016-02-24 11:21] obuchtala commented on #480
Probably I have some unmerged work here in the table-editing branch.
I will work on the general pieces related to selections and have them in an independent branch.

[2016-02-24 17:51] obuchtala opened #488 "Make Surface accessible via TAB-navigation"
While solving issues with focusing of surfaces I found that Surfaces are not accessible via TAB navigation, as one requirement for general accessibility.

[2016-02-24 17:55] obuchtala commented on #488
@michael Is there a particular reason that SwitchTextTypeTool has a 'title' prop?
https://github.com/substance/substance/blob/master/packages/prose-editor/ProseEditor.js#L29

To me it looks like that this would not be optional, or should be set be the user/programmer at all.

[2016-02-24 18:00] michael commented on #488
I think we can remove that configuration. And simply call this.i18n.t('switch_text') from within SwitchTextTypeTool.

[2016-02-24 18:02] michael commented on #488
:+1: for TAB access for surfaces. Only 'problem' that comes to mind is when within a list TAB would be used for indentation and thus conflict with the switch to the next Surface. However whenever we are not in a list context TAB could do the surface switch.

[2016-02-24 18:04] obuchtala commented on #488
Cool. Thx

[2016-02-24 19:06] michael opened #489 "Question: Is it possible to call setState within willReceiveProps"
I need to reset the state when new props are arriving. Currently i do this:

[code]

[2016-02-24 19:11] obuchtala commented on #489
Sounds terrible, as setProps() and setState() per contract lead to a rerender.
But what you are doing, i.e. overwriting the state manually, looks fine to me.

[2016-02-24 19:14] obuchtala commented on #489
Looking at Component.setState(): you won't have router state support this way. But probably you won't need that?

[2016-02-24 19:16] obuchtala commented on #489
We should see if this is a general desire and potentially change setState() detecting that it may be within setProps() already.

[2016-02-24 19:24] michael commented on #489
React documents that as a good practice... :O

https://facebook.github.io/react/docs/component-specs.html#updating-componentwillreceiveprops

I have a bunch of uses-cases now related to component, state routing etc. We should soon discuss which direction we take, based on the Notepad app which does a bunch of state handling now due to its async nature.

We could even discuss dropping framework sup

[2016-02-24 19:26] obuchtala commented on #489
Should not be too difficult to support setState during setProps.

[2016-02-24 19:27] michael commented on #489
setState during setProps ? Not sure i follow.. can you give an example?

[2016-02-24 19:28] obuchtala commented on #489
when u say 'willReceiveProps' it implies that you are during setProps.

https://github.com/substance/substance/blob/master/ui/Component.js#L495

[2016-02-24 19:32] michael commented on #489
Of course.. sorry. Let me finish this iteration and we will discuss based on the results. Trying to cover the complete life cycle. And then we can see how we can shape the API to support that task in a transparent way.

[2016-02-24 19:44] michael opened #491 "JSONConverter.importDocument API suggestion"
[code]

->

[code]

[2016-02-24 19:47] obuchtala commented on #491
Fine as long there are no constructor arguments.

[2016-02-24 19:49] obuchtala commented on #488
@michael maybe u want to try out the accessibility branch? should go together well with examples@collab-refactor.
You should be able to cycle through tools and surfaces, and also use tools with SPACE or ENTER.

[2016-02-24 19:57] Integral commented on #489
Pls, don't drop framework support. I vote down.

On Wed, Feb 24, 2016, 23:32 Michael Aufreiter notifications@github.com
wrote:

[2016-02-24 19:58] obuchtala commented on #489
@Integral sorry didn't get you. Can you explain in more words? ;)

[2016-02-24 20:01] Integral opened #492 "Container annos are not rendering"
We haven't got here this issue, but it looks like it coming from Substance.
So, currently container anno tool/command works perfectly, but it's not rendered at all.

[2016-02-24 20:03] obuchtala commented on #492
I need to use the notepad app for it?

[2016-02-24 20:05] obuchtala commented on #492
Or is there a more light-weight example? lalala @smoofles.

[2016-02-24 20:13] Integral commented on #492
yep, look here: https://github.com/substance/notepad/issues/18
you can use examples tags branch, but don't forget to connect
ConatinerAnnotation

On Wed, Feb 24, 2016 at 11:05 PM Oliver Buchtala notifications@github.com
wrote:

[2016-02-24 20:13] Integral commented on #489
Michael wrote:
We could even discuss dropping framework support for state handling
completely and work with explicit rerenders instead.

On Wed, Feb 24, 2016 at 10:59 PM Oliver Buchtala notifications@github.com
wrote:

[2016-02-24 20:16] michael commented on #492
What Daniel wants to say is that it seems like container annotations don't get fragments in the rendering. You could try it out by working with the examples and turning for instance the highlight node into a ContainerAnnotation instead of a PropertyAnnotation.

[2016-02-24 20:16] michael commented on #492
It seems that tools etc. respond correctly so it's only a rendering issue.

[2016-02-24 20:19] michael commented on #488
Can't do now. but yes will have a look!

[2016-02-24 20:22] obuchtala commented on #492
Yep. That's for sure.

[2016-02-24 20:25] obuchtala commented on #489
I think allowing setState() during setProps/willReceiveProps() without triggering an instant rerender should be simple. So no need to drop general support.

[2016-02-24 21:40] michael opened #493 "Cursor are not updated for remote changes"
Selections are broadcasted fine. However if there's a real change the cursor/selection disappears in the other editor.

Need to investigate.

[2016-02-24 21:45] michael commented on #488
Smooth! Now we enter professional state :) I think we eventually want a unique css class to have a visual difference between active states and focused (via tab). I would draw some kind of border or outline.

Potential issues:
- When you marked undo for instance and activate it with space once you loose the focus of that button
- Elements are not always accessible: E.g. once the address bar is reac

[2016-02-24 21:49] obuchtala commented on #488
ENTER and SPACE are default obviously. Notice that it is the native behavior, not a custom handler.

[2016-02-24 21:51] obuchtala commented on #488
It should even allow you to cycle through.
However you should never open the console. This seems to 'steal' the navigation somehow.

[2016-02-24 21:51] obuchtala commented on #488
Focusing is done natively when rendering the selection, not by us.

I.e. when we apply the change and render the selection, then the surface will have the focus afterwards.

[2016-02-25 10:00] Integral opened #494 "Package: Forms Generator"
Hey!
I thought a few days ago about forms framework based on Components.
Like you can describe your entity with a substance schema and this thing will generate a form for you.
Where do we need this? For example in the metadata editor or archivist entity manager.
I could try to implement this thing somewhere outside.
@michael, @oliver---- what do you think?

[2016-02-25 19:55] michael commented on #494
Feel free to experiment in a new example setup. It's could be an interesting use-case for the future. I think it will be hard though to find a good balance. basic text-only forms will be simple to implement based on schema inspection. However if you want more (like dropdowns with preconfigured values) it needs more configuration than what our schema provides. It may also be already too much.. as g

[2016-02-25 22:28] Integral commented on #494
Well, there is always the same basics with these things. There are a lot of
similar projects. The difference is that we want to build it within our own
system.
But even these basics requires additional configurations. Like html5 inputs
which have different types (text, number, email, phone etc). So we need to
pass additional config somehow... However we shouldn't do anything complex,
we rather nee

[2016-02-27 17:07] #482 closed, assigned to michael

[2016-02-29 13:57] sunu opened #496 "Support for text alignment"
Currently substance doesn't have text-alignment tools/commands. Text alignment is one of the basic requirements in most editing activities. So it would be great to have text alignment tools built into substance itself.

[2016-02-29 18:52] Integral commented on #494
I've decided to begin with metadata editor as we have no example for that.
And now... We have it. All basic types. You have to specify schema a bit and connect forms within a tool.
Here it is:
![](http://g.recordit.co/SUrhPf5AkY.gif)

[2016-03-02 04:23] MasseGuillaume opened #498 "where is http://ot.substance.io/ ?"
It was a really cool demo.

[2016-03-02 10:07] michael commented on #498
Look here: http://operational-transformation.github.io/visualization.html

[2016-03-02 19:24] michael commented on #496
That won't go into core as we want to support only semantic structures out of the box. However you can implement that with custom nodes/tools/commands.

[2016-03-04 15:42] michael opened #503 "API Docs are currently broken in the collab-improvements branch"
@Integral Maybe you have time to take a look. However if you don't find it fast.. don't waste time on it.. could also be something in the parsing step.

[2016-03-04 16:09] Integral commented on #503
Not sure. Don't know much about docs app.

[2016-03-04 16:12] Integral commented on #503
Looks like problem with one of nodes

[2016-03-04 16:30] michael commented on #503
Leave it then. not so urgent. Just wanted to see what options we have to document our method signatures that now only have an `args` object. It's not so clear now what the actual arguments are. We should add a comment block describing them like:

[code]

not sure though this will look pretty in the docs. Anyways this has time.

[2016-03-04 17:33] Integral commented on #503
I already did it SQL backend.

On Fri, Mar 4, 2016, 20:30 Michael Aufreiter notifications@github.com
wrote:

[2016-03-08 00:15] nokome opened #504 "Rename `ControllerTool.performAction`"
A minor aesthetic suggestion: depreciate `ControllerTool.performAction` and provide `ControllerTool.executeCommand`. More consistent with existing nomenclature e.g. `SaveTool.static.command = 'save';` The name `performAction` feels a bit out of place, or perhaps I'm missing something :smile: .

[2016-03-08 10:03] obuchtala opened #505 "Integrate Drag'n'drop support investigated in the spike"

[2016-03-08 10:06] obuchtala commented on #505
- we should consider a general approach for drop-zones (e.g. between nodes)
- we need to find a way to prevent drag'n'drop on app level

[2016-03-08 11:20] michael commented on #504
Thanks! Jeah that could need a bit of polish from naming. Also name and command are redundant. Will take care of this until Beta 4 is out.

[2016-03-09 12:42] sunu opened #506 "Support for general keyboard shortcuts like Home, End, Page Up, Page Down etc for better accessibility"
Hi,
Currently the native cursor moves as expected with End, Home, Page Up and Page Down keys but the underlying selection is not updated.
I was wondering if improving accessibility is on the road map you guys have in mind?

[2016-03-09 17:14] michael commented on #506
We will check. That should definitely be supported and work as expected.

[2016-03-09 17:15] #498 closed, assigned to nobody

[2016-03-10 17:37] obuchtala opened #507 "Get rid of static Component.$$"
There are some reasons why this should be done:
1. In many places we have the following two lines to import this function

[code]

   which is annoying
2. The more severe reason is, that `Component.$$` suggests that this method works statically. In fact `$$` is contextualised to maintain the current component owner, which is used to bind event handlers, for instance. The implementation uses a sing

[2016-03-11 06:53] sunu commented on #496
@michael Can you give some pointers how you would implement alignment? I'm having a hard time implementing alignment with custom commands and tools.

For example, if I implement them with a custom command that just adds a class or style tag corresponding to the alignment to the current node, then I have to modify the HTML exporters of all node types to make sure they don't discard that class or st

[2016-03-11 18:28] obuchtala opened #509 "padding between container nodes should be generalized"
At the moment, there are styles such as in https://github.com/substance/substance/blob/dcb4db4ff799689a61b4bf50d3bbd10517880a24/packages/paragraph/_paragraph.scss#L2

Instead this should be done with a child selector for the surface/container element.

[2016-03-11 18:33] michael commented on #509
Yep. I think there shouldn't be any styles for the core types as we don't know how they'll be used/nested. I still didn't get to my css modularisation iteration. I think what would be nice is to have some defaults that we can wrap inside a parent selector. Not sure what's the best way here. Needs some more SCSS studies.

[2016-03-11 18:38] obuchtala commented on #509
Ok. I just wanted to emphasize, that theoretically vertical-spacing between nodes seems to me not a node responsibility but one of the container layout.

[2016-03-12 05:00] nokome commented on #506
+1 I just discovered this too. When you press home or end, the cursor moves as expected but the insertion point doesn't - i.e when you start typing again characters get inserted where you were when you pressed home. Tested under Chrome in stencils and the editor at http://substance.io/ . Thanks for  adding this to Beta 4!

[2016-03-13 20:56] michael opened #510 "Errors"
I spent today evaluating options for error reporting. I came up with a custom SubstancError class.

[code]

message and info are optional. So in many cases we will just `throw new Error('MyClass.WhatHappened')`.

Now we will use `DocumentStore.CreateError` will be used as the error name. So we will see messages like "Uncaught DocumentStore.CreateError: Could not create document. 'foo' already exis

[2016-03-13 21:08] Integral commented on #510
Let's try!

[2016-03-15 00:07] michael opened #512 "CollabServer: On reconnect previous selections are lost"
We should send the current selection along with the connect.

[2016-03-15 00:08] michael opened #513 "Add tests for CollabServer"
We need to test the broadcasting mechanism.

[2016-03-16 13:30] michael opened #515 "CollabServer should not accept change if clientVersion > serverVersion"

[2016-03-16 17:57] michael opened #517 "DocumentStore: Allow store implementations to generate documentIds"

[2016-03-17 09:57] jure opened #519 "CollabWriter bug - stops updating when cutting and pasting links"
To reproduce:
Using the CollabWriter example
Pasting some text with links, e.g. the first paragraph of http://elifesciences.org/content/5/e12499v2
Cut some text with a link in one pane, and paste it in the other pane, the original pane is now not updated until the cursor is moved

[2016-03-17 14:34] jmatsushita opened #520 "Missing TableSelection module"
Hi there,

I'm giving a kick in the tires of Substance and when trying to fiddle with adding converters and components to the Notepad example app I'm running into a missing dependency for the table package.

In `substance/packages/table/TableComponent.js

[code]

From the code it seems like this probably exists somewhere but I can't seem to find it (the `table-editing` branch seems older than this

[2016-03-17 14:42] michael commented on #520
Tables are currently reworked and not working on master. They will be based on some new API's that are developed here.https://github.com/substance/substance/pull/508.

Tables will be part of beta 5, just give us some time. :)

[2016-03-17 14:44] jmatsushita commented on #520
Ok great! Thanks for the update. Keep up with the good work :)

[2016-03-18 03:45] fengye87 opened #521 "Strange line wrap at the cursor for a long long single word when the edit area loses focus"
A really awesome JS lib, but I've found a subtle bug when playing with the demo. Here's some steps to replay the problem:
1. Go to http://substance.io/
2. Enter a really really long word (no whitespaces). I entered dozens of consecutive 'a's.
   ![normal](https://cloud.githubusercontent.com/assets/7160387/13867911/ca04e992-ecfe-11e5-9def-c18ef067ea16.png)
3. Put the cursor somewhere in between let

[2016-03-18 06:49] abhaga commented on #476
Fixed in fcc5dbb

[2016-03-18 06:49] #476 closed, assigned to nobody

[2016-03-18 06:49] abhaga commented on #474
Fixed in fcc5dbb

[2016-03-18 06:49] #474 closed, assigned to nobody

[2016-03-19 00:30] brucou opened #522 "Demo website"
Don't know if that has already been asked or discussed. But I unsuccessfully tried to install your demos. And I don't really want to dig into package.json and gulpfiles (error was when coming to the point of installing node-sass). Have you ever considered putting your demos on a website, so there is no need for local installation? At least I would be able to evaluate it properly.

[2016-03-19 06:52] michael commented on #522
You can find them here:

http://substance.io/examples/

Also: http://substance.io/lens

What was the exact problem with node-sass?

[2016-03-19 10:40] abhaga opened #523 "Merge error when pressing backspace at the beginning of TextPropertyEditor"
Default behavior is to attempt a node merge when the selection is at the beginning of current node which is not appropriate for TextPropertyEditor.

[2016-03-20 02:37] brucou commented on #522
Thanks Michael. I removed the whole thing, so I don't have the trace for the log. I will try again later and report it to you. Basically I had to update my version of node at some point as the installation required a newer node version. And after that, it came back with a node-sass error but there were no real information in the error log. I'll try to reproduce it and report. In the meanwhile I am

[2016-03-20 02:38] #522 closed, assigned to nobody

[2016-03-20 13:09] michael commented on #523
Thanks for reporting. We will make sure that's fixed for the next release. I suppose this will be covered along with those improvements: https://github.com/substance/substance/pull/508

[2016-03-20 20:17] rileylark opened #526 "Question: Building a component that wants to handle rendering & events itself?"
I'd like to make a substance component to wrap mathquill for math typing ( http://mathquill.com/ ). Unfortunately, mathquill uses jQuery to manage its own state - it won't play nicely with a virtualdom approach, and it may not respect other contracts that substance assumes.

I have so far tried using `didMount` to find the actual DOM node that mathquill needs to take over, like this:

[code]

But

[2016-03-20 20:51] michael commented on #522
I think you ran into a problem where a native extension (sass) need to be recompiled for a different node version. Would be great if you can reproduce the problem and report it, so we can take care of it.

[2016-03-20 21:49] michael commented on #517
Supported now and covered with a test.

[2016-03-20 21:49] #517 closed, assigned to nobody

[2016-03-20 22:22] michael commented on #526
Hi Riley!

I don't know the inner workings of Mathquill, but it should be possible to integrate any classic self-controlled javascript widget. You can use refs to refer to component elements, so you don't need a global data-id selector to find the wrapper DOM element. Something like that:

[code]

By setting contenteditable to false you make sure your self-controlled element does not get into the

[2016-03-20 23:02] rileylark commented on #526
Thanks @michael , that seems to be working much better than my force-selected element technique. Unfortunately now I think events that should be going to my old-style jQuery component are getting eaten by substance. For example, I can focus inside my component, but as soon as I type the focus jumps out to past the component and the letters appear in the normal editor space. Maybe substance is `pre

[2016-03-21 01:54] rileylark commented on #526
In case you happen to have time to help more with this, I cloned the examples repo and pushed my work so far, stripping out the MathQuill dependency altogether so you don't need to know anything about that.

Basically, I made a fictional jQuery plugin that works like this:

[code]

It's doing its jQuery thang, messing with the dom and expecting users to be able to interact with it. But when I conn

[2016-03-21 12:36] michael opened #527 "DefaultDOMElement.append fails for strings that contain invalid html"
[code]

Gives us this from jQuery:

[code]

Since we also have the .html method maybe we could in the append case always use text() to prevent from those errors.

[2016-03-21 12:39] michael commented on #527
Mhh at the same time it may be needed to pass html to append. I'm just investigating the Lens Exporter error, where we have this situation:

![image](https://cloud.githubusercontent.com/assets/2931/13918857/26ecde7c-ef6a-11e5-969d-21238cdbe917.png)

What can we do to ensure converter.annotatedText produces valid HTML, thus escapes characters like `<`?

[2016-03-21 13:18] dannelundqvist opened #528 "Cursor is hidden when positioned at the beginning of non empty paragraph"
The cursor is hidden when positioning it at the very beginning of a non empty paragraph in branch _substance/substance#dragndrop_. It does not matter if the cursor is moved to the first position using arrow keys or a mouse click.

However, when clicking a second time, or clicking after navigating there, the cursor is shown again.

[2016-03-21 14:24] michael commented on #526
Thanks for providing an isolated example! Your assumptions are right I think. We definitely want to solve this for Beta 4. Will follow up here once I have updates.

[2016-03-21 18:31] rileylark commented on #526
Sure, my pleasure @michael . It sounds like you think this can't work yet, but would like to add it to an upcoming release. If I have that right, I'd love to help by contributing a PR. Would that be helpful? Do you have any advice for a starting point?

[2016-03-21 22:00] michael commented on #526
We simply haven't had that usecase yet. But it's definitely an important one. I'd like to solve this along with some other work that's currently going on. https://github.com/substance/substance/pull/508 I'd be glad to see your proposed fix, however we will need to see if it will still apply after our internal reworking.

[2016-03-22 10:14] obuchtala opened #530 "substance.io: demo links"
Make demo teaser images clickable and link to the executable page.

Stencila:
https://stenci.la/nokome/examples/simple-sheet/

Lens Reader:
TODO

Archivist:
TODO

[2016-03-22 13:51] abhaga commented on #481
I stumbled across the same bug and the reason seems to be that while inverting the changes for pushing on undo stack, the `before` and `after` selections get detached from the document. Once restored, this works fine.

If this fix looks acceptable, I can send a PR.

[2016-03-25 21:37] michael opened #532 "We need a better way to test the collab protocol"
Message Queue as a fixture is not reliable enough as it depends on how the queue is consumed. It would be better if we had a way to express a protocol use-case in some easy to read format including invariants for each step.

I sketched something in a spreadsheet:

https://docs.google.com/spreadsheets/d/1rgx5qf5fmOeaweNu6JayPNxLOXwgD0P2PYlpGhspP38/edit?usp=sharing

[2016-03-26 22:51] Integral opened #534 "Bind to input sequence"
For notes app we need some kind of API which will trigger action on matching input sequence.
E.g. when user type // on paragraph beginning this paragraph must turn to comment or if user type [] paragraph must turn to issue.
@oliver----, could you help us with that?

[2016-03-27 06:43] dannyxx001 opened #535 "want to send pull request, but don't know which files to pick"
@michael
Hello, I'm an intern of cdnjs. (https://github.com/cdnjs/cdnjs)
I want to send pull request to merge your lib, but I don't know which files to pick.
Would you please tell me the files I should pick to join the library?
Thank you.

[2016-03-27 18:27] netsgnut commented on #534
Linking #413 as well, as this idea sounds similar to what we would like to do in another application.

[2016-03-27 19:10] Integral commented on #534
Yes, it's the almost the same api I would say.

[2016-03-28 08:59] michael opened #537 "GET /documents/:id should also return author, collaborators and createDate"
{
  documentId: 'note-2',
  author: 'Michael Aufreiter',
  created: DATETIME,
  collaborators: ['Daniel Beilinson', 'Oliver Buchtala']
}

I will then include this into the note cover.

[2016-03-28 09:01] michael commented on #537
Oops. wrong project.

https://github.com/substance/notes/issues/77

[2016-03-28 09:01] #537 closed, assigned to Integral

[2016-04-04 12:46] michael commented on #515
Done.

[2016-04-04 12:46] #515 closed, assigned to michael

[2016-04-11 06:28] dmukhg commented on #496
@sunu, I can see two ways around it.

Either when you create custom nodes, rather than wrap your paragraphs in your custom node, extend the paragraph class to create a  TextAlignedParagraph class. Naturally, you'll have to do this for all your nodes. So, TextAlignedList, TextAlignedTable etc. Just overriding getClassNames may be enough for most cases.

Alternatively, here is a slightly harder solu

[2016-04-11 08:03] michael opened #542 "Component Refactor: willReceiveProps is called initially."
I was expecting this to be called only when new props are arriving, not if a new component is instantiated.

@oliver---- Was this change on purpose?

[2016-04-11 08:04] obuchtala commented on #542
Nope. Will be removed.

[2016-04-11 09:04] obuchtala commented on #542
Fixed

[2016-04-11 09:04] #542 closed, assigned to nobody

[2016-04-11 09:16] obuchtala opened #543 "Be more idiomatic with usage of DI vs props"
For instance, in `Surface`, atm some props may come from dependency injection, or not, or from props, or not...
This is intransparent and immodular.

DependencyInjection should only be used within a component with clear life-time.
E.g., a TextPropertyComponent is typically created by a Surface, thus, we can inject the surface into the TextPropertyComponent.

In many other cases props should be pre

[2016-04-11 20:41] obuchtala opened #545 "Documentation: Understanding Component.js stacktraces"
Writing a tech-doc for this topic.

[2016-04-11 20:41] obuchtala commented on #545
# Understanding Component.js stack-traces

With the new Component.js API it is now easier to debug errors in the render stack. Still it needs a basic understanding of how things are working.

There is an inherent problem with the approach of Component.js that makes
it quite challenging to create a transparent debug experience.
Component.js lets you compose VirtualElements a-priori, pass them aroun

[2016-04-11 21:38] obuchtala opened #546 "Should Tools execute on mousedown?"
~~In gdocs an annotation is applied on mousedown already, not on click/mouseup.~~

[2016-04-11 21:41] obuchtala commented on #546
Nope. not true.

[2016-04-11 21:42] #546 closed, assigned to nobody

[2016-04-13 08:21] michael commented on #535
Hi! Thank you for the offer. However, Substance supports requires only on a file basis (or in other words, we don't provide any bundles), so it's not exactly suited for a CDN.

[2016-04-13 08:21] #535 closed, assigned to nobody

[2016-04-14 09:49] michael opened #551 "Ran into exception: Component is rendering already"
Happens for Note app, if not logged in and when navigating to the main page.

http://localhost:5000

![image](https://cloud.githubusercontent.com/assets/2931/14523744/92f52cae-0235-11e6-9972-da04e64814b3.png)

[2016-04-14 10:01] michael commented on #551
It's triggered by didUpdate of Notes.js and seems like the **isRendering** flag is still on at that time.

[2016-04-14 10:16] obuchtala commented on #551
Are you on latest substance#master?

[2016-04-14 10:42] obuchtala commented on #551
Ah, I see. You are setting state in didUpdate(), which itself is called during the last phase of a rerendering.
So, in other words: is it valid to call rerender() in didUpdate()?

[2016-04-14 10:48] obuchtala commented on #551
It sounds to me that this is sick (possible infinite rendering loops).
Looking at the code, I think the state handling in Notes.js is still messy, and this is the result of it.

[2016-04-14 10:50] obuchtala commented on #551
Until Notes's state handling is mastered, you can use

[code]

[2016-04-14 10:55] michael commented on #551
Yea, need to go to draw state machine on paper.
On Do., 14. Apr. 2016 at 12:49, Oliver Buchtala notifications@github.com
wrote:

[2016-04-14 11:36] michael commented on #551
Regarding semantics: Why is didUpdate the last phase of a rerendering and not called after all rererendering has finished? I mean I suppose in didUpdate you can not influence the rendering in any way anymore, so it could be safe to terminate the rendering (**isRendering** = false) before calling didUpdate? Not sure...

[2016-04-14 11:39] obuchtala commented on #551
I know that it can be solved somehow...but actually I am really against it, as it opens the door for infinite rerendering loops, which I prefer to keep closed.
And allowing it does not solve anything. On the other side, cool that it is not possible, discovering bad state handling.

[2016-04-14 11:40] obuchtala commented on #551
I have introduced the `__isRendering__` flag to prevent infinite loops. Even if this one is not an infinite one it could be one.

[2016-04-14 11:46] obuchtala commented on #551
Depends on what you are calling a rerender cycle. For me, triggering hooks belongs to the cycle:

[code]

[2016-04-14 11:49] obuchtala commented on #551
Or if you want, you can call it an 'update' cycle.

[2016-04-14 12:05] michael commented on #530
Done.

[2016-04-14 12:05] #530 closed, assigned to nobody

[2016-04-14 12:06] michael commented on #512
Done.

[2016-04-14 12:06] #512 closed, assigned to michael

[2016-04-14 12:11] michael commented on #528
I think I finally fixed this.

https://github.com/substance/substance/commit/d444ee15a069cd8d7fa668b7b85dba1d9a2667bc

This will go into beta4. It affects not only the CSS, also the rendering so it would take a bit of time to backport to beta3. @dotvoid is it ok for you to get this via beta4?

[2016-04-14 12:30] michael commented on #519
Could reproduce this in Notes app, getting the following stack trace:

![image](https://cloud.githubusercontent.com/assets/2931/14527976/78c67226-024d-11e6-9884-031c523e12b0.png)

[2016-04-14 12:35] michael commented on #551
Got it. That sounds reasonable.

[2016-04-14 12:45] jure commented on #519
Glad you could reproduce it, seems like a common enough action. Any idea why it's occurring?

[2016-04-14 12:49] obuchtala commented on #519
That's OT business.
Obviously we try to 'rebase' a create of a node across its deletion - which sounds weird.
Need to take a closer look when this occurs exactly.

[2016-04-14 12:56] michael opened #553 "ProseEditor containereditor.selectFirst function missing"
This errors:
https://github.com/substance/substance/blob/master/packages/prose-editor/ProseEditor.js#L26

Maybe this function got lost somewhere in a branch?

[2016-04-14 12:57] obuchtala commented on #553
Seems so.
Just deactivate this call for now.

[2016-04-14 13:04] michael commented on #553
Will add a stub printing a TODO message. Should this go into Surface or ContainerEditor?

[2016-04-14 13:13] obuchtala commented on #553
ContainerEditor

[2016-04-14 13:30] michael opened #554 "Issues with invalid collaborator selections"
Just to start tracking issues so we can reproduce and fix those edge cases:
- Use CollabWriter example
- Make container selection for user A (e.g. 8901)
- Make same selection for user B
- hit backspace to delete the selection

Leads to an error because collaborator selection still references p2 which just disappeared because of the deletion.

![image](https://cloud.githubusercontent.com/assets/293

[2016-04-14 13:31] #553 closed, assigned to nobody

[2016-04-14 13:34] michael opened #555 "Undo/redo edge-cases in realtime edit mode"
We observed various errors when doing undo/redo combinations. Opening this issue to reproduce error cases and track fixes.

[2016-04-14 13:40] michael opened #556 "How to access files property of file input element via DefaultDOMElement"
Removed jQuery for ImageCommand, but wondering how I could avoid navigating to the native element to access the files property of a file input element.

https://github.com/substance/substance/blob/master/packages/image/ImageCommand.js#L54

[2016-04-14 13:51] obuchtala commented on #556
This way:
https://github.com/substance/substance/blob/master/ui/BrowserDOMElement.js#L78

[2016-04-14 14:08] michael commented on #556
Thanks!

[2016-04-14 14:08] #556 closed, assigned to nobody

[2016-04-14 15:18] michael commented on #527
We provide a simple htmlentities cleanup now.

[2016-04-14 15:18] #527 closed, assigned to nobody

[2016-04-14 22:21] michael opened #557 "Idea: Implement router as a component"
I tried many different things today to get the top level state handling right for the notes app. One of the main problems I identified is mixing router stuff with internal component state stuff.  If we could separate that somehow, things would become easier to grasp. Also getting the order right is difficult. E.g. when the loginKey is in the route we must trigger reauthentication(=reinit) while in

[2016-04-14 22:23] michael commented on #557
I also made some sort of diagram for Notes app to better understand the component hierarchy for different scenarios (route + authentication state + mobile or not)

https://docs.google.com/spreadsheets/d/1ZJQ_7E874iV81gbcfCDy5zxfAoxJpwMZc_X6IaiVmwY/edit#gid=0

[2016-04-14 22:52] obuchtala commented on #557
The core problem is modelling the app state correctly, and implement app state transitions consistently.
The router is just the piece triggering those transitions.
So, I don't see the point putting the Router in the middle of everything.
First you should give your app an API which can deal with all the transitions that you identify.

[2016-04-15 08:19] PeterDaveHello commented on #535
@michael if you changed your mind, please let us know, thanks.

[2016-04-15 21:31] jure opened #558 ".table nodes should be namespaced"
Table nodes have a very generic class name and styling applied: https://github.com/substance/substance/blob/918878959ef88c20b2750963e20fb5750df60f13/packages/table/_table.scss#L4

Is there any specific reason why this is not namespaced like the other nodes are, e.g. `.sc-figure` or `.sc-image`?

[2016-04-17 17:50] michael opened #561 "willReceiveProps is called initially"
There's a danger of triggering some action twice, though didMount and willReceiveProps if not guarded. I would expect that willReceiveProps is only called if the component already exists, otherwise didMount can be used.

[code]

[2016-04-17 17:52] michael commented on #561
Actually now that I look closer, what we probably need is a `willMount` hook to complement `didMount`, so we have a chance to compute derive state before the initial render is performed.

[2016-04-17 17:55] michael commented on #561
We could also decide to use the existing semantics but then we should call loadDocument only on willReceiveProps.

Related: https://facebook.github.io/react/tips/componentWillReceiveProps-not-triggered-after-mounting.html

[2016-04-17 19:28] michael commented on #558
New table implementation is coming soon. Current table is considered legacy.

[2016-04-17 19:28] #558 closed, assigned to nobody

[2016-04-18 00:24] michael opened #562 "Issue with DocumentationRouter"
route:changed is emitted (see Router.js) but somehow listener (DocumentationController) is gone when that happens.

[2016-04-19 21:29] michael opened #564 "Predefined and managed node component props"
We need some predefined props that are managed and set by the Surface for our editor components. The contract is that those are set appropriately whenever a component is used inside a surface.

Here's a the use-cases I identified so far:

`active`: e.g. when a cursor is inside an annotation we could propagate an active property. This could be used to display a small info box while editing a link.

[2016-04-20 10:28] sunu commented on #496
Hey @schatten! Thanks for the pointers :smile:
We actually ended up implementing alignment by kind of extending Annotations and doing some extra work in middleware.

[2016-04-21 13:16] michael opened #565 "Improve BrowserDOMElement.getAttributes"
We expect getting the HTML or XML attributes here. However, this method is used in a special way internally and has different semantics.

We should move the component specific code somewhere else and let getAttributes behave as expected.

https://github.com/substance/substance/blob/master/ui/BrowserDOMElement.js#L65

[2016-04-30 21:03] jacwright opened #567 "[Feature Idea] Text Substitutions"
When the user types text that matches pre-defined expressions it will automatically get replaced. Some examples would be:
- Typing `*` + space at the beginning of a paragraph will change it into a bullet list
- `1.` + space converts into a numeric list
- Two dashes will convert into an `emdash`
- `#` + space converts into an `h1`
- other markdown shortcuts such as `>` + space at the start of a par

[2016-04-30 22:12] Integral commented on #567
Hey,
sounds like #534 and #413...
We have commander branch with that feature, but not at the best shape.

[2016-05-01 16:19] michael opened #569 "Heart beat for websocket connections"
We should implement a heartbeat (configurable interval for 'highfive' message) on WebsocketConnection level.

This is necessary because some servers (e.g. nginx) close websocket connections after a timeout when there is no activity. See: https://github.com/substance/notes/issues/105#issuecomment-216052731

[2016-05-02 15:27] jacwright commented on #567
Yes. I _did_ search for existing stories that might cover this but couldn't find any. In my defense they are not named very well. 😄  I would say #413 is about a different issue with text substitutions only being mentioned. But this is a duplicate of #534 for sure.

[2016-05-11 07:31] dannelundqvist opened #572 "Cmd/ctrl+k should trigger link command"
Currently the link command/tool is triggered by **cmd/ctrl+l**. This is normally used to focus the address bar in the browser.

More common is to use **cmd/ctrl+k** to trigger link insertion.

[2016-05-11 10:17] michael opened #573 "Non-deletable content"
We should think of a concept to make individual nodes immortal. E.g. When a selection wraps an immortal node, reject the delete transformation.

[2016-05-11 14:20] benoitc opened #574 "embed code hilighting"
Is there a way to insert hi-lighted code content in a container?

[2016-05-12 08:35] michael commented on #574
There are many ways. You'd need to implement your custom code node and component and use your own highlighter. It's also possible to integrate an existing code editor (such as CodeMirror). However, there are some issues where keyboard events bubble through to the Substance editing surface. We are working a feature called 'isolated-nodes' to solve that. It will come with beta 4 this month.

[2016-05-12 17:25] michael opened #575 "More modular and independent tools"
Let's take the link tool we have currently. There's a lot of magic going on in LinkTool which includes an EditLinkPrompt which is displayed below the top toolbar. We want to simplify that and have Individual components for isolated tasks and be able to let users decide where the individual components get rendered (in the toolbar, as an overlay close to the current selection position or in any othe

[2016-05-12 17:29] michael commented on #575
Things not yet covered by the proposal above:
- Mapping selections to writer state. We need transparent and extensible mechanism that maps from a selection (e.g. cursor inside a link) to a writer state (e.g. {linkId: 'link-10'})
- clear difference between Tool (associated with a command that manages the tool state) and other components involved in the flow (e.g. EditLink could also be considered a

[2016-05-12 19:10] #574 closed, assigned to nobody

[2016-05-12 19:13] benoitc commented on #574
Thanks for the answer. Sorry I have been traveling today.

"implement your custom code node and component " do you have any link about it? Integrating codemirror would indeed do the trick somehow... If I can test some preview code that would be fine for now I  guess :)

[2016-05-15 14:34] michael opened #576 "Clone props in $$ to avoid accidental changes to original data"
Will follow up with a failing test.

[2016-05-15 14:44] michael commented on #576
See #577 for a failing test.

[2016-05-15 20:19] benoitc opened #578 "tab key handling"
It seems that the tab key is not handle in substance editor (at least the examples). Is there a way to catch the key? and then indent appropriately?

[2016-05-15 20:20] benoitc commented on #578
(edited to be more clear)

[2016-05-16 13:47] michael opened #579 "Introduce getDefaultProps"
It would be nice to be able to specify default props for our components, so we can merge the defaults with the actual props provided by the parent. This would be useful for the new Toolbar implementation for instance.

[2016-05-16 17:26] michael commented on #578
That's correct. we would rather have the tab key for accessing other editable areas rather than using it for indentation. This may only make sense within lists (including shift+TAB for dedent).

[2016-05-17 13:37] michael commented on #579
for setProps: extend({}, defaultProps, props);
for extendProps: extend({}, oldProps, props);

[2016-05-20 10:45] Integral opened #583 "Mistake in DocumentEngine tests"
@michael,  [here](https://github.com/substance/substance/blob/master/test/collab/testDocumentEngine.js#L42) we call getDocument with string argument, while [it should be args object](https://github.com/substance/substance/blob/master/collab/DocumentEngine.js#L90)

[2016-05-20 10:55] michael opened #584 "Implement getBoundingClientRect(els, relativeEl)"
Working on overlay positioning I realise offset calculations etc. have not yet been implemented in a generic robust way. I propose the introduction of a utility method `getBoundingClientRect` that works very similar to native `Element.getBoundingClientRect` but:
- allows multiple elements being passed (we need this for selections that consist of multiple selection fragments)
- takes a `relativeEle

[2016-05-20 11:11] michael commented on #584
Additional notes:
- I think we should use `Element.getBoundingClientRect` as a baseline in the implementation and compute the relative pos by summing up the offsets of the offsetParents. The nice thing about that approach is that it's robust against border, margin etc. stuff.
- possibly we should have an internal function that just takes one element and the exposed function will just compute the e

[2016-05-20 11:24] michael commented on #584
Maybe helpful to test against different example layouts (toolbar on top, border margin, scrolling container vs scrolling body etc.). While this sounds like a simple task the challenge is to cover edge cases and to ensure that when the code is changed nothing breaks. These visual things are so terrible to reproduce. I'm not sure what the best approach would be, but having a way to automatically tes

[2016-05-20 14:33] michael commented on #583
True! Can you fix and open PR (based on devel branch). I'm currently in overlay business.

[2016-05-20 14:37] Integral commented on #583
yes, but let's collect more issues

[2016-05-20 14:40] Integral opened #585 "DocumentEngine: delete document order"
@michael, [here](https://github.com/substance/substance/blob/master/collab/DocumentEngine.js#L97) we delete document and then changes. Could we change order and delete changes first?
Some systems (postgresql for example) will allow delete document only after all references will be deleted.
We should also delete snapshots during this step.

[2016-05-20 16:23] michael commented on #584
Ok the blue lines are actually not correct. getBoundingClientRect describes the rectangle using the distance from top-left. However, for positioning it would be better to have right represent the offset to the right bound of the container (much like css absolute positioning). That way the overlay can decide how much space is available to the right of the bounding rect.

I guess we will rename the

[2016-05-20 18:41] michael commented on #585
👍

[2016-05-20 21:02] michael opened #587 "Polish overlay component"
The new overlay functionality is in place. However, it needs some polish in terms of styles and positioning.
- [x] Proper styles for the overlay component (see [here](https://github.com/substance/substance/blob/devel/styles/components/_overlay.scss))
- [x] Improve positioning strategy (see [here](https://github.com/substance/substance/blob/devel/ui/Overlay.js#L53-L75))

@joe-loco: Checkout substan

[2016-05-20 21:18] michael commented on #572
Fixed via https://github.com/substance/substance/pull/582/files#diff-16ce8392834e7de5bcf8302dbfde48dcR514

Btw, we have also generalized the overlay feature and made it a core API. #586

Will all land in beta 4.

[2016-05-20 21:20] michael opened #588 "Update ProseEditor to conform to new Commands config API"

[2016-05-20 21:21] michael commented on #557
We have a solution now.

[2016-05-20 21:21] #557 closed, assigned to nobody

[2016-05-20 21:21] #572 closed, assigned to nobody

[2016-05-20 21:23] #551 closed, assigned to nobody

[2016-05-20 21:23] #528 closed, assigned to nobody

[2016-05-21 16:36] michael opened #591 "Refactor Highlights API"
Needs a design iteration.

[2016-05-22 08:50] philippamarkovics commented on #584
+1 for `getRelativeOffsets(els, relativeEl)`

[2016-05-22 12:47] michael opened #593 "Fix embed node type"
Currently broken after commands refactor. We want this to behave like links, maybe also share some code (e.g. Input field that updates the url).

[2016-05-22 12:48] michael commented on #575
Done. Just needs polish. See #584 and #587

[2016-05-22 12:48] #575 closed, assigned to nobody

[2016-05-22 12:49] michael commented on #588
Done. Now we develop a plugin system for ProseEditor.

[2016-05-22 12:49] #588 closed, assigned to michael

[2016-05-22 20:12] michael opened #594 "Introduce configuration API for ProseEditor"
This will be a proof of concept on how to realise plugins with Substance.

Proposal:

Users call APIs on a configurator instance that provides the following core methods.
- addNode to register a new node implementation
- addComponent to register a component using a name
- addCommand to register a command
- addTextType to register a text type
- addTool to register a tool
- import to actually run/ap

[2016-05-23 09:45] michael commented on #594
Considering CSS files in a package will be a challenge. We then need to dynamically generate SASS entry point files.

[2016-05-23 13:31] michael commented on #594
See #595 for a first implementation.

Usage in app:
https://github.com/substance/examples/blob/configurator/prose/MyProseEditorConfig.js

Base configuration modelled as a Package definition.
https://github.com/substance/substance/blob/configurator/packages/prose-editor/ProseEditorPackage.js

Tools are injected based on configuration:

In the toolbar (e.g. LinkTool)
https://github.com/substance/sub

[2016-05-23 20:57] philippamarkovics commented on #584
I left some thoughts on the function name in #596.

Also, I changed the default position for overlays to be aligned to the center/top of it’s corresponding selection. I’d argue that this is better because the default writing direction direction is ⬇️ and that, by default, leaves more space above the cursor. This, of course, is absolutely untrue in many situations and I guess, in the end, it just f

[2016-05-24 09:29] michael opened #597 "Surface: implement scrollSelectionIntoView on sessionDidUpdate"
We could call `surface.scrollSelectionIntoView()` here.

https://github.com/substance/substance/blob/devel/ui/SurfaceManager.js#L191

[2016-05-25 21:17] ghost opened #600 "Source Code Documentation? Composer in the Browser?"
I'm interested in using Substance as the single source of truth for my all of project documentation including source code comment documentation. I plan to create a tool to walk the JavaScript source AST and use the Substance API to create the stubs. But I wanted to ask, has anyone previously used Substance for source code documentation?

Also, is it possible to run Composer directly in a browser?

[2016-05-30 10:58] michael opened #606 "Implement LabelProvider"
Packages should be able to define labels in a default language.

[code]

[2016-05-31 09:39] zampino opened #607 "Bring list of annotations upward in the document schema"
Hallo substance team,
I have the following issue with annotations
while attempting to write an Elixir Renderer (HtmlExporter) for substance document.

Let's say I have the following document produced by a substance editor:

[code]

At present, when I want to _apply_ annotations to the nodes listed in the _manifest_ at `/nodes/body/nodes`,
I have to **scan all nodes** at `/nodes` and for each `(id,

[2016-05-31 10:26] mk commented on #607
We're discussing persisting an XML-file format like in http://substance.io/lens/data/example-doc.xml for articles.

[2016-05-31 12:52] michael opened #608 "Make doc.toJSON() use JSONConverter"

[2016-05-31 13:08] michael opened #609 "Add example for ContainerAnnotation"

[2016-05-31 13:42] mk commented on #607
@zampino we're using the internal representation of substance documents at the moment. In javascript you'd have such helper functions available.

[2016-05-31 15:14] michael opened #610 "Container.hide should delete all occurences of nodeId"
Currently we only remove the first occurence.

[2016-06-01 08:07] michael opened #612 "Improvements for getBoundingClientRect"
Follow up of https://github.com/substance/substance/pull/596

Comments:

span in the middle: maybe you can use span.getBoundingClientRect() there too, instead of el.offsetLeft? And then subtract the parent rectangles from it until relativeEl is reached? (but likely overlooking something here)
toArray seems useful. just wonder it's necessary here as lodash/forEach should be able to iterate over Nod

[2016-06-01 09:21] obuchtala opened #613 "stage.transaction does not pass Info object"
Not critical but inconstent.

[2016-06-01 10:27] obuchtala commented on #613
change.info is wrong

[2016-06-01 10:51] Integral commented on #613
what do you mean by wrong?

On Wed, Jun 1, 2016 at 1:27 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-01 10:52] michael opened #614 "Update all transform to return a new object instead of in-place updating the args object"

[2016-06-01 22:45] obuchtala commented on #613
It's just that during the transaction the `info` object is not provided.
Not really critical, because the info object is designated for use in the handlers after document change. Still it should be there, for sake of consistency... no use case though, just was confused during debugging...

[2016-06-01 22:49] obuchtala commented on #613
BTW, we are introducing `info.action` which helps to see what a change means semantically. I.e., when you type, `change.info` should contain the action `type`, so it gets easier to activate macros for instance only in that situations.

[2016-06-01 22:49] obuchtala commented on #613
... as opposed to paste or remote changes.

[2016-06-01 23:06] Integral commented on #613
Ok... what are the names of other actions?

On Thu, Jun 2, 2016, 02:49 Oliver Buchtala notifications@github.com wrote:

[2016-06-01 23:16] obuchtala commented on #613
Whenever you call surface.transaction you can provide such an Info for disambiguation... E g. break or paste...

[2016-06-01 23:17] obuchtala commented on #613
We already had Info.replay for undo/redo

[2016-06-01 23:18] obuchtala commented on #613
So, it is pretty open, as it is optional

[2016-06-02 07:30] Integral commented on #613
Yep, we have smth like that with collab stuff. But my question what other
contracts we have for action names... it's optional but macro manager
already use concrete name for typing. Maybe you have another names already
for deletion etc...

On Thu, Jun 2, 2016, 03:19 Oliver Buchtala notifications@github.com wrote:

[2016-06-03 06:57] dmukhg opened #617 "TextPropertyComponent uses wrong css style for pre-wrapping whitespace"
https://github.com/substance/substance/blob/master/ui/TextPropertyComponent.js#L61

whiteSpace is a javascript alias for the 'white-space' CSS property.

[2016-06-03 10:49] obuchtala opened #620 "Should we flatten substance/model?"
While we had the feeling it would be good not to clutter the root folder, I start disliking to write `substance/model/transform`.

We could either pull `model/data` and `model/transform` out or flatten it into substance/model.
Personally I would prefer `substance/data` and `substance/transform`

@michael what is ur opinion?

[2016-06-03 11:11] michael commented on #620
We can do substance/data and substance/transform. I have no objections.

[2016-06-03 12:26] obuchtala commented on #620
Maybe that's one step too far: `substance/model` -> `substance/document` ?

[2016-06-03 12:28] michael commented on #620
Probably. I mean nothing holds us back from bringing the node-modules we had previously into the root folder but not particularly sure about this one. What would remain in model then?

[2016-06-03 12:30] obuchtala commented on #620
Looking at `substance/model` it contains mainly Document related stuff. Some others such as `Fragmenter` could go into util.

[2016-06-03 12:32] michael commented on #620
Mhh i guess i would just miss this model vs ui thing..  mhh but that's gone anyway now we have transform on top level.

[2016-06-03 12:33] obuchtala commented on #620
We should at least sleep one night over it ;)

[2016-06-03 12:33] obuchtala commented on #620
Or we do it later on...

[2016-06-03 12:36] michael commented on #620
I'm also not sure regarding the collab folder. We have a server vs. client dimension now also. And the structure in test is not consistent anymore. Maybe we should dedicate a day next week for restructuring.

[2016-06-03 12:39] obuchtala commented on #620
I am flattening tests right now, because there we have a lot of `../../../../../` which is b***t.
For tests I want that `../..` is root, so it is only one level deeper than the regular source files.

[2016-06-03 12:40] michael commented on #620
+1

[2016-06-03 12:41] obuchtala commented on #620
For the top-level folders we can wait.

[2016-06-03 12:42] obuchtala commented on #620
BTW, collab is not only about server, as you could do p2p and make a client a master.

[2016-06-03 12:42] Integral commented on #620
btw don't you want to get rid of qunit?
it's really boring. i can't see any reason to use it except already written
tests...

On Fri, Jun 3, 2016 at 3:40 PM Michael Aufreiter notifications@github.com
wrote:

[2016-06-03 12:45] obuchtala commented on #620
I agree. Let me finish this iteration. Then we start planning how to migrate.

@Integral have u time to figure out how to do it with mocha? Just a clean-room example somewhere.
We need to have that UI driven test suite, plus nodejs (which is obvious with mocha).
Also we need to know how to run the mocha driven UI suite from within karma.
That's unfortunately a bunch of requirements...

[2016-06-03 12:46] michael opened #621 "Converter configuration and registry"
DOMImporter exporter expects config.converters to be an array. However you setup the configurator to provide registries by file type and converter type.

[code]

I think this is good as we have the type property anyways for converter objects. Just not sure I should start updating DOMImporter yet to use the registry format or pass an array for now?

[2016-06-03 12:49] michael commented on #621
Ah I see registry has forEach now, so this should work. I will try.

[2016-06-03 12:55] obuchtala commented on #620
@michael another thing to think about: should tests for a package not live in the package, too?

Edit: as I read it, I don't think that is necessary. Tests for other folders/modules are also not there...

[2016-06-03 12:56] Integral commented on #620
well... first of all, as I understand, QUnit is just an outdated thing. not
sure, but I have a feeling that there is no features in QUnit which you
cant find on other modern frameworks.
There is no problem to execute mocha within karma. Don't know nothing about
mocha driven UI test suites, but pretty sure that it is possible.
if you want i could prepare some small package, like with 2 tests for ba

[2016-06-03 12:58] obuchtala commented on #620
That would be great!
Yep, devDependency -- we can have as many we need ;)

[2016-06-03 13:04] michael commented on #620
Please also evaluate tape. It's from the browserify maker.

https://github.com/substack/tape

https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you-6aa105d8eaf4#.kjrsjvt50

[2016-06-03 13:22] obuchtala commented on #620
`tape` looks interesting. Very simple.
Also found this: https://ci.testling.com/guide/tape
It seems that it comes without UI, though. Just using browser's console.

https://github.com/substack/testling

[2016-06-03 16:28] Integral commented on #620
will play with both in a branch

On Fri, Jun 3, 2016 at 4:22 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-03 16:32] obuchtala commented on #620
Cool! Thx!

[2016-06-03 16:48] Integral commented on #620
But before, let's just summarise what we need (pls, add something or
correct me):
1) test code with linter
2) test code with node
3) test code in different browsers
4) test code in different devices (desktop, tablets, phones etc)
5) run tests directly in browser and receive report
6) test coverage report
7) run tests on CI servers

is it correct?

On Fri, Jun 3, 2016 at 7:32 PM Oliver Buchtala not

[2016-06-03 16:52] obuchtala commented on #620
1. Linter is working already - so no need for that.
2. yes
3. yes (we were using karma for that particularly only testing for FF and Chrome on Travis)
4. future (so no prio)
5. yes, because that's the env where we are actually fixing things
6. yes
7. yes (but ok if only Chrome and FF, Edge is just too big an effort --  would need a different CI

[2016-06-03 16:54] obuchtala commented on #620
2 vs 3: there are some ui tests we exclude when running in node.. but this actually done from within the test by guarding with `inBrowser`.

[2016-06-03 16:57] obuchtala commented on #620
5: and it should run in like browserified served setup... debugging in karma is not an option.

[2016-06-03 17:10] obuchtala commented on #620
finally: would be good to start the automated tests from gulp, while 5) should still be just served by `server.js`.

[2016-06-03 17:22] Integral commented on #620
so you want to run tests and debugging inside concrete browser, but still
want to have some tool which will emulate browsers and run all tests inside
them one after another, right?

On Fri, Jun 3, 2016 at 8:10 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-03 17:23] obuchtala commented on #620
correct :)

[2016-06-03 17:29] obuchtala commented on #620
plus of course: running the tests in nodejs to make sure the server side stuff (including server side rendering) is working.

[2016-06-03 18:20] Integral commented on #620
Well, didn't try anything yet, but looks like tape could be very useful
here as you can bundle test (browserify) and then debug it in browser.
Regarding automated browser tests looks like there is no better way then
karma... There are couple of other tools like zuul (
https://github.com/defunctzombie/zuul) or smokestack (
https://github.com/hughsk/smokestack), but karma works with biggest number
o

[2016-06-03 18:27] obuchtala commented on #620
Ok!
Do u think that tape bundle can be run in karma?
As I understand karma needs kind of an adapter which is starting the test and providing the result to the karma API.. but don't know for sure.

[2016-06-03 18:31] Integral commented on #620
There are karma adapters for tape, no worries!
But I mean running test suite and debugging inside individual browser. E.g.
automated tests will tell you that something wrong with chrome and then you
could open special test bundle in chrome and debug! At least I hope so ;)

On Fri, Jun 3, 2016 at 9:27 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-03 18:34] obuchtala commented on #620
Yep. That is essential :)

[2016-06-03 18:50] Integral commented on #620
Btw, do you know anything about this thing?
http://seleniumhq.github.io/selenium/docs/api/javascript/

On Fri, Jun 3, 2016 at 9:34 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-03 18:56] obuchtala commented on #620
I am not sure... selenium is a brutal heavy thing. But if u think that is feasible than take a look.

[2016-06-03 18:58] obuchtala commented on #620
I don't think we would pull that in as dev dependency, just to run it on CI.

[2016-06-03 18:59] obuchtala commented on #620
maybe... https://www.npmjs.com/package/selenium-standalone

[2016-06-03 19:04] obuchtala commented on #620
As I understand, karma is there to offer a more lightweight alternative. Still, I would not say karma is light-weight. And I also understand, that karma is not helping us much to produce real browser events, as a user would produce. Maybe selenium is able doing that. (which is one thing I really miss, because right now we can't really test the ui as we can't produce native UI events.)

[2016-06-03 19:32] Integral commented on #620
Can't say anything. Never used it. But agreed that it is a brutal thing :)

On Fri, Jun 3, 2016 at 10:05 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-03 20:39] Integral commented on #620
interesting: https://github.com/juliangruber/tape-run

On Fri, Jun 3, 2016 at 10:32 PM beilinson@gmail.com beilinson@gmail.com
wrote:

[2016-06-03 20:56] Integral commented on #620
also: https://theintern.github.io/intern/#what-is-intern
https://github.com/jquery/testswarm/wiki

On Fri, Jun 3, 2016 at 11:39 PM beilinson@gmail.com beilinson@gmail.com
wrote:

[2016-06-03 21:31] Integral commented on #620
and finally local testling: https://github.com/substack/testling (but it
looks like abandoned...)

On Fri, Jun 3, 2016 at 11:56 PM beilinson@gmail.com beilinson@gmail.com
wrote:

[2016-06-03 23:03] obuchtala commented on #620
testlng really seems to be stalled. No option.

[2016-06-03 23:05] obuchtala commented on #620
what about a mocha based solution? do u think that is ok as well?
or do u think tape-run is it?

[2016-06-04 10:44] Integral commented on #620
Yep. This would be ok, there is karma adapter for mocha of course.
But tape seems to be much lightweight. I would say that the challenge is to
replace karma with somewhat easier...
Btw, do need installed browsers for karma?

On Sat, Jun 4, 2016, 03:05 Oliver Buchtala notifications@github.com wrote:

[2016-06-04 10:47] obuchtala commented on #620
karma needs the browsers installed yes.
Actually, I don't have much hope to get rid of karma.
Do you think we can achieve all we said with karma and tape?
I would then opt for this combi

[2016-06-04 11:30] Integral commented on #620
There is https://github.com/tmcw-up-for-adoption/karma-tap
but this project isn't maintained anymore and it's not clear whatever or
not it will work

Regarding karma... if everything we want from karma is ability to run tests
in browsers than it might help us: https://github.com/juliangruber/tape-run

On Sat, Jun 4, 2016 at 1:47 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-04 12:14] obuchtala commented on #620
Alright, let's try tape-run :)

[2016-06-04 12:20] obuchtala commented on #620
And if that not working we can go back to karma - i understance adapters are not difficult: https://developers.soundcloud.com/blog/writing-your-own-karma-adapter

[2016-06-04 13:37] Integral commented on #620
Yep, and there is already adapter for tape here:
https://github.com/tmcw-up-for-adoption/karma-tap/tree/master/src
but look, they do it with tap parser which is soooo big:
https://github.com/tmcw-up-for-adoption/karma-tap/blob/master/src/tap-parser.js

On Sat, Jun 4, 2016 at 3:20 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-04 13:41] obuchtala commented on #620
The size is actually not a problem, I think.

[2016-06-04 14:36] Integral commented on #620
Mmmm, it is a problem actually! Just imagine that you need to find a bug
inside parser which consists of 16k of lines! Ahhh. It would be just a
black hole in terms of understanding what's going there.

On Sat, Jun 4, 2016 at 4:41 PM Oliver Buchtala notifications@github.com
wrote:

[2016-06-04 14:39] Integral commented on #620
But... less talk, more work... I mean, let's try!

On Sat, Jun 4, 2016 at 5:36 PM beilinson@gmail.com beilinson@gmail.com
wrote:

[2016-06-05 08:23] michael commented on #621
Solved.

[2016-06-05 08:23] #621 closed, assigned to nobody

[2016-06-05 08:30] michael opened #622 "Configurator.extendContext"
We want a way so plugin can extend the context dynamically. However the problem is that often, in order to construct the user defined context object, constructor arguments are needed. We had this problem just recently with adding TangleManager to the context to maintain values and expressions. We solved this via inheritance but we should think of a better (configurator pattern compatible way)

[2016-06-07 17:49] Integral commented on #620
Hey!
Looks like I ported whole test suite to tape.
Checkout `test-env`, do `npm install` and then `gulp test:tape`.
Of course there is a room for some improvements... But will describe later, now i need to switch for other things. Woooo! ;)

[2016-06-07 17:50] obuchtala commented on #620
Whoot!

[2016-06-07 21:36] Integral opened #625 "Improve tests"
We want to:
- [x] Test code with linter (eslint, first step of automated tests, before running real tests)
- [x] Test code with node (automated tests)
- [x] Test code in different browsers (automated tests)
- [ ] Test code in different devices: desktop, tablets, phones etc (low priority, automated tests)
- [x] Run tests directly in browser and receive report (needed for debugging, should be served

[2016-06-07 21:37] Integral commented on #620
let's continue in separated issue (#625)
sorry for such a big off topic :)

[2016-06-07 22:40] Integral commented on #625
@oliver----
So, short report of what we have now in `test-env`.
Basically it's just a port without any significant improvements except that fact that now we are using tape. All taped tests and stuff placed inside tests dir.
Oh, yes! No more fucking QUnit with it's globals and whatever else.
We are still with karma. I did try tape-run, but it looks like they have some issues with opening/closing br

[2016-06-08 00:00] obuchtala commented on #625
Thx! I will need to take a closer look. Then I can say more :)

[2016-06-08 00:06] Integral commented on #625
Take a look then ;) and I will continue!

On Wed, Jun 8, 2016, 04:00 Oliver Buchtala notifications@github.com wrote:

[2016-06-08 08:26] obuchtala commented on #625
Hey @Integral,

in QUnit we use nesting to filter tests / run tests for a certain module, which is useful when u are working on tests for a specific module. But it does not necessarily mean that we need nested tests, maybe just a means to filter tests. To have a prefix in the test description would be nice, right now it is hard to tell in which module a test is implemented.

The UI is really the m

[2016-06-08 08:37] obuchtala commented on #625
The current port is looking good. I will leave some comments in the commits.

[2016-06-08 09:56] obuchtala commented on #625
I looked into the tape implementation, and think that getting such a UI needs a bit of crafting on our side.
I understand that tap-reporters are not enough for us, as we want to control the life-cycle of the test-harness.
The way it need to be done is to create a custom harness, not using the default harness which is triggered automatically on process exit (which is simulated in the browser).
Then

[2016-06-08 11:08] obuchtala commented on #625
@Integral I have prepared the basics for a custom Test UI: 61653fd

Look at https://github.com/substance/substance/blob/61653fd08092093f793f44a95ea0c26ffc925cd2/tests/test.js:

We now have something which wraps `tape` when running in the TestSuite app in the browser.
You could now go on and try to build a simple UI:
https://github.com/substance/substance/blob/61653fd08092093f793f44a95ea0c26ffc925c

[2016-06-08 11:40] obuchtala commented on #625
I have some more ideas:
We could add some more helpers on top of `test` which is returned by `tests/test.js`.
- `test.UI(name, fn)` replacing UITest
- `test.FF(...)`, etc.
- `test.module()` returning something which has the same interface has `test` but adding the module name as prefix and maybe add the information to the Test instance. E.g.

[code]

I.e. we would wrap tape, mimicking the same int

[2016-06-08 12:10] obuchtala commented on #625
@Integral are u working on this right now? I saw that your commits are based on a commit which is not in the devel branch anymore (because I had to rebase eslint branch before merging). I would like to fix this.
Let me know, will take just a second

[2016-06-08 12:40] obuchtala commented on #625
Just for the records, we will need to port some newer changes in the QUnit tests.

[code]

[2016-06-08 14:40] Integral commented on #625
Hey, I do like what you proposed. I thought about the same.
I think we should also attach generalised method for doing beforeEach and afterEach.
Btw, do we really need afterEach after tearing down all globals..?

[2016-06-09 16:51] Iuriy-Budnikov opened #627 "Incorrect type of iterator"
Hey Guys.
I noticed that if I tring to render one node element I'm getting object instead of array in

[code]

For ex: try to render one item
`<p data-id="paragraph-016ffcd6469ddeac3f93374acd6a2404">fdddf</p>`

[code]

[2016-06-09 18:07] Iuriy-Budnikov opened #628 "Incorrect data attribute in export function in example"
[https://github.com/substance/examples/blob/master/converter/TodoHTMLConverter.js](url)

it should be data-done instead of done in

[code]

[2016-06-10 05:09] Iuriy-Budnikov opened #629 "Add image example"

[2016-06-10 17:31] michael opened #631 "Select multiple isolated nodes at once"
It would be nice to be able to select multiple isolated nodes at once. E.g. with shift+down or shift+click. Then cut and paste them somewhere else. :)

[2016-06-10 17:32] michael opened #632 "Inline node selection bugs"
The latest updates work great. However if I expand my selection from left to right... an isolated node blocks the expansion. From right to left it works.

Also, if two inline nodes follow without any character in between, you can across the first.

[2016-06-10 17:36] obuchtala commented on #631
Should be possible already. Maybe a bug?

[2016-06-11 07:41] obuchtala opened #635 "RenderingEngine: reattaching preserved Components does not work"
Something like this results in exceptions:

[code]

[2016-06-12 08:57] obuchtala opened #636 "Component: didUpdate gets called with the new state instead of the oldState"
`Component#didUpdate(oldProps, oldState)`: should provide old props and state, so that it is easier for the implementor to do things incrementally.

Right now, `oldState` is just the new state.

[2016-06-12 09:29] michael opened #638 "Port DocumentationReader to new API's"

[2016-06-12 12:20] michael commented on #594
Done.

[2016-06-12 12:20] #594 closed, assigned to nobody

[2016-06-12 12:23] michael commented on #587
Done. We use a dark style for the overlay now as it separates better from the content. And we can avoid using box shadows.

![image](https://cloud.githubusercontent.com/assets/2931/15991104/2df43a14-30a9-11e6-9645-3a962b20b7d8.png)

[2016-06-12 12:23] #587 closed, assigned to nobody

[2016-06-12 12:24] michael commented on #574
We have an example for this now.

https://github.com/substance/examples/pull/18

[2016-06-12 12:30] michael commented on #606
Will work on this now.

[2016-06-12 19:04] #635 closed, assigned to nobody

[2016-06-12 19:10] michael opened #642 "Selection expansion bug"
When expanding selection with shift+right... followed by shift+left selection expands to the left when it should shrink on the right edge.

[2016-06-12 19:11] michael opened #643 "Feature: Extend expanded selections like in Sublime"
When double clicking on a word then dragging to the left the selected (doubled clicked word) does not get considered in the selection.

[2016-06-12 19:14] michael opened #644 "Typing when cursor is on left side of isolated node leads to exception"
Typing in this situation
![image](https://cloud.githubusercontent.com/assets/2931/15993327/836e81c8-30e2-11e6-8f13-7e378039b800.png)

leads to:

![image](https://cloud.githubusercontent.com/assets/2931/15993332/957e6e3c-30e2-11e6-830f-4e5e83f32952.png)

[2016-06-12 20:01] obuchtala commented on #642
Seems to be only on OSX.

[2016-06-12 20:05] obuchtala commented on #643
On Windows this seems to be correct. A double click selects from left to right, i.e., anchor is on the left. It makes sense then that dragging to left does not consider the right boundary.

@michael what do u think?

[2016-06-12 20:06] obuchtala commented on #644
True. Not implemented yet.

[2016-06-12 20:07] obuchtala commented on #644
We need to specify what we actually want here.

[2016-06-12 20:08] obuchtala commented on #644
I don't thing breaking automatically is the right choice. Maybe we just don't allow inserting things here?

[2016-06-12 20:24] obuchtala commented on #643
I suppose the anchor should be new on the next mousedown. I.e. the previous selection should be irrelevant.

Edit: and that's the way it is done right now. I.e. dbl-click with holding down has the behavior explained above. A new click sets a new anchor wich is correct.

[2016-06-12 21:08] michael commented on #643
Yep I just observed how Sublime behaves... as soon as the drag gets recognized it switches the anchor.

![doubleclickanddrag](https://cloud.githubusercontent.com/assets/2931/15993827/8d47f25a-30f2-11e6-8054-a76c053125ac.gif)

[2016-06-12 21:09] michael commented on #606
Done.

[2016-06-12 21:09] #606 closed, assigned to nobody

[2016-06-12 21:15] obuchtala commented on #643
That won't happen soon ;)

[2016-06-12 21:16] obuchtala commented on #643
Nothing you could achieve with ContentEditable.

[2016-06-12 21:23] michael commented on #643
I use that move a lot. ;)

An untouched contenteditable works as I would expect it.. I wonder what it is what differs in our case, we handle tripple clicks but not double clicks right?

[2016-06-12 21:25] michael commented on #644
Not sure either. I guess people would expect to be able to type when there is a cursor somewhere. However our cursor is not blinking ;)

[2016-06-12 21:29] obuchtala commented on #643
This would need a different way of handling mouse events, which I think we can try someday, but not now. Currently we map the selection on mousedown. When we start to do a more sophisticated handling, we can try.

[2016-06-12 21:30] michael commented on #643
Ah understand. Fine to wait with this.

[2016-06-12 21:33] obuchtala commented on #644
What would u suggest for now?

[2016-06-12 22:32] michael opened #645 "Adapt TOC and make scroll interaction work again"
Rename TOC.js > TOCProvider.js
Rename TOCPanel.js > TOC.js

[2016-06-12 22:35] michael opened #646 "Selection fragment not cleared in some cases"
In Scientist:

![selectionnotcleared](https://cloud.githubusercontent.com/assets/2931/15994200/a44610de-30fe-11e6-9386-686a62e45385.gif)

maybe a fragmenter or update bug?

[2016-06-12 22:43] michael opened #647 "Error on deletion when multiple paragraphs are selected and last one is fully selected"
Like this:

![image](https://cloud.githubusercontent.com/assets/2931/15994259/b9b03124-30ff-11e6-9880-7b6805ad237f.png)

Something in fragmenter:

![image](https://cloud.githubusercontent.com/assets/2931/15994263/d01be5ca-30ff-11e6-956b-0a4a353e9f31.png)

[2016-06-12 23:12] michael commented on #644
I think the breaking would be the better solution. But really fine with blocking too, if it's the easier fix.

[2016-06-12 23:37] michael opened #648 "Restructure Substance website"
I want to get rid of the task editor on the front page and rather just write a short intro to Substance, below the showcases as we have them. The menu point examples could get an extra page, showing some gifs of the examples in action and a hyperlink to the live demo + source code for each.

[2016-06-13 01:35] michael opened #650 "When cursor is at the right of an isolated node pressing backspace fails"
![image](https://cloud.githubusercontent.com/assets/2931/15995227/cc5c0eac-3117-11e6-9cdd-76a8b1f5dfd0.png)

[2016-06-13 01:35] obuchtala commented on #650
Similar as before... I did not know what to do, so the impl is missing

Let's define.

[2016-06-13 01:38] michael commented on #650
Hmm. In this case I guess deleting the isolated node is ok behavior?

[2016-06-13 01:38] obuchtala commented on #650
deleting or selecting are the two options, i think

[2016-06-13 09:15] michael opened #651 "SwitchTextType is broken"
I think this is a regression of switching to props/context for commands. Will have a look on this.

[2016-06-13 09:44] michael commented on #651
Fixed.

[2016-06-13 09:44] #651 closed, assigned to nobody

[2016-06-13 09:45] michael commented on #645
Done.

[2016-06-13 09:45] #645 closed, assigned to nobody

[2016-06-13 09:45] michael commented on #638
Done.

[2016-06-13 09:45] #638 closed, assigned to nobody

[2016-06-13 09:47] michael commented on #628
Thanks we will fix this in the Notes app, as we removed the notepad from the examples repo.

[2016-06-13 09:47] #628 closed, assigned to nobody

[2016-06-13 09:48] michael commented on #628
Well actually we don't have HTML serialization there. ;) But thanks anyway for reporting.

[2016-06-13 09:49] michael commented on #600
We use Substance for generating Substance API Docs. Did you see: http://substance.io/docs?

[2016-06-13 10:09] obuchtala opened #652 "Firefox: cursor navigation with inline nodes is broken"
When traversing inline nodes using left/right the DOM selection disappears.

[2016-06-13 10:18] obuchtala opened #653 "Edge: BrowserDOMElement.getInnerHTML() does not work"
![image](https://cloud.githubusercontent.com/assets/284099/16004244/e257ef52-3160-11e6-93ed-6b62f5e1d0ba.png)

[2016-06-13 10:33] obuchtala opened #654 "Improve examples"
From PR substance/examples#21
- [x] Form Example: entity-tool needs an icon then the toolbar will not be offset.
- [x] Input Example: Maybe this should not set the cursor immediately. You will loose the ability to click and select the whole node and delete.
- [x] Focused: alien does not change color
- [x] Table Example: Not possible to insert content into empty cells. Maybe not have them sparse bu

[2016-06-13 10:45] michael commented on #617
That's been addressed in devel branch.

[2016-06-13 10:48] michael commented on #614
Push to beta 5?

[2016-06-13 10:49] obuchtala commented on #614
yep

[2016-06-13 10:52] michael commented on #608
Will fix this today.

[2016-06-13 10:54] obuchtala opened #655 "Slow performance on Edge and Firefox"
On larger docs like we have in Scientist things are pretty slow.

[2016-06-13 10:55] obuchtala opened #656 "Edge/Firefox: CollabWriter Example has glitchy selections"
Seems that we have problems with two editors in one DOM here.

[2016-06-13 10:55] michael commented on #612
@joe-loco we are planning to release beta 4 today. What's missing to finish this positioning stuff? Should I push this issue to beta5 or are we already good and can consider this done.

Btw, today is a good day to help us find bugs and have them fixed.. just checkout examples#devel and report :)

[2016-06-13 10:57] michael commented on #613
Status of this?

[2016-06-13 10:57] obuchtala opened #657 "Firefox: InputExample - needs double click to change cursor in input element"

[2016-06-13 10:58] michael commented on #584
Closing this in favor of #596

[2016-06-13 10:58] #584 closed, assigned to nobody

[2016-06-13 11:00] #617 closed, assigned to nobody

[2016-06-13 11:01] obuchtala commented on #656
![collab-writer-sel-glitches](https://cloud.githubusercontent.com/assets/284099/16005318/e998792a-3166-11e6-94fb-b68e930b178a.gif)

[2016-06-13 11:01] michael commented on #593
This is for me as well. Will add an example.

[2016-06-13 11:01] #513 closed, assigned to nobody

[2016-06-13 11:02] michael commented on #607
Let's discuss this stuff in person on next meeting.

[2016-06-13 11:02] #607 closed, assigned to nobody

[2016-06-13 11:04] michael commented on #629
We are close to releasing beta 4, it will have those examples. You can already check at examples#devel, things are fairly stable already.

Will add an example for image today and close this issue when done.

[2016-06-13 11:05] obuchtala commented on #654
Focused example works for me:
![substance-focusedexample](https://cloud.githubusercontent.com/assets/284099/16005427/82de2ddc-3167-11e6-8421-8b577f274f47.gif)

[2016-06-13 11:11] obuchtala commented on #613
not critical.. internal.

[2016-06-13 11:29] michael commented on #8
No longer applicable.

[2016-06-13 11:29] #8 closed, assigned to obuchtala

[2016-06-13 11:38] michael opened #658 "CSS concatenation through package addStyle definitions"
Maybe too ambitious for beta4 but should address this soon.

[2016-06-13 11:55] philippamarkovics commented on #612
Apart from missing tests, this should be good to go for beta 4.

I hope I can find some time later today but can’t guarantee. I do plan to upgrade our own codebase to the latest devel version later this week, though.

[2016-06-13 11:58] obuchtala commented on #655
@michael Performance is ok when deactivating the positioning.

[2016-06-13 12:00] obuchtala commented on #653
Fixed via ad671a7a21e56978c5067c3fa5f1079e67c28392

[2016-06-13 12:00] #653 closed, assigned to nobody

[2016-06-13 12:00] obuchtala commented on #658
@michael can u explain again?

[2016-06-13 12:00] michael commented on #612
OK I will have another look and then close this issue. Btw, we adapted the dark style for overlays. Actually the overlay no longer has any style but the position. Instead there's a new Prompt component that sits inside the overlay.

OK. Just let us know if you find bugs.

[2016-06-13 12:02] obuchtala commented on #652
@michael interestingly this is caused by the overlay positioning too, which injects a span temporarily, destroying the DOM selection. We need to rethink this.

[2016-06-13 12:04] michael commented on #658
Just this generated main.scss that we talked about (that we pass to node-sass) . But it's not a quick task to do that I'm afraid.

[2016-06-13 12:05] michael commented on #652
Argh, too bad. As this would also be the solution for scrollIntoView stuff.

[2016-06-13 12:11] michael opened #659 "Port from i18n to LabelProvider"
Remove all occurences of I18n stuff and replace with new LabelProvider API.
- [x] Get rid of all the old this.i18n.t occurences and replace them with this.getLabel('label-string')
- [x] Remove everything else related to i18n, ui/I18n, Component i18n mixin, etc.
- [x] Add missing label definitions to packages where it makes sense

[2016-06-13 12:22] obuchtala commented on #652
Pushed a workaround. Rerendering the DOM selection after span insertion. We should optimize that though, as doing the full model->DOM mapping is a bit overkill.

[2016-06-13 12:25] #652 closed, assigned to nobody

[2016-06-13 12:26] obuchtala commented on #658
Ah, I see. Yep. Next round.

[2016-06-13 12:28] michael commented on #629
Done.

[2016-06-13 12:28] #629 closed, assigned to michael

[2016-06-13 12:31] michael commented on #654
Now Alien also changes color for me.

[2016-06-13 12:34] obuchtala commented on #646
As this is not critical I am shifiting it to beta 5.

[2016-06-13 12:41] obuchtala commented on #631
This is working already.

![substance-select-multiple-isolated-nodes](https://cloud.githubusercontent.com/assets/284099/16007772/b0be16ba-3174-11e6-8ff7-5acec1bac2e7.gif)
![substance-select-multiple-isolated-nodes-2](https://cloud.githubusercontent.com/assets/284099/16007814/da45c438-3174-11e6-82ab-cbd56fb9b958.gif)

[2016-06-13 12:41] #631 closed, assigned to nobody

[2016-06-13 12:44] obuchtala commented on #625
This is WIP. The test-suite is already usable, very minimal but debugging can be done.
Continueing this in beta 5.

[2016-06-13 12:47] michael commented on #583
@Integral can you take care of the Collab tests and smooth things so we are good for beta 4 here.

[2016-06-13 13:00] obuchtala opened #660 "IsolatedNodes states are not correct"
This needs to be addressed TDD style.

[2016-06-13 13:31] michael commented on #609
Done in https://github.com/substance/examples/pull/25 but needs fixing.

[2016-06-13 13:47] michael opened #662 "Bump dependencies to latest versions"
Maybe we should bump lodash et al before we push out the beta. @oliver---- makes sense? @Integral wanna take that task?

[2016-06-13 13:51] obuchtala commented on #657
I have the feeling, FF is relying on global mouse events for selecting within the input element.
As IsolatedNodes stop the propagation of these events ultimatively the native behavior is prevented.
Chrome and Edge work as expected: stopPropagation does not break the native selection.

I suppose, we can't fix that without a more elaborated event handler. Shifting this to beta 5.

[2016-06-13 13:52] obuchtala commented on #555
There are several bugs in the real-time collab part. Will be addressed in beta-5

[2016-06-13 13:53] obuchtala commented on #478
Fixed.

[2016-06-13 13:53] #478 closed, assigned to nobody

[2016-06-13 13:54] obuchtala commented on #469
I suppose this has become obsolete.

[2016-06-13 13:54] #469 closed, assigned to nobody

[2016-06-13 13:55] obuchtala commented on #466
This is being pursued now. Introducing a problem with real-time collab which will be addressed soon.

[2016-06-13 13:55] #466 closed, assigned to nobody

[2016-06-13 13:58] obuchtala commented on #415
We have gone further: while you still can use PathEventProxy, the most common use case is to add a listener for a specific node. `model/DocumentNode` exposes a more convenient way to this now:

[code]

[2016-06-13 13:58] #415 closed, assigned to nobody

[2016-06-13 14:04] obuchtala commented on #627
@Iuriy-Budnikov Thx for reporting. I need more to understand fully.

What exactly are you trying to do?

[2016-06-13 14:05] obuchtala commented on #562
@michael still an issue?

[2016-06-13 14:05] obuchtala commented on #561
This is not done anymore.

[2016-06-13 14:05] #561 closed, assigned to nobody

[2016-06-13 14:06] obuchtala commented on #554
Real-time collab stuff is continued in beta 5.

[2016-06-13 14:07] obuchtala commented on #543
I think we are getting better.

[2016-06-13 14:07] #543 closed, assigned to nobody

[2016-06-13 14:09] obuchtala commented on #662
Absolutely.

[2016-06-13 14:16] obuchtala commented on #565
This is ok now.

[2016-06-13 14:16] #565 closed, assigned to nobody

[2016-06-13 14:17] #545 closed, assigned to nobody

[2016-06-13 14:19] obuchtala commented on #564
Dunno if that is the way to approach it. Will be discussed in beta 5.

[2016-06-13 14:21] obuchtala commented on #526
With IsolatedNodes we can do this now.

Edit: shipped with beta4, examples will include an external code editor, as well a custom component with native input element.

[2016-06-13 14:21] #526 closed, assigned to nobody

[2016-06-13 14:23] obuchtala commented on #520
Closing this. Tables are there in an initial version.

[2016-06-13 14:23] #520 closed, assigned to nobody

[2016-06-13 14:29] obuchtala commented on #507
Done.

[2016-06-13 14:29] #507 closed, assigned to nobody

[2016-06-13 14:31] obuchtala commented on #509
In examples I added a default padding this way:

[code]

I think it is up to the app to do so, or up to a certain package like ProseEditorPackage?

[2016-06-13 14:33] obuchtala commented on #534
We have keyboard macro support now. Being part of beta4, coming with an example,too.

[2016-06-13 14:33] #534 closed, assigned to nobody

[2016-06-13 14:36] obuchtala commented on #567
Agree that our issues are not named well ;)

We named this feature set keyboard macros, being part of beta4.

[2016-06-13 14:36] #567 closed, assigned to nobody

[2016-06-13 14:37] obuchtala commented on #494
Future :)

[2016-06-13 14:38] obuchtala commented on #489
This is possible now.

[2016-06-13 14:38] #489 closed, assigned to nobody

[2016-06-13 14:40] obuchtala commented on #377
Agree.

[2016-06-13 14:44] obuchtala commented on #368
The transform executed in the tranaction can return an obj that may contain a field 'selection' being a new selection. Following the 'flow' the selection is rendered in a last phase.

Don't think we need this.

[2016-06-13 14:44] #368 closed, assigned to nobody

[2016-06-13 14:44] obuchtala commented on #317
Obsolete.

[2016-06-13 14:44] #317 closed, assigned to nobody

[2016-06-13 14:46] obuchtala commented on #48
There is an example now with beta4. This has been the first iteration, which will be continued in beta 5.

[2016-06-13 14:46] #48 closed, assigned to nobody

[2016-06-13 14:48] obuchtala commented on #53
@netsgnut just to let u know, we are rolling out beta4 with real-time support. Will be continued in beta5.

[2016-06-13 14:48] #53 closed, assigned to nobody

[2016-06-13 14:48] #126 closed, assigned to nobody

[2016-06-13 15:01] obuchtala opened #664 "Fix tables example."
Needs a short iteration.

[2016-06-13 15:02] #654 closed, assigned to nobody

[2016-06-13 15:06] michael commented on #562
Works now.

[2016-06-13 15:06] #562 closed, assigned to nobody

[2016-06-13 15:07] michael commented on #509
Looks good.

[2016-06-13 15:07] obuchtala commented on #647
Seems to happen only in the nested editor scenarion, i.e. in examples I don't see it, but can confirm this happending in scientist within a section.

[2016-06-13 15:17] michael commented on #625
So the stuff in test-old is not run atm? Sorry I'm not up to date anymore when it comes to your test suite work ;)

[2016-06-13 15:22] #659 closed, assigned to Integral

[2016-06-13 15:25] michael commented on #593
We dropped embeds for now. They are probably too app-specific and heavy in terms of the need for a resolver service.

[2016-06-13 15:25] #593 closed, assigned to michael

[2016-06-13 15:25] michael commented on #591
Pushed to beta 5.

[2016-06-13 15:49] obuchtala commented on #625
It's only there so that Daniel can take a look how to rebuild.

[2016-06-13 15:58] obuchtala commented on #625
@Integral Let us drop the old one. u might want to checkout an old version just to be able to look at the QUnit based UI.