[2013-02-21 12:32] vectorsize opened #304 "UI suggestions"
Now that we started adding annotation types and after the discussion @michael @yuchi and I had a few days ago, I've put some time sketching how I see the annotation interaction could be more consistent.

At the moment we started adding two different workflows for annotations, one using the right sidebar to add comments/annotations for certain types and an inline workflow to add urls for the link t

[2013-08-02 00:26] michael opened #323 "Interface ideas"
Some ideas on keeping the UI noise minimal for the editing surface

![screen shot 2013-08-02 at 2 24 43 am](https://f.cloud.github.com/assets/2931/898271/1f06fde8-fb0a-11e2-9357-eb9fa33ded1f.png)

![screen shot 2013-08-02 at 2 24 50 am](https://f.cloud.github.com/assets/2931/898272/21434562-fb0a-11e2-9216-956d69b00d2e.png)

![screen shot 2013-08-02 at 2 25 15 am](https://f.cloud.github.com/assets/

[2014-04-15 23:59] brianshumate opened #343 "Mismatch between editor preview and rendered content"
There is a bit of a mismatch between a document using code formatting in Composer and the rendered result.

Composer shows code or monospaced text as a block, whereas the rendered output is inline. This is related to #342.

Attached are some screenshots showing an example which is a poem that I'd like to have specific monospaced formatting that demonstrates this issue.

Here's the preview:

![scre

[2014-05-03 15:54] lhunath opened #349 "Better semantics"
Ever since HTML 4, there is the general consensus that when writing documents, semantics are more important than style.  We no longer mark up our content with font tags, italics and bold.  We use tags that convey the semantics of our elements and then apply style to convey those semantics.

Substance should not regress on that front.  There should be no italics or bold buttons.  sub and sup are du

[2014-05-17 18:48] blueclock opened #350 "Application chrome not visible on 11" Macbook Air"
When I open the Composer application, the top chrome with the min/max/close buttons is not visible and the buttons in the top bar are partially obscured.

See attached screenshot.

![substance io-on-air-11](https://cloud.githubusercontent.com/assets/586174/3005798/d999f6fc-ddf3-11e3-9230-439e573ce92c.png)

[2015-04-05 07:49] michael commented on #352
We're working on a new release of the composer. Instructions on native builds will follow when ready.

[2015-04-05 07:49] oliver---- commented on #353
If possible, try to fix it yourself.

[2015-04-05 07:52] michael commented on #353
Ok i will try. just don't fully understand yet, how the index updates work (also in combination with ops and transactions).

Our of curiousity, when a transaction document is modified, are there also copies of the indexes of the original doc?

[2015-04-05 07:57] oliver---- commented on #353
Yup, the transaction doc is totally independent. These index copies are created in  https://github.com/substance/substance/blob/next/src/document/transaction_document.js#L19

In both, indexes are called explicitly from graph, e.g., https://github.com/substance/substance/blob/next/src/data/graph.js#L133

[2015-04-05 08:42] michael commented on #353
Fixed.

https://github.com/substance/substance/commit/b07a006ada500191ece201fbe00104093ea189f7

[2015-04-07 19:56] michael commented on #355
Seems like inserting text over an expanded selection doesn't work generally.

[2015-04-07 20:39] oliver---- commented on #355
Fixed

[2015-04-17 11:31] oliver---- opened #357 "Better extension concept."
For example looking at this:
https://github.com/substance/substance/blob/next/src/article/nodes/index.js

I don't think it is the right place to have the initialize method there. Particularly thinking of it as an extension internally is overly complicated.

Similar here: https://github.com/substance/substance/blob/next/src/article/article.js#L18
There is application extension framework in core lib

[2015-04-17 12:12] michael commented on #357
This is not core-library stuff. It's more just a reference implementation of general-purpose substance document (markdown features). It is not in the scope of the writer extension mechanism. I thought that substance document implementations don't need an extension mechanism for now since you always start from zero anyway.

However maybe substance article should live outside of the substance repo a

[2015-04-17 12:33] oliver---- commented on #357
What I am talking about is for instance Article.CoreModule which seems to go into the writer somewhere... and this mechanism is rather intransparent.
Every article should be a leaf implementation and node sharing is problematic IMO considering our experiences.

[2015-04-17 13:12] michael commented on #357
Agreed. There should not be such a thing as Article.CoreModule. The writer is not affected though.. we used this for the Interview document type. Will clean that up.

[2015-04-17 13:13] oliver---- commented on #357
No hurry... just collecting things we need to address before release.

[2015-04-21 13:07] michael commented on #354
Fixed.

[2015-04-21 13:08] #323 closed

[2015-04-21 13:08] #304 closed

[2015-04-22 08:04] michael opened #361 "rapid typing is still not working always"

[2015-04-22 08:54] oliver---- commented on #360
Fixed.

[2015-04-22 08:55] oliver---- commented on #356
Do we have this now? We are have done this getAnnotations/highlights refactor, which lets the app provide highlights.

[2015-04-22 08:59] michael commented on #356
not directly... what we have is highlighting the text fragments of a multi-annotation, which must exist as a node in the doc. however what would be also nice to have is a way to programmatically highlight some text, e.g. in our tag entity workflow where we use the current selection. Not high priority but we should talk about this some time.

[2015-04-22 21:17] #361 closed

[2015-04-23 06:21] oliver---- commented on #359
For now, I just create a null selection in these cases. I.e., it is not possible to copy from a form editor outside of fields.
This proposal is rather a big thing, as we need to introduce the isInvalid() check at *many* places.
So let's wait.

[2015-04-23 06:21] oliver---- commented on #358
Fixed.

[2015-04-26 09:12] michael commented on #357
Done.

[2015-04-26 09:12] #357 closed

[2015-05-24 18:04] michael opened #364 "DocumentChange API"
When inspecting the updated property of a document change, I see one key "root". I wonder why that one is necessary?

![image](https://cloud.githubusercontent.com/assets/2931/7788959/0655f67e-0250-11e5-85ee-8149c0104de8.png)

[2015-06-05 00:20] greaber opened #365 "getting started"
Hi!  I am working on a web site to crowdsource content that can contain annotations and other semantically rich elements.  We don't want to require users to write in a special markup language, but we are undecided about whether we want to store all of the semantic elements internally using markup or store them as external annotations that would reference a region of the document by character range

[2015-06-05 18:33] michael opened #366 "Containers are not updated properly when doc.set API is used to manipulate the document."
E.g. in Substance Journal or Archivist Writer do this:

[code]

The containers (resp. views are not updated)

The relevant code in Substance.Document is a bit fragile. I fixed some things regarding propagating ops to `_updateContainers` but still it doesn't update accordingly to those ops.

See: https://github.com/substance/substance/commit/3f5b979c2a19d15cccc85d3e2a17abe6431a6332

@oliver---- can

[2015-06-07 10:04] michael commented on #365
Hey can you get in touch via email? You can find contact details here: http://substance.io/about/

And yes, I think Substance could be for you! I'm aware things look a bit confusing from the outside. We use our stack mostly in client projects at the moment and don't find a lot of time for documentation and tutorials. The good news is that our editing foundation is really solid after almost 5 years

[2015-06-11 15:16] oliver---- commented on #367
I think we could 'normalize' such annotation when instantiating - i.e. the order would not matter.

Still, i would be interested in how these annotations occurred.

[2015-06-12 08:58] Integral commented on #367
Hey, @oliver!
I think this is coming from importing ms word para with color marking. I could not verify this because of I haven't got windows machine now.

[2015-06-14 22:18] oliver---- commented on #366
I assume, the problem is, that atm the default way is to use transactions.
The low-level changes do not trigger the comlex document:change events.
We would need to introduce a mode without transactions....

[2015-06-15 08:29] michael commented on #366
Omg, is it possible that I didn't use a transaction for this?

Mhh.. but still.. if you have an atomic operation, without the need for a transaction we should have the same events triggered.

[2015-06-22 15:11] Integral commented on #368
@oliver----, I know how to iterate through each text node, but whet it comes to updating one text string... I don't know who to do it without annotations crushing.

[2015-06-30 01:35] oliver---- commented on #370
Fixed.

[2015-06-30 01:35] oliver---- commented on #369
Hacked.

[2015-06-30 01:40] oliver---- commented on #368
This is now possible using transformations. https://github.com/substance/substance/tree/master/src/document/transformations

You can use the insertText transformation like so:
[code]
`insertText` replaces the text and takes care of annotations (the same is used when editing via UI)

[2015-06-30 01:42] oliver---- commented on #368
...  when you have a batch of changes on the same property, make sure to replace from right to left...
Then your computed offset will still be valid after each single transformation.

[2015-06-30 01:43] oliver---- commented on #368
Hmmm. But, probably you are not ready to switch to the new API...

Still... you can take a look at the impl of insertText to see how it works with the old API.

[2015-06-30 01:45] oliver---- commented on #368
Annotation updates are done using https://github.com/substance/substance/blob/master/src/document/annotation_updates.js
(is also there in your version)

[2015-06-30 09:32] Integral commented on #368
@oliver----, thanks!
Is it possible to use new api only on server side?

[2015-06-30 09:35] oliver---- commented on #368
Yes, should be possible on server side.

[2015-06-30 10:09] michael commented on #368
Just be aware that you don't mix different substance versions. The Archivist-Composer needs to stay on the old version until we make an upgrade iteration. So I think you should create independent command line versions of importers etc. that don't clash with the Composer implementation.

[2015-06-30 10:13] Integral commented on #368
Great, thanks!
It's not related to composer at all, but it's related to all server side
scripts including that one which is responsible for subject
merging/deletion.

On 30 June 2015 at 13:09, Michael Aufreiter <notifications@github.com>
wrote:

[2015-06-30 10:17] michael commented on #368
Hey can you try the following in the archivist repo:

in Package JSON create an entry

[code]

And then in importers:

[code]

[2015-06-30 10:18] michael commented on #368
not sure if that works but that would be the best solution i guess.

[2015-06-30 10:23] Integral commented on #368
Good idea! Will try soon.

On 30 June 2015 at 13:18, Michael Aufreiter <notifications@github.com>
wrote:

[2015-07-01 20:54] Integral commented on #368
@michael, not it's not possible. NPM will store substance-new in the same folder inside node_modules

[2015-07-01 22:34] Integral commented on #368
I will use [this](https://github.com/substance/archivist/blob/next/controllers/import/findAndReplace.js). It's combination of delete/insert updates. I could use it while document has no annotation. Next challenge would be to use this with already annotated docs somehow...

[2015-07-02 11:08] oliver---- commented on #374
You didn't get it right.
Transactions are not dealing with the visual selection at all.
A transaction is a sequence of ops, and has a before and after state, which happens to contain a model selection instance. This object is called DocumentChange.
The UI pieces are reacting on 'document:changed' events which comes with a DocumentChange as payload. A Surface itself, or better, its SurfaceManager,

[2015-07-02 11:19] oliver---- commented on #374
Closing in favor of #375

[2015-07-02 12:45] oliver---- commented on #375
Fixed via 2ded3e9b61234c707d44855afaefb3c2214842e6

[2015-07-02 12:45] oliver---- commented on #374
This should work now. @michael plz check

[2015-07-02 13:08] michael commented on #375
It works, but i still get a warning when changing the text type.

Could not find DOM element for path ["heading_231f71ca0c09c9d8ee3ffa81c345c6b7", "content"]

Not sure what is causing that, i check later

[2015-07-03 11:22] oliver---- commented on #373
Fixed.

[2015-07-03 11:22] oliver---- commented on #371
Fixed.

[2015-07-03 11:23] oliver---- commented on #366
Closing this.

We enforce transactions now when used in the App.

[2015-07-03 11:23] #366 closed

[2015-07-03 11:26] oliver---- commented on #363
Won't fix.
As we will never have full control as render is async, the events may come async.. there is no chance without a brutally heavy event-sequencer.

[2015-07-03 11:39] Integral commented on #368
Hey!
I did it finally!
Look:
[code]

I most say... You really need some documentation for core library. It's very hard to trace what you need to do.

[2015-07-03 11:59] oliver---- commented on #368
Yes. That's true. will come soon.

[2015-07-11 23:39] Integral commented on #377
https://github.com/substance/archivist-writer/commit/5260c35fb3863141d97ff5ed2e2dc6b583eefb38
My first tool :)

In fact this is find and replace tool, I just tell it to convert all double spaces to one space.

What is also not perfect that it is performs transactions for every occurrence while find and replace usually is one operation which can be undone with one undo execution.

[2015-07-12 08:52] michael opened #378 "Undo tool should not listen for selection changes instead it should listen to document changes"
the undo button currently doesn't get active if you modify a subject_reference (click subjects), which is also undoable.

@oliver---- any ideas what would be a sane way?

[2015-07-12 09:53] michael commented on #377
very nice!

What we should do is to write a transformation searchAndReplace that works on a text property level. Like that gets a path and searchStr and replaceStr.

Then we could have another searchAndReplaceInContainer, which gets a containerId, searchStr and replaceStr and then applies the basic searchAndReplace on each container node.

Problem I see is that we somehow need to determine the tex

[2015-07-12 20:59] oliver---- commented on #379
I just ask me, why you are not using the surface's transaction?

[2015-07-12 21:01] oliver---- commented on #379
Otherwise, in SurfaceManager you should support DocmentChanges without surface information.

[2015-07-12 21:06] michael commented on #379
It's likely that there is no active surface. E.g. when you click on a subject bracket and select targets. I'm not sure if we should bind operations to a surface always. I see use-cases where we come up with a custom ui for the info panel that doesn't use a surface at all, but transforms properties in the document. If we consider non-surface actions in general, then the document-change handling doe

[2015-07-12 21:09] oliver---- commented on #379
I don't see a great potential for a general concept.
It sounds like every application could have custom transactions... then it would be the apps task to do the change dispatching.
Feel free to take SurfaceManager's dispatcher as a start for your own dispatcher.

[2015-07-12 21:14] michael commented on #379
Ok. But just to clarify: It would be ok from your side to use document.transaction() in an app, when the manipulation is not related with text-editing?

[2015-07-12 21:18] oliver---- commented on #379
Yes. I think that is just fine...
The surface's transaction is basically only a convenience to setup the before/after selection correctly.
But essentially it is using document.transaction().

When app level information is to be added to the transaction payload, it is not the proper place to do it in surface. We just need to make sure that the classical editing transactions are still supported.

[2015-07-12 22:55] michael commented on #379
kk. closing this here, as it doesn't require a change to Substance.

[2015-07-12 22:56] michael commented on #345
Not applicable to the framework part.

[2015-07-12 22:57] #349 closed

[2015-07-12 22:58] michael commented on #350
Not related to framework code. Closing.

[2015-07-12 22:58] #350 closed

[2015-07-12 22:58] #365 closed

[2015-07-13 10:53] michael commented on #380
I will try to solve myself first, and let you review.

[2015-07-13 11:05] michael commented on #380
Pls review: https://github.com/substance/substance/commit/0c93e84cbd7a579a324812e5ed83439d8238c0ea

[2015-07-13 11:34] michael opened #382 "Edge case with container annotations when selection includes last character of a paragraph"
Consider this selection

![image](https://cloud.githubusercontent.com/assets/2931/8648745/88140662-2963-11e5-853d-96f555e4dff8.png)

Now hit the backspace button.

-> Error happens in deleteNode transformation:

![image](https://cloud.githubusercontent.com/assets/2931/8648768/bd61b8e6-2963-11e5-9125-dd2fc346d31b.png)

[2015-07-13 17:56] michael opened #385 "Document how custom tools can be created and how you can write a custom document transformation"
I'll explain this on the example of search+replace, which I implemented in the Substance Starter repo:

Transformation:
https://github.com/substance/starter/blob/master/src/transformations/search_replace.js

Tool (really good idea to have that extra thing, since we have no connection with the surface)
https://github.com/substance/starter/blob/master/src/tools/search_replace_tool.js

ToolComponent

[2015-07-14 18:32] michael opened #387 "Schema.instanceOf / NodeClass.instanceOf should accept a NodeClass as well"
Currently:

[code]

It would be convenient to also have the following option:

[code]

[2015-07-14 18:35] michael commented on #342
Closing since it is UI-related stuff. Such issues should go to https://github.com/substance/ui/issues in future.

[2015-07-14 18:37] michael commented on #343
Closing, as not relevant to Substance core. This won't fix because that Substance compiler component is no longer under active development.

[2015-07-14 18:38] #343 closed

[2015-07-14 18:41] michael commented on #377
Closing in favor of #388

[2015-07-14 19:26] michael opened #390 "Introduce more specific abstract tool classes"
Currently we have Tool (which is always bound to a surface). Those were interacting with the selection and on app level we called tool.update() on each tool every time a selection:changed event occured.

Let's define more specific abstract types:

`Tool` (only has name property for registration, everything else is custom)

`SurfaceTool` (a tool that is bound to the currently active surface)

Has a

[2015-07-14 19:29] michael commented on #351
Moved this to substance/ui https://github.com/substance/ui/issues/2

[2015-07-14 19:35] michael commented on #381
Fixed.

[2015-07-14 19:35] michael commented on #383
Fixed.

[2015-07-14 20:59] oliver---- commented on #382
Fixed.

[2015-07-14 20:59] #382 closed

[2015-07-14 21:35] oliver---- commented on #384
Fixed.

[2015-07-15 00:02] michael opened #391 "Turn substance/starter into general purpose rich text editor"
So we have use substance in one minute example.

[2015-07-17 20:36] michael opened #393 "Bring paste and copy into harmony regarding clipboard_content container"
There are many occurences of the container id literal 'clipboard_content'. We should get rid of that, and define a constant in copy_selection and reuse it in the paste transaction.

In clipboard.js we should completely remove that constant.

[2015-07-17 20:43] michael commented on #393
also check occurence in `clipboard_importer.js`.

[2015-07-21 00:09] #391 closed

[2015-07-22 21:06] oliver---- commented on #393
Done.

[2015-07-22 21:06] #393 closed

[2015-07-26 17:16] Sigurd3K opened #396 "Uncaught node.js Error"
In the editor, when clicking on the date or around "add cover image" where a text cursor appears and then pressing a key triggers the following error:

[code]

[2015-08-02 02:34] fish520 opened #397 "Uncaught node.js Error when insert video or audio file"
I got an error and the process was not closed successfully (though the window disappers but it not able to open it again since it still exists in the tasklist), whenever i try to insert a audio or video file into the paragraph.

[code]

running on win10-x64, intel-i5 with beta3.

[2015-08-18 11:24] michael opened #399 "List Styles using a flat markup"
Check:
https://gist.github.com/michael/651c6f0833544406fd57

I think we can go with this. What would be good to have is a class list-start and list-end to determine bounds of lists explicitly. That makes the CSS easier for counter-resetting setting paddings etc.

[2015-08-20 19:09] michael opened #1 "In a node component's willUnmount hook there is no access to this.props.node.getDocument() anymore"
We have this problem here: https://github.com/substance/substance/blob/master/ui/nodes/link_component.js#L25

It seems that the node is detached before the hook is called.

https://github.com/substance/substance/blob/master/document/node.js#L17

Reproduce: Delete a link in HTML Editor.

[2015-08-20 19:11] obuchtala commented on #1
Of course, because the view is not called first, but always after model changes.
willUnmount is only called before the UI component is disposed.

What do you try to solve?

[2015-08-20 19:14] michael commented on #1
Yeah i understand but no idea how to solve it properly. A guard in the willUnmount seems not a sane way?

[2015-08-20 19:14] obuchtala commented on #1
but what are you trying to do with document in willUnmount?

[2015-08-20 19:15] michael commented on #1
Unregister the event proxies...

https://github.com/substance/substance/blob/master/ui/nodes/link_component.js#L26-L27

[2015-08-20 19:16] obuchtala commented on #1
Store doc in this.doc during didMount. That's ok to do.

[2015-08-20 19:17] michael commented on #1
ok

[2015-08-20 19:40] michael commented on #1
Fixed.

[2015-08-20 19:40] #1 closed, assigned to obuchtala

[2015-08-21 11:15] michael opened #2 "Shipping modular Substance distributions (or not)"
I was thinking of what would be the best way to deliver a dist for the HTMLEditor component. It would be nice to just have a single minified js file that one can include in a client-side app. However keeping customisability alive we would also need to expose Substance.Component, so it would be more a SubstanceWithHtmlEditor dist. Usage:

[code]

I'm not sure if this is a good way to be honest. For

[2015-08-21 11:25] obuchtala commented on #2
I think in future, and particularly for a project like substance, people will rather use libraries as we do it now, i.e., creating custom builds using browserify or such.
So while I understand that you want a bundle for the HtmlEditor as standalone widget, I don't believe that this will be so important for the whole library.

[2015-08-21 11:27] michael commented on #2
Think so too. Also that's a good compromise to say whenever you want to customise something, you have to `require('substance')`.

[2015-08-21 13:19] michael opened #3 "Reorganise sass styles"
We need to remove site-specific layout bits from base.css and provide a separate module. The reason is that people may want to use the Substance HTML editor but within their own site style. So they just need styles for dropdown etc. but not our font etc. and base styles for paragraphs etc.

This may take a bit of time to get right, and it's not so relevant during the HTML Editor beta phases. But i

[2015-08-21 13:19] michael opened #4 "HTMLEditor: introduce block quote type"

[2015-08-21 13:20] michael opened #5 "HTMLEditor: Introduce code block type"

[2015-08-21 13:35] Integral commented on #3
Maybe we should leave basics? You can always override defaults...

On 21 August 2015 at 16:19, Michael Aufreiter notifications@github.com
wrote:

[2015-08-21 14:22] michael opened #6 "HtmlEditor: Allow editing of link title"
I disabled editing of link.title attributes as it makes for a much nicer user experience during editing. E.g. the user can just press enter to confirm an url change.

![image](https://cloud.githubusercontent.com/assets/2931/9410456/a7ebd696-4820-11e5-8773-70d3c52a716a.png)

People will in 90% of the cases not add a title to the link anyway. However we should allow to change that information someho

[2015-08-23 14:57] obuchtala opened #7 "Add convenience to add listeners for node changes."
ATM, we use something like

[code]

It would be nicer to be able just to do:

[code]

or for any property change:

[code]

To disconnect:

[code]

[2015-08-24 09:26] michael commented on #5
Done.

[2015-08-24 09:26] #5 closed, assigned to nobody

[2015-08-24 09:26] michael commented on #4
Done.

[2015-08-24 09:36] michael opened #8 "ListItem serialization"
This should conform to the minimal HTML needed, as with other elements.

Currently we get:

[code]

Desired:

[code]

[2015-08-24 09:37] michael commented on #8
Maybe we can delegate this rendering to ListItem.static.toHtml(), which is currently not used.

[2015-08-24 09:37] #4 closed, assigned to nobody

[2015-08-24 09:39] michael commented on #2
I think we will do components only for the start. It's so minimal and useful. Also maintaining distributions can get time-consuming, since we will have npm releases anyway.

[2015-08-24 09:39] #2 closed, assigned to nobody

[2015-08-24 13:02] michael opened #9 "Merge with previous node broken after editing behavior refactor"
![image](https://cloud.githubusercontent.com/assets/2931/9440662/2360faac-4a71-11e5-96a8-66455bd1139a.png)

[2015-08-24 14:56] obuchtala opened #10 "Find a better solution for global.$"
ATM we rely on jquery being available globally.

In the browser we need either include jquery via script tag or do this

[code]

On the server we use cheerio, and register it the same way.

It would be better to have a index file serving jQuery or cheerio.

[code]

Find a better name.

[2015-08-24 21:13] Integral opened #11 "Better getDocumentMeta"
Hey,

if you don't mind I will make some proposals sometimes.

Maybe I'm carping, but would be great if `doc.getDocumentMeta(prop)` will be alias for `doc.getDocumentMeta()[prop]`.

[2015-08-25 07:38] #9 closed, assigned to nobody

[2015-08-25 11:55] michael opened #12 "Update README to cover document transformations"

[2015-08-25 12:29] michael opened #13 "Find way to avoid rerender cursor flickering"
We should somehow solve this in the next release. We could really maybe set the selection to null in the in between state.

[2015-08-25 12:36] obuchtala commented on #13
Alternatively, we could try to be brave and use keys in text_property_component, i.e., enable preservative rendering.

[2015-08-25 12:37] obuchtala commented on #13
But still, we would see some flickering, as DOM TextNodes would always be rerendered.

[2015-08-25 12:38] obuchtala commented on #13
Maybe deleting the DOM selection, is the most clever aproach...

[2015-08-25 13:28] michael commented on #6
We'll stick with url only.

[2015-08-25 13:28] #6 closed, assigned to michael

[2015-08-25 16:42] obuchtala commented on #13
@michael can you try how this works now. I enabled preservative rendering here: https://github.com/substance/substance/commit/431c0a82888155cb963f40af7625f7120d3953ad
However, I figure that this doesn't solve the problem, as TextNodes still get replaced... but let's try.

[2015-08-25 16:49] obuchtala commented on #13
I think I got it: 4862424ec50c78a0330e59c3257f29eceec94c97 updates text nodes using `node.textContent = ''`, which seems to preserve the DOM selection.
What you might see now, is that the selection is one char behind, as the text is updated before the DOM selection.

[2015-08-25 17:34] michael commented on #13
When i do fast typing in FF i still see the cursor jumping to first char. Now it's not possible anymore to reach the position before the checkbox... as we discussed before. However, it flickers when it corrects the position.

There's also a flickering when we toggle annotations. It's not very obtrusive but still you can see there's some rerendering/resetting going on. when you toggle a strong anno

[2015-08-25 17:37] obuchtala commented on #13
Hmm.. yes in FF I see it too... But Chrome is ok?

[2015-08-25 17:37] obuchtala commented on #13
Microsoft Edge is fine.

[2015-08-25 17:37] michael commented on #13
Chrome is fine during rapid typing now yes.

[2015-08-25 17:42] obuchtala commented on #13
The flickering with the TODO checkbox, can not be solved. If we would remove the DOM selection, we could not use CE for cursor navigation anymore.

[2015-08-25 17:43] obuchtala opened #14 "Expanding selection using double click does not work under Microsoft Edge"

[2015-08-25 17:46] obuchtala commented on #13
Resetting the selection in the checkbox case also doesn't seem to be a good idea here, because it jumps back. Probably we need to implement a custom navigation here (~goto last character of previous property)...

[2015-08-25 17:46] obuchtala commented on #13
I will roll back this change.

[2015-08-25 17:46] michael commented on #13
Yeah that's not a big problem, it behaves correct now which is the most important. I just wonder if changes in the markup or styles could have some positive effect. like wrapping it in another div or putting a fake div in front, that we set opacity to 0. But anyway that wouldn't be very satisfiying.. just to learn what options are out there.

[2015-08-25 17:47] obuchtala commented on #13
I thought about this a lot... but unfortunately, you can not avoid this totally... there will always be a level where the parent is CE but one child is not.

[2015-08-25 17:48] obuchtala commented on #13
The problem right now is, that you can not navigate to the previous property using 'left' key.

[2015-08-25 17:52] michael commented on #13
Yeah i see.

[2015-08-25 18:00] obuchtala commented on #13
I tried the DOM selection removal trick, it works. However to solve it for all cases, I need a document:willchange event... by then, we will still have the flickering during undo/redo.

Committed a change doing this trick before starting a surface transaction.

[2015-08-25 18:00] obuchtala commented on #13
@michael can you try this?

[2015-08-25 18:10] michael commented on #13
No cursor flickering anymore anywhere.

Should this change affect also annotation toggling? It seems it is also less flickery.. but sometimes it does flicker a lil bit..  not sure that's a really subjective observation.

[2015-08-25 18:12] michael opened #15 "FF: Using cmd+left/right makes the cursor disappear"
Go to start of line / end of line causes this only in FF.

[2015-08-25 18:12] obuchtala commented on #13
In FF only or also Chrome? How does setting a second anno feel?
Am 25.08.2015 20:10 schrieb "Michael Aufreiter" notifications@github.com:

[2015-08-25 18:15] michael commented on #13
Both. Somehow better.. but not perfect. Check prosemirror demo for comparison.. there's no flickering over there.

[2015-08-25 18:15] michael commented on #13
Major flickering when you do this in Chrome: Make two bold annotations close to each other.. then make a selection that intersects with both.. and make it italic.

[2015-08-25 18:18] michael commented on #13
ad prev. coment: the first time it's the worst.. when i repeat this by just toggling/untoggling that same selection it goes faster.. but still the regular annotation flicker. I have to run, will check back a bit later.

[2015-08-25 18:21] obuchtala commented on #13
Yeah, I think removing the Dom sel increases the flicker impression as it
is just a wider area...
Am 25.08.2015 20:18 schrieb "Michael Aufreiter" notifications@github.com:

[2015-08-25 18:53] obuchtala commented on #13
I watched the DOM during ProseMirrors update. It also has massive DOM updates, which can't ever be preservative regarding selection. So I suppose, it is just faster with re-setting the selection.
Also, sometimes I could see flickering there, but only the first time.

[2015-08-25 19:10] obuchtala commented on #13
I have the feeling now, that it is a matter of optimization. in avg, we need 4-8ms for applying a transaction and 8-12ms for rerendering the selection. If got both together under 8ms, then maybe we would not see the flickering anymore.

[2015-08-25 19:11] michael commented on #13
It seems when i set the checkbox wrapper (that has contenteditable: false) to  position: absolute it doesn't mess with the cursor anymore.

[2015-08-25 19:12] michael commented on #13
I will try to apply this fix.. it will look more professional. maybe we can use this as a trick in other places just to tell an element it's not considered in flow for editing.

[2015-08-25 19:13] obuchtala commented on #13
interesting!

[2015-08-25 19:18] michael commented on #13
pushed. it works!

[2015-08-25 19:26] michael opened #16 "Make scroll follow the cursor"
This is really needed for a serious editing experience. I will work on a scrollToCursor/Selection implementation and then we connect it with the Surface.

[2015-08-25 19:29] michael opened #17 "More coarse-grained undo/redo"
ATM, every keystroke is wrapped into a document change, making undo redo a bit uncommonly fine-grained.

[2015-08-25 19:34] obuchtala commented on #13
Until we optimize selection the best approach is to do total rerendering + wiping DOM selection before typing.
For me there are many times now where you do not see the flicker anymore. With a future optimization we should be able to handle it.

[2015-08-25 19:35] michael commented on #13
let's call it a beta-1 ha? :)

[2015-08-25 19:36] obuchtala commented on #13
Oh.. Just FYI: our `<br>` in text property causes a bit of a layout lag...

[2015-08-25 19:36] obuchtala commented on #13
I am gonna implement simple rerender using DocumentFragment

[2015-08-25 19:37] michael commented on #13
how do i observe this 'lag'?

[2015-08-25 19:38] obuchtala commented on #13
remove the br in text-property component's render and try...

[2015-08-25 19:38] obuchtala commented on #13
the br is there to support a better behavior with soft-breaks.

[2015-08-25 19:38] obuchtala commented on #13
Do you see the same?

[2015-08-25 19:40] obuchtala commented on #13
Maybe it is nothing... I have the feeling, that flickering is less often without the br... but maybe just random...

[2015-08-25 19:40] obuchtala commented on #13
rubbish...

[2015-08-25 19:41] michael commented on #13
you mean the annotation toggle flickering now? i will check.

[2015-08-25 19:42] obuchtala commented on #13
Nah... it is just random... I just had it in there.. and observed maybe like 10+ toggles without flicker...
I think the key is to get render+setSelection < 5ms

[2015-08-25 19:43] michael commented on #13
I confirm. Seems random.

[2015-08-25 19:43] michael commented on #13
am I safe to tag it v1.0.0-beta1?

[2015-08-25 19:45] obuchtala commented on #13
Sure.
There is still a long way to 1.0 ;)

[2015-08-25 19:46] michael commented on #13
will we see beta20 ? ;)

[2015-08-25 19:55] obuchtala commented on #13
Nah, it isn't that bad either ;)

[2015-08-25 20:00] obuchtala commented on #13
Wait.

[2015-08-25 20:02] obuchtala commented on #13
I just tried to remove the setTimeout in surface.rerenderDomSelection(). Which seems pretty good to me.
I think it is a relict of async rendering with react... Let's check if that has no side-effects

[2015-08-25 20:03] michael commented on #13
I will do some packing and you push fix and i check. ;)

[2015-08-25 20:06] obuchtala commented on #13
pushed

[2015-08-25 20:09] michael commented on #13
Zero flickering mister! :+1:

[2015-08-25 20:09] michael commented on #13
wow! :open_mouth:

[2015-08-25 20:10] obuchtala commented on #13
Probably we could even get rid of the DOM selection clear... but as it is working, let us just leave it for now.

[2015-08-25 20:11] obuchtala commented on #13
AND: one more time I am happy to have got rid of react ;)

[2015-08-25 20:12] michael commented on #13
Fantastic!

[2015-08-25 20:16] #13 closed, assigned to obuchtala

[2015-08-25 20:18] obuchtala commented on #13
Amazing how far you can get with a less smart implementation. :)

[2015-08-25 20:18] michael commented on #12
Done.

[2015-08-25 20:18] #12 closed, assigned to nobody

[2015-08-25 20:22] obuchtala commented on #13
Can u explain why the absolute position thing with ce=false is working?
Do you need to add margins for the other stuff?

[2015-08-25 20:26] obuchtala commented on #13
or... to refine my question... how is it done, that the text property still seems to respect the flow?

[2015-08-25 20:30] michael commented on #13
it's just working by setting position: absolute. it seems that the contenteditable cursor movement ignores those out-of flow elements. which makes sense because that would be really hard to reason about e.g. when you have a lot of overlapping layers.

[2015-08-30 18:45] michael opened #18 "Writer: Make Panel.getPanelOffsetForElement more robust"
Currently we only do `$(el).position().top`. However if we assign `position: absolute` or `position: relative` to any element in the container, the offset calculation of all children of this element will get wrong.

We solved this for the Archivist project by walking up the tree and adding `$(el).position().top` to the offset for each element that is positioned absolute or relative.

Let's review

[2015-08-31 21:23] michael opened #19 "Make insert transformation preserve annotations"
Current behavior for inserting 'a' in different selection scenarios:

First char of annotation touched:
![image](https://cloud.githubusercontent.com/assets/2931/9590609/fe57781a-5035-11e5-9e1d-924448061534.png)

![image](https://cloud.githubusercontent.com/assets/2931/9590634/3de3aecc-5036-11e5-8544-424f82ddd573.png)

Strict overlap:
![image](https://cloud.githubusercontent.com/assets/2931/9590755

[2015-08-31 21:35] michael opened #20 "Refactor tools"
To reduce complexity we decided to implement Tools (e.g. StrongTool, LinkTool) as Substance Components.

Currently we have an indirection where tools have a model (for data manipulation) and a view (visual representation). Since tool state is maintained in the model the component/view needs to listen to those state changes and rerender accordingly.

Implementation of new tools will get easier impl

[2015-09-01 11:16] michael opened #21 "Get rid of mousedown hack for tools & enable surface to render selections / cursors"
And then we are ready for a realtime demo. ;)

[2015-09-01 13:07] Integral opened #22 "Htmleditor: dom should be loaded"
Looks like dom should be loaded when you are attaching html-editor, otherwise toolbar will be not activated. It's not a bug I think... But you should wright about this.

[2015-09-01 13:10] michael commented on #22
Yeah of course you have to wait for the initial DOM load before you attach the editor. Did you do it as described here?

https://github.com/substance/demos/tree/master/prose-editor

[2015-09-01 13:24] Integral commented on #22
yes, but in my case it's worked only with timeout, you should leave note
there

On 1 September 2015 at 16:10, Michael Aufreiter notifications@github.com
wrote:

[2015-09-01 13:25] michael commented on #22
Can you point me to the integration code once you have it, so I can check?

[2015-09-01 14:50] michael commented on #20
Will commit this later today into `tool-refactor` branch. It feels very good so far. We can also get rid of the generic ToolComponent wrapper. Also most importantly, I could ditch the tool registry. Tools now just require a surfaceManager (SurfaceTool) or document (DocumentTool) via dependency injection.

[2015-09-02 08:34] michael opened #23 "Critical: Pressing cmd + b or cmd + i breaks the editing"
What happens is that contenteditable kicks in and adds b and i tags. However this breaks the editor. What we should probably do short-term is intercepting all those default keyboard events and delegate to our own actions. Actually i wonder if this should be connected with the tools somehow. Because we would need the same logic canTruncate canExpand etc.

Long-term we should enable this DOM Mutatio

[2015-09-02 15:19] petrizzo commented on #367
hi!!

I'm substance fan since a while... so after last email announcement
about the desktop version for linux, i downloaded it inmediatelly.

=)

Until now, the app goes very well, but the help link to the manual
doesn't work -> I'm afraid that http://substance.io/composer/user-manual
is dead

Mariángela
Mariángela

--
El único modo de vencer el secuestro del conocimiento
es comprender sus razones

[2015-09-02 16:01] michael commented on #367
Hi fan! :)

It should be back online!

http://substance.io/composer/user-manual

Ahh too bad we are not able to improve the Composer desktop app atm. It hasn’t seen an update since over a year. I think we will relaunch it but i can not say when this will happen.

[2015-09-02 16:59] michael commented on #16
If only this would work for contenteditable too: http://jsfiddle.net/2r2fpekx/12/

[2015-09-03 10:15] obuchtala commented on #23
Yeah. Just to increase your experience, you could try to fix it, adding an adequate handler here: https://github.com/substance/substance/blob/master/surface/surface.js#L291
On the long run we want to have the ability to register such handlers using extensions. But this is not there yet, so we hard code it here. Maybe it is the correct place in future too, as it is default CE behavior which we have

[2015-09-03 11:46] obuchtala commented on #16
One problem is that a collapsed selection does not have a bounding rect.
This describes a hack to get such a rect by injecting a span temporarily: http://ask-wenda.appspot.com/r/5707702298738688/5648640/know-when-caret-goes-outside-of-contenteditable-scrollable-div

[2015-09-03 11:48] obuchtala commented on #16
When we start to render the selection ourselves we will have everything to get this done.

[2015-09-03 12:28] obuchtala opened #24 "Custom rendering of selections"
- [ ] Surface DDAU: TextProperties shouldn't pull annotations from surface, but instead get them via props from above. Surface is just the better place to know about highlights and selections.
- [ ] Live rendering of selections and cursor: maybe primitive rerender is quick enough for a good enough (flickering?)
- [ ] Scroll to current selection: when we render the selection ourselves, we should be

[2015-09-03 12:36] obuchtala commented on #24
As a last resort for rendering selections:
We could derive custom selections from the DOM selection client rects, and render them as overlays.
This would avoid needing to rerender TextProperties when dragging selections.

[2015-09-05 17:12] netsgnut commented on #23
I am not sure if this is a related issue, but pressing Shift+Enter seems to result in a wrong cursor position too. Ctrl+Enter/Cmd+Enter works fine most of the cases.

[2015-09-05 17:13] obuchtala commented on #23
@netsgnut thx for the info

[2015-09-06 16:26] michael opened #25 "Component: Supply HTML string"
There's currently no way to append HTML directly in a component's render method. We should have a .html() method, like in jQuery:

[code]

Not sure if this should work only for HTML constructors or also for custom components. This could potentially conflict with a component's render method. E.g. when you do

[code]

Will MyComponent.render be called then? And then overridden? It seems like a bad i

[2015-09-06 17:22] obuchtala commented on #25
Yeah. Consistency first.. if the user does this, it would overwrite anything appended before. That is also what $().html() does, isn't it?

[2015-09-06 17:24] obuchtala commented on #25
@michael do you know a cool way to make this safe against script injection?

[2015-09-06 17:59] obuchtala commented on #25
This looks reasonable: https://github.com/cure53/DOMPurify

[2015-09-06 18:38] obuchtala commented on #25
But actually, this should be done by the app.

[code]

I'd rather want to avoid introducing a dependency.

[2015-09-06 19:01] obuchtala commented on #25
First iteration done. fc3f46149b32d4aca0e6a0d89094adb3de0621d3

[2015-09-07 15:01] obuchtala commented on #19
@Integral The second case is implemented already which should suffice for the search and replace scenario in the archivist. Is that ok with you? see https://github.com/substance/substance/tree/fix-replace-text
The rest I will address in the coming weeks.

[2015-09-07 16:30] Integral commented on #19
@oliver---- in 70% cases we need this for replacing initials of respondents, so this is the case with beginnings of annotation, maybe we could reduce it to strict overlap... what do you mean by second case?
Also we use old substance for archivist-core...

[2015-09-07 20:33] michael opened #26 "Component: didUpdate / willUpdate lifecycle hooks"
I wonder if we should introduce a generic lifecycle hook analog to React's `componentDidUpdate`. Currently we expose `willUpdateState` and `didUpdateState`. However, that way we need to listen explicitly to either `didUpdateState` and `didReceive` props. I like that it's more explicit, but in many cases you just want to do something whenever the component has updated, and you don't care whether a

[2015-09-07 20:39] obuchtala commented on #26
IMO, it is important having the hook for props change, as setProps is the API called by parent, i.e. outside the component. setState is something that should used internally by a component.
Definitely we should think about consolidation, but at the same question if what React does is really good or necessary.

[2015-09-07 20:44] michael commented on #26
Absolutely. I was bringing it up because I know situations where you for instance embed a 3rd party widget that you just just want to reinject each time time props or state changes. With the current API would need to cover three cases:

[code]

this could be reduced to two calls. Or what could maybe also be useful is just a `didRender` hook, which is called in all 3 situations.

[2015-09-07 20:46] michael commented on #26
It's definitely in category sugar, but I think it could simplify especially leaf-ish components which are implemented in a dumb, 'i don't care just rerender everything' way.

[2015-09-07 20:47] obuchtala commented on #26
Yeah, maybe adding didRender as extra hook...

didMount is important to know when to do DOM relevant stuff (e.g., think of MathJax)
didReceiveProps is useful to derive custom data from the props.
Maybe we don't need didUpdateState...

[2015-09-07 20:53] michael commented on #26
Yeh, MathJax is a great example. If I had this didRender API I would implement a MathComponent using it instead of didMount saying 'whenever you gor rendered/rerendered' i call `doTheMathThing()`. This would be a default usage pattern which would work for many cases. When i want to have full control and to preserve an instance, i use the didMount, didReceiveProps etc. stuff.

[2015-09-07 20:55] obuchtala commented on #26
Not exactly what I meant. For certain MathJax things you need to know that you are in the DOM as opposed to be just rendered.

[2015-09-07 20:57] michael commented on #26
Mhh.. that's essential yes. The virtual render is not of interest for the user I think, so when I proposed didRender I meant after it has rendered Into the DOM. Maybe didUpdateDOM or something is a better name.

I would not drop the didUpdateState hook because it let's you deal with exactly that case.

[2015-09-07 21:03] michael commented on #26
What we should think about is if we should provide an API to break out of the rerender (virtual+inject changes) mechanism. E.g. Maybe i want to watch willUpdateState look into the new state, and if some conditions are fulfilled, just attach an active class to a child element instead of doing the full rerender thing. That's something we missed in React right?

We have this possibility of incrementa

[2015-09-07 21:09] obuchtala commented on #26
You can call it sub-components too. You would need a ref to it.

[2015-09-07 21:14] obuchtala commented on #26
I think we should collect some more use-cases. I have the feeling that calling didRender only when isMounted is a restriction. I rather would call didRender after each render be it in or out of DOM. And provide didMount for things that really need DOM to be there.
Still didMount and willUnmount is useful for regristration of listeners and de-registration.

[2015-09-07 21:15] michael commented on #26
OK. But apart from that does that concept of intercepting the rendering flow make sense in your eyes?

Like instead having a `shouldUpdate` hook (React) that cancels the rerendering, but instead you could do that in willUpdateState and do some manual incremental things and return false to indicate that no component rerender should happen.

[2015-09-07 21:15] michael commented on #26
Yep didMount willUnmount is essential for handler registration/deregistration!

[2015-09-07 21:26] obuchtala commented on #26
ATM this would be done by shouldRerender(). There you could look into the new state or props, update incrementally and suppress the usual rerender by returning false. Don't know if this is convenient enough? Just feels strange to have so many ways to intercept. Alternatively we could change Component.rerender() to Component.rerender(oldState, oldProps) which could be customized and call super if d

[2015-09-08 10:42] michael opened #27 "Component: Improve check whether triggerDidMount should be called or not"
We just fixed an edge case related to component mounting.

https://github.com/substance/substance/commit/e71a5115eeafb137ef977f5720174e6dd18de466

However I introduced a new **mounted** instance variable, which holds the same boolean as a call to `_isInDocument`. I think we should have one way to do this, and make it a clear API.

How about introducing a static method:

[code]

We could do the che

[2015-09-08 11:55] solsson opened #28 "Readme does not state platform support"
I can't find any information on browser support, for example:
- Do you plan on supporting iOS and Android.
- What IE versions?

[2015-09-08 14:37] michael commented on #28
Thanks. We add this to the README. But we need to verify again. Basically all major browsers are support in recent versions. IOS and Android is probably not far away but I'd not recommend using Substance for mobile apps right now.

[2015-09-09 03:38] solsson opened #29 "Text cursor movement by tap fails on iPad"
As guessed in #28 Substance isn't quite ready for mobile yet.

Current Substance demos render on iPad and it is possible to type, but only at the original text cursor position. You can tap somewhere else in the text and the text cursor will move, but you still type at the original location.

On iPhone the demos have issues with the small screen and it is hard to get to typing.

On an Android 4.4 p

[2015-09-09 03:47] solsson commented on #29
I should add that I consider this issue to be about the text cursor only, while I described rendering behaviour only as background. The replacement of contenteditable with a custom technique benefits from early validation.

It is interesting that iPad shows a B/I/U styling button when text is selected, so it must have some understanding of the editable concept. It fails to change styling though.

[2015-09-09 04:57] obuchtala commented on #29
Hey @solsson Thanks for this investigation! We will try to address this soon.

As you have seen, we do not handle touch events (as opposed to mouse events) correctly. Then you see the selection not changing internally, and continueing typing will show changes at the old position.
The other thing you detected are natively implemented ContentEditable features, such as those annotations, but also thi

[2015-09-09 08:54] solsson commented on #29
On Windows 8 touch it works nicely with all browsers, though with visual differences. Firefox just sets the cursor, IE 11 sets the cursor and displays a black circle underneath, Chrome sets the cursor and displays a blue drop shape and a small menu akin to iPad's that gives you the option to paste or expand a context menu. I guess this is by design for each browser and all good. With all of them y

[2015-09-09 13:08] mwtorkowski opened #30 "Read-only components"
Would it be feasible to create a substance component, e.g. string of text that is read-only, but still behaves like actual text (so it can be inserted in the middle of a paragraph, and act like any other string there - except it cannot be changed)?

[2015-09-09 13:12] obuchtala commented on #30
This is actually easy by just rendering such a component with contenteditable=false.
FWIW, every node type can have or actually usually has its own view implementation.

[2015-09-09 13:14] obuchtala commented on #30
Beyond that, editing behavior like when you press backspace at the beginning of the next paragraph which could be implemented to merge the content into the previous node, can be controlled for every node type, in order to prevent this for such a read-only node.

[2015-09-10 15:36] michael commented on #30
You can also include buttons and interactive elements into your components, where some area is editable and another is for interacting with the component.

The todo component in our notepad is such a case:
http://substance.io/demos/notepad/

See implementation here:
https://github.com/substance/demos/blob/master/notepad/todo_component.js

[2015-09-10 16:30] michael opened #32 "Question: Is Component.prototype.mount in use?"
Is `Component.prototype.mount` in use? It seems not to be called anywhere.

[code]

Also I don't understand why we check for for _isInDocument and then call triggerDidMount. Shouldn't it be the other way: if not yet mounted we call triggerDidMount (as it's the first time).

[2015-09-10 16:47] michael commented on #32
Oh I had some basic misunderstanding. You check in various places if the comp has been mounted and if yes, you call triggerDidMount() explicitly. However that open the door for doubleDidMounts unless we bring into place that **mounted** state.

I'd rather get away with this **mounted state** and formalize it as a property. I would change the implementation so that I just call triggerDidMount in va

[2015-09-10 16:51] obuchtala commented on #32
I wanted to have the notion of when a component is actually in the window document.
I think we should rethink this, as in the most cases we are more interested in didRender. Still we need to be able to communicate when a tree has been added to the window document.
I suggest to move away from the term 'mounting' as it is confusing. What should be the difference between rendering and mounting, when

[2015-09-10 16:55] obuchtala commented on #32
ATM, I can only think of 2 use-cases from our experience:
1. MathJax
2. window.document event handlers (we needed this sometimes)

[2015-09-10 16:57] michael commented on #32
yep no i guess we can't give up on this.. but true we should avoid using it in all cases where the local context suffices.

[2015-09-10 17:00] michael commented on #32
Anyway.. i get a feeling that we need this **mounted** variable.. which actually denotes that "didMount" has been called already for this component.

[2015-09-10 17:07] michael commented on #32
So in the place where we call didMount two properties must hold:
- comp.$el has document as a parent
- didMount has not been called already

[2015-09-10 17:09] michael commented on #32
Some interesting details from React's [documentation](https://facebook.github.io/react/docs/component-specs.html#mounting-componentdidmount):
- "The componentDidMount() method of child components is invoked before that of parent "components.

In our case parents get triggered first right? Any negative implications?

[2015-09-10 17:46] obuchtala commented on #32
Don't think that it would have a strong impact. Everything should be rendered already. It would only have an impact on the order of global DOM event handlers.

[2015-09-10 17:52] michael commented on #32
OK. I'll work on a bit cleaner solution, I push in a branch when ready.

[2015-09-10 18:56] michael commented on #32
Again regarding Component.prototype.mount. You made an example where you use the mount instance method:

[code]

You want to allow to do things low level, like instantiating components using new, right? What are use-cases where this is handy? Just for understanding...

It would also be possible like this, when you mount it to an element that is not (yet) in the DOM.

[code]

[2015-09-10 19:02] obuchtala commented on #32
If you want to do offscreen rendering using document fragments the didMount mechanism would not work and you would need to trigger didMount manually, when actually adding to DOM.

[2015-09-10 19:05] michael commented on #32
Yep, that I understand. So i keep triggerDidMount a public API. Let me try to get rid of the prototype version of render.

I mean to support creating instances using new (which i find quite nice) we could also let the Component.mount method accept either a $$ virtual element or a real component instance. That would not be tooo magic ha? :)

Also, I think we should let mount accept a DOM element to

[2015-09-10 19:08] obuchtala commented on #32
But keep in mind, that the component ctor is not so nice to use (parent, params)...

[2015-09-10 19:09] obuchtala commented on #32
Yes... the jquery API is for cheerio, and of course convenience... but you mean additionally we should do that, right?

[2015-09-10 19:10] obuchtala commented on #32
Let's say you do some refactorings and let me take a look :)

[2015-09-10 19:10] michael commented on #32
Yep, just check wrap it in a $ and we should be save.

Component ctor for dudes that want the bear metal, i like that we have that and React doesn't. :)

[2015-09-10 19:11] michael commented on #32
i think this is nice for a small tutorial also to understand what happens behind the curtain. that there's actually no big magic. just some calls with parent etc.

[2015-09-10 21:22] michael commented on #30
@mwtorkowski Closing this. Please reopen if unhappy with the answers. :)

[2015-09-10 21:22] #30 closed, assigned to nobody

[2015-09-10 21:22] michael commented on #25
Works for me. Will write tests tomorrow.

[2015-09-10 21:22] #25 closed, assigned to obuchtala

[2015-09-10 21:39] michael opened #34 "Write more Component tests"
Particularly for the following cases.
- [x] Various usage scenarios of `.html()`. Think of how to deal with wrong usage. E.g. calling `.html()` in combination with `.append()`
- [x] Test various scenarios of DOM diffing (preserving child when ref is given)
- [x] Test various scenarios of shouldComponentUpdate
- [x] Test Component.mount (passing either a VirtualComponent, or a real Component instan

[2015-09-10 21:40] #22 closed, assigned to nobody

[2015-09-11 19:27] michael opened #35 "key vs. ref and component recycling"
I found an argument why we should probably support both key and ref.

A key must only be unique only within the direct parent context, while a ref must be unique within the whole owner component. Thus this is perfectly valid:

[code]

But this is not:

[code]

Usually we would use a ref for static components, that we know they will be there (e.g. contentPanel, scrollbar, etc.) and keys for comps t

[2015-09-11 20:39] michael opened #36 "How to unmount a root component?"
Once mounted injected, we have no way unmount a root component, or am I missing something?

[2015-09-11 20:43] obuchtala commented on #36
Does component.unmount() not work?

[2015-09-11 20:44] michael commented on #36
Just found it. I want to test deregistration of event handlers.

[2015-09-11 20:46] michael commented on #36
Which seems not to be done in that case. In _updateElement there's the only place:

[code]

[2015-09-11 20:48] obuchtala commented on #36
Well, this seems to be a bug.

[2015-09-11 21:11] michael opened #37 "Allow returning VirtualComponent in render"
[code]

Does not work currently. We expect the element returned by render always to be an HTML Element. This would an important feature so we can save some markup. It's like delegating the output to the child component.

[2015-09-11 21:12] obuchtala commented on #37
But why would it be another component in first place then, and not just extended?

[2015-09-11 21:13] obuchtala commented on #37
I think this is not a use-case.

[2015-09-11 21:16] michael commented on #37
[code]

It's quite nice to have such delegator components that don't produce extra markup. I used this often in React.

[2015-09-11 21:23] obuchtala commented on #36
On a second thought: I don't think it is necessary to unbind the event handlers. They are part of the rendered element. It should not matter if they are still there after unmount. I would leave them.

[2015-09-11 21:23] #36 closed, assigned to obuchtala

[2015-09-11 21:24] obuchtala commented on #37
Not yet totally convinced. It looks like a render helper function to me, not like a component.

[2015-09-11 21:27] obuchtala commented on #37
Can you collect your React use-cases, and then I would take a look at them?

[2015-09-11 21:29] michael commented on #36
But wouldn't this prevent the component from being garbage collected if there's a handler from that component bound to the element that could potentially survive... I'm not sure i understand this completely. I mean why it does not matter to not call .off().

[2015-09-11 21:30] obuchtala commented on #37
Why I am hesitating to support this, is that now the ownership of the element is not clear anymore. I fear that this will cause troubles (e.g., with incremental rendering).
As a feature, I still think it is too weak.

[2015-09-11 21:31] michael commented on #37
I will collect use-cases and fill in here. Maybe we can live without it.

[2015-09-11 21:32] obuchtala commented on #36
No. Why would it. Both, the component and the element are having the same life-time.

[2015-09-11 21:33] obuchtala commented on #36
Why should the element survive?

[2015-09-11 21:35] michael commented on #36
Mhh.. probably true yes.. and if i keep a reference to the unmounted component or el, it's the user's fault.

[2015-09-11 21:36] obuchtala commented on #36
I think so.

[2015-09-11 21:43] michael opened #38 "key / ref mechanism does not work on root element"
This fails

[code]

Could we do something about it, for consistency? I understand that i could reach the root element using comp.$el, but somehow it's strange i can not use it.

[2015-09-11 21:46] michael commented on #35
What's you feeling about these things?

I changed the default shouldRerender to return true always. And implemented a test case that covers various cases of preserving/rerendering.

https://github.com/substance/substance/blob/improve-trigger-did-mount/test/unit/ui/component.test.js#L270

[2015-09-11 21:54] #27 closed, assigned to nobody

[2015-09-11 21:55] #20 closed, assigned to michael

[2015-09-11 21:55] #34 closed, assigned to michael

[2015-09-11 23:02] michael opened #39 "Concept for tools / keybindings triggering the same action"
Would like to look into this tomorrow. It's related to #23. Would be nice to have some generic concept for keybindings and somehow make this work nicely in combination with tools. E.g. cmd+b and clicking the strong tool should trigger the same action.

One thing we discussed was breaking out the AnnotationTool implementation into a ToggleAnnotation transformation. This must provide static function

[2015-09-12 07:31] obuchtala commented on #35
I think you are right. Let's see how the eager update influences performance. We can optimize later.

[2015-09-12 07:33] obuchtala commented on #38
Will need to take a closer look to understand.
From the first sight, I agree, that this is a bug.

[2015-09-12 07:44] obuchtala commented on #39
The registration should not be too difficult.
Don't know if the old Substance.Keyboard is really necessary. For sure you need the part of it where the commands get parsed. And maybe we end up reviving the Substance.Keyboard, yes.

[2015-09-12 09:34] obuchtala commented on #38
On a second thought, this is kind of strange: using 'key' does not really make sense here.
The lfe-time of  the component is not controlled by itself. So persistence-wise, this would not make a difference.
Used as a ref, this would have the effect that

[code]

While we can support this for better consistency, it simply doesn't bring anything.

[2015-09-12 09:38] michael commented on #38
[code]

it would be be?

Which brings me to the next question.. when a HTML-Element is referenced, should this.refs.elem return the jQuery wrapped element or the element itself?

[2015-09-12 09:38] obuchtala commented on #38
No. Refs are components.
Notice: you want components, so that you can call setProps et al. on it.

[2015-09-12 09:47] michael commented on #38
But only if really a user-defined component is referenced. If it's just an ordinary DOM node what can you do with it? Well maybe... calling .html on addClass etc.

Just thought of a common situation where you reference two input fields:

[code]

We could spare the .$el if we directly returned the jquery element...  React 0.14 made this change since there was no other use-case for referencing Eleme

[2015-09-12 11:10] obuchtala commented on #38
Hmmm... but also React does not like you to do incremental updates, like changing the element. The component still makes it possible to set classes etc. incrementally, while still being compatible with the reactive rendering flow.
While I see, that there are cases where 'reading' from the element are necessary, there also might be cases where you 'write'.
You could add more jquery convenience dele

[2015-09-12 11:12] michael commented on #38
Let's see how we will use this stuff in the coming months.

[2015-09-12 13:42] michael commented on #35
We use `ref` now instead of `key`. Proving a ref automatically turns on incremental rendering.

[2015-09-12 13:42] #35 closed, assigned to nobody

[2015-09-12 13:43] #32 closed, assigned to nobody

[2015-09-12 13:43] #26 closed, assigned to obuchtala

[2015-09-12 13:45] michael commented on #19
Tested. Works.

[2015-09-12 13:51] michael opened #40 "Provide val() val('foo') for Element Components."
Let's us do:

[code]

Instead of:

[code]

[2015-09-12 13:51] michael commented on #38
Let's not allow a ref on the root element. That way the parent can control the ref of the component. A component should not self-manage it's own ref. I think we should implement #40 though.

[2015-09-12 13:51] #38 closed, assigned to nobody

[2015-09-12 13:52] michael commented on #37
Let's forget about it. Clear ownership of el is a good thing!

[2015-09-12 13:52] #37 closed, assigned to michael

[2015-09-12 14:49] Integral commented on #19
@michael is it working now in both cases? Could I use it somehow with old version?

[2015-09-12 15:05] michael commented on #19
Oh sorry, second case still does not work when you have a bold annotation and select only the first part of it. When you type then the annotation is lost. For search+replace this is essential. Then we can back port. @oliver---- could you look into supporting the use case "first chars touched by selection". The "strict overlap" use case works. In order to back port, we just grab the insert transfor

[2015-09-13 02:21] obuchtala opened #41 "$.prop()"
What shall we do with this part of jquery? http://api.jquery.com/prop/
I fear the confusion adding this would create.

[2015-09-13 03:07] obuchtala commented on #41
$.prop is for html properties such as 'type' of an 'input'. So far we did not need this often, or even not at all. Thus, I would rather deviate from jquery here, and call this `htmlProp()`.

[code]

[2015-09-13 15:38] #41 closed, assigned to michael

[2015-09-13 15:39] obuchtala commented on #40
Done via #41.

[2015-09-13 15:39] #40 closed, assigned to nobody

[2015-09-14 17:39] michael opened #46 "Allow useing OO.makeExtensible with OO.inherit"
I'd like to add an extra entry `command` to `defaultKeyProps` for the Tool class, so I can:

[code]

However it seems that OO.makeExtensible does not work when used in conjunction with OO.inherit. Any ideas how I should approach this?

[code]

[2015-09-14 17:57] obuchtala commented on #46
Probably you want to provide a hook for it. Can you explain again what you need?

[2015-09-14 17:59] michael commented on #46
var StrongTool = AnnotationTool.extend({
  name: 'strong',
  command: 'toggleStrong'
});

I want `command` to go into `StrongTool.static.command`.

[2015-09-14 18:20] obuchtala commented on #46
Ok. I think I should rename keyProps to staticProps and copy them over. The afterHook could then do other more stuff.
Will do.

[2015-09-15 17:57] danielschwartz opened #48 "Add Example/API for Real Time Collaboration"
Even though collaborative document editing is listed as a possibility with the editor (because of it's OT changes nature), there don't seem to be any examples/tutorials/api docs that describe how to do it. I would expect the DocumentChange class to be serializable (e.g. have toJSON and fromJSON methods) so that changes can be transmitted over the wire and instantiated in another users editor. Thos

[2015-09-15 21:27] michael commented on #46
We have protoProps.static now.

[2015-09-15 21:27] #46 closed, assigned to obuchtala

[2015-09-15 21:28] michael commented on #23
Fixed via #43. Could not reproduce problems with shift+enter? Oli could you?

[2015-09-15 21:30] obuchtala commented on #23
Nope.

[2015-09-15 21:31] michael commented on #23
Closing this. @netsgnut please file new issue if you run into the problem again.

[2015-09-15 21:31] #23 closed, assigned to michael

[2015-09-15 21:32] michael commented on #19
@oliver---- can you look into this, it's almost done.. just not working when there is only a part select (touching the first char). I could then port it back to the legacy Substance. Daniel would need this to activate search+replace feature in the archivist.

[2015-09-15 21:32] michael commented on #39
Fixed via #43

[2015-09-15 21:32] #39 closed, assigned to nobody

[2015-09-15 21:33] michael opened #49 "Introduce keybindings"
Currently we define all keybindings hard-coded within Surface. We should come to some keyMap approach where we assign shortcuts with the commandName that should be triggered.

[2015-09-15 21:34] michael commented on #49
This may also involve bringing back some Substance Keyboard stuff. Not super urgent, but definitely something we want to have in Beta 2.

[2015-09-15 21:41] michael commented on #48
We will do some work on this in the coming months. It's all prepared for it, but still we need to write the server side pieces and put together some demo setup.

[2015-09-17 19:54] netsgnut opened #50 "Booting with an Empty Editor Content"
Tested on 1.0.0-beta. If we are to [replicate the Notepad demo but with an empty content state, i.e. empty `<div id="editor_content"></div>`](https://github.com/substance/demos/blob/bcfcd6919a769ed4a1d46e3e28d1960849bc2c57/notepad/index.html#L16-L21), we would result in an cryptic `TypeError: node1 is undefined` bubbling from [here](https://github.com/substance/substance/blob/fed41a88a6ffb051bbf27

[2015-09-17 19:56] michael commented on #50
Editor should be robust regarding empty content. Will be fixed for Beta 2! Thanks for reporting.

[2015-09-18 05:15] netsgnut opened #51 "Sometimes Undo/Redo buttons aren't clickable after consecutive clicks"
It seems at times toolbar buttons become non-clickable over time - this can happen when undo/redo is made (especially a series of them are clicked over time). One will have to manually set active cursor on the editor itself before the button starts to be responsive again.

[2015-09-18 07:34] obuchtala commented on #51
I think that is because at first we implemented undo/redo tools as selection dependent (like annotation tools for instance). And this of course doesn't make sense.
I think @michael has been working on refactoring the tools implementation, so this is gonna be fixed in beta2.

Thx for reporting.

[2015-09-18 09:01] obuchtala commented on #51
I can confirm that @michael's refactor has fixed this issue.

[2015-09-18 10:15] netsgnut commented on #51
Cool, looking forward to it. Thanks!

[2015-09-18 10:15] netsgnut commented on #50
Thanks for the assurance! :)

[2015-09-18 10:17] michael opened #52 "Better mechanism for node highlights"
We need a better mechanism for managing annotation active states (currently implemented as a volatile active property on annotations)

The current approach is pretty perfect for highlighting nodes that are displayed somewhere in a container and are already rendered in one or more places. using anno.setActive(true) we incrementally trigger class changes for each node.

However for the Scrollbar, we

[2015-09-18 10:25] obuchtala commented on #52
I am currently working on a TextProperty change dispatcher which will manage and dispatch everything that would require an update within a single TextProperty. This would also take care of highlights.
I am not sure yet, if I like the event on surface. Need to think about it some more.

[2015-09-18 10:46] netsgnut opened #53 "[Question] Implementation of OT Changes"
Sorry for spamming with issues these days, been starting to play with the current version but at some stage would love some clarifications on the roadmap for future versions.

I am working on a personal wiki system, with a touch of Etherpad in which each page persists automatically over time. In the ideal case, in setting up of a doc, the current text and the revision history are populated from se

[2015-09-18 10:54] obuchtala commented on #53
It looks like, what you have in mind is similar to what Git does. There you definitely need SHAs to identify changes.
We are currently moving towards a solution which is similar to what Google Docs does.
There you do not have branches, but every participant (including a server) has a working copy which it applies incoming changes to. The noticable difference to a Git like approach is, that an Undo

[2015-09-18 11:08] obuchtala opened #54 "We should communicate a roadmap for Substance"

[2015-09-18 11:16] Integral commented on #54
Should we do it together?

On Fri, Sep 18, 2015, 15:08 Oliver Buchtala notifications@github.com
wrote:

[2015-09-18 11:18] obuchtala commented on #54
I think this needs a lot of discussion. We should do that next week, when @michael has time for a call.

[2015-09-18 11:21] Integral commented on #54
Isn't Michael comes back at 22th?

On Fri, Sep 18, 2015, 15:18 Oliver Buchtala notifications@github.com
wrote:

[2015-09-18 11:24] obuchtala commented on #54
Yes, we can do it then, too.

[2015-09-18 12:55] netsgnut commented on #53
Yes, I am aware that this is a very complicated topic :) Before I read how Substance works, I have been reading [ShareJS](http://github.com/share/share). Making OT works right is difficult.

In my use-case though, multiuser session is more like a plus, so while it would be great to have multiple users working on the same document each with consistent local changes, it is not a priority here. Howev

[2015-09-18 13:00] obuchtala commented on #53
You are right, that would be the way right now.
Be aware that along with the wave implementation we will compress changes so that not every single key-stroke makes a new version. This will be a preparational step, see #17, which I'll implement soon.

[2015-09-18 13:04] obuchtala commented on #53
BTW, ShareJS has google wave implemented already, however, the source code is not very ...ehm... maintainable. Substance has a similar implementation on OT side, but not yet the wave prototocol.

[2015-09-18 14:01] netsgnut commented on #53
...and that is precisely one of the reasons that I am reluctant in incorporating ShareJS in my own projects. The source code still tends to float around with unclear milestones set. The docs being pretty unclear and obsolete also scares me out.

I think I have one more question too: if I am to persist the undo/redo history, just like what we do for the contents, any existing APIs that I can follow

[2015-09-18 14:13] obuchtala commented on #53
Not yet, I am sorry. I could add DocumentChange.toJSON and fromJSON in a branch if you want.

[2015-09-18 14:19] netsgnut commented on #53
Would it be part of the Beta 2 milestone? I think it could be useful for others, too.

[2015-09-18 14:20] obuchtala commented on #53
Totally!

[2015-09-18 14:21] obuchtala opened #55 "Make DocumentChange serializable"
While Operations are serializable DocumentChange is not.

[2015-09-18 14:21] obuchtala commented on #53
#55

[2015-09-18 14:56] netsgnut commented on #53
Cool! :heart:

[2015-09-18 18:28] michael commented on #54
Jeh let's do that together next week. I thought of making a feature-table for the README. We could put the status of each feature there.

Custom document models: STABLE
2-column writing interface: EXPERIMENTAL
Realtime collaboration: BETA 2

Is there something between STABLE and EXPERIMENTAL? :)

[2015-09-18 18:29] obuchtala commented on #54
What is the difference between STABLE and EXPERIMENTAL ;)

[2015-09-18 18:31] michael commented on #54
We must talk! ;)

[2015-09-18 19:15] jasonphillips opened #56 "React.js versus custom component.js?"
In the interest of incorporating this library into some of my projects that are implement within react-driven interfaces, I'm looking for more documentation or help understanding the decision to drop react from your code in favor of what appears to be a close re-engineering of react components (in component.js). I'm also looking for any clear documentation on the relationship between the "legacy"

[2015-09-18 19:49] obuchtala commented on #56
We were having serious problems with React in the context of our editing surface.
One of it was the async nature of render. Looking at this: https://github.com/facebook/react/blob/a05691f0ad9d20fc9ffb1fc04d531e257e37d55b/src/renderers/dom/client/ReactMount.js#L711
it is still the same.
The reason: imagine that at some place in our lib we apply an operation which changes say a text property. As we

[2015-09-18 20:00] obuchtala commented on #56
With beta2 we will ship examples showing how to achieve a smooth integration into a react app.

[2015-09-18 20:05] michael commented on #56
What Oliver said. Another reason was that React did not let us operate on text-node level, so we had to wrap all our text fragments in spans. For a text editor at that scale we need to have complete control over the rendering.

I plan to write up documentation for Substance Component, and how it differs from React and what backed our decisions.

Regarding integration: We are actually in some colla

[2015-09-18 20:17] jasonphillips commented on #56
Thanks for the detail, that makes sense and helps a great deal in getting a picture of where things are going and the reasoning behind it. It sounds like I'll need to just aim for smoothly integrating substance within a component in my use cases as you suggest. I'll be particularly interested in figuring out how best to pass down an existing context to make available to custom editor components wi

[2015-09-18 20:28] michael opened #57 "Problem with refs"
There seems to be some bug with the ref mechanism that hit me when bringing highlights back for the Scrollbar.

From scrollbar.js render:

[code]

E.g. when in the first run ref is set to `topic_annotation_1` and in a next run `topic_annotaton_2` is in the highlights the `this.refs['topic_annotatoin_2']` is not available.

You can reproduce using the substance/demos#topic-writer branch. Then:
- Pu

[2015-09-18 20:32] obuchtala commented on #57
Could you make it a failing test case?

[2015-09-19 08:47] michael commented on #57
Working fine now! Thanks a lot.

[2015-09-20 06:18] #57 closed, assigned to obuchtala

[2015-09-20 07:11] michael opened #60 "Improve setHighlights API"
We should improve this.

I was adding the Highlights API to Document for the following reasons:
- in initial call of handleStateUpdate I don't have access to the focussedSurface
- if you had two surfaces displaying different containers we would have to distribute the highlights accordingly on the two surfaces.
- volatile highlighted are also in doc scope

I'm aware this is not exactly correct. We

[2015-09-20 07:12] michael commented on #52
Closing in favor of #60.

[2015-09-20 07:12] #52 closed, assigned to nobody

[2015-09-20 07:13] michael commented on #60
Can you explain how we could make use of the new TextProperty change dispatcher you mentioned?

[2015-09-20 07:17] michael opened #61 "Commands should be able to communicate with the app"
Currently they are isolated, and live in the Surface context.

Sometimes we need to trigger an app state change from there, like here: https://github.com/substance/demos/blob/topic-writer/topic-writer/commands/toggle_topic_citation.js#L12

The only way currently is using doc.emit('') but that is the wrong place I would say.
https://github.com/substance/substance/blob/master/surface/commands/toggle

[2015-09-20 07:22] obuchtala commented on #60
Actually, I am not sure yet. But the basic idea is to have one place where we can push things to text property components, making them less self-organized.

I have this currently here:
https://github.com/substance/substance/blob/numerical-addressing/document/text_property_manager.js
https://github.com/substance/substance/blob/numerical-addressing/surface/surface.js#L34

Let me extract this from th

[2015-09-20 18:08] michael opened #63 "Remove SurfaceManager in favor of Substance.Controller"
Background: I wanted to connect undo/redo to our command API.  However, I'm not sure if the surface scope is always right for this.

[code]

What about document changes that haven't been triggered by an active surface (e.g. an entity reference that has been changed inside a panel in Archivist)? How to undo them?

One idea I had is to move the executeCommand API one level up to the SurfaceManager,

[2015-09-20 18:11] michael opened #64 "Introduce application-wide messaging"
This could be uniform command executing + handling and part of this #63 .

Needed for situations like when a toggleLink command should trigger the linktool to open a prompt.

https://github.com/substance/substance/blob/master/surface/commands/toggle_link.js#L24

[2015-09-21 08:21] obuchtala commented on #63
I think that is reasonable. It sounds like this would be the place to add customizations, too, in future.
Go for it!

[2015-09-21 09:45] michael commented on #63
Will do!

Just one more rant: I think I need to make a distinction between a Command and an Event.
- **Commands** need a class implementation and they inspect the current editing state (which surface is focussed, what is the selection to perform the appropriate operations. A command either triggers a change to the document or makes the UI somehow change accordingly
- **Events**: I would use the Co

[2015-09-21 10:19] obuchtala commented on #63
Sounds good. As always with event based systems: don't overuse it ;)

[2015-09-21 15:10] michael opened #66 "TextPropertyManager: Warning shown when breaking a node"
[code]

Reproduce:
- Hit enter when inside a strong annotation

[2015-09-21 15:22] michael opened #67 "Expose logger via Substance Controller?"
We currently use dependency injection to connect to a notifications service. We should maybe move this into Substance Controller where users can call a getLogger() method to get a shared logger instance. This would be stuff that is logged into the status bar. So we should not use it as a debugging logger. Rather use console.log for that.

Maybe we should keep the name notifications to make it more

[2015-09-21 15:34] michael opened #68 "Move save logic into Substance Controller and Save command"
Introduce some simple API to check if a doc has been changed (= dirty). I'd also like to introduce a Save command that requests a save operation. Saving is currently tightly coupled with the backend service (this.context.backend). Not sure if our basic writer interface should require a backend to be provided via DI. Or maybe we should better leave this to the implementer and let them override an o

[2015-09-21 16:05] obuchtala commented on #67
Sounds good.

[2015-09-21 16:11] obuchtala opened #69 "Make doc saving more incremental"
Even without a collab hub this makes sense: from each document change we can derive the set of dirty nodes. When saving we should only transfer these dirty nodes.
A backend needs to save only the transfered nodes, not the whole document.

[2015-09-21 16:12] michael commented on #67
I'm in the middle of it. I'm dropping the different occurrences of this.context.componentRegistry, this.context.surfaceManager with the controller interface. I expose it via dependency injection, however I implemented getController() methods whereever possible, to abstract this away.

In practice this means that:

[code]

turns into:

[code]

Just a thought: Why not making this.getController a def

[2015-09-21 16:13] obuchtala commented on #69
With every transfered node there needs to come a flag so backend knows to create, update, or delete.

[2015-09-21 16:18] obuchtala commented on #67
Hmmm... so it would be a built-in depency injection? Don't know.
It should always be defined then, and fail as early as possible.
Or do you want to provide a default implementation?

[2015-09-21 16:23] michael commented on #67
Sort of, I'm also not sure... but this could make sense in many apps, to separate some data-logic from component logic. Of course if you ever call this.getController() in one of your components and you have not defined one as a child context, it will fail immediately.

Our TextPropertyComponent for instance would rely on a Substance Controller to be in place, so we can do:

[code]

[code]

[2015-09-21 16:25] michael commented on #67
We could also decide to access controller always via `this.context.controller` to indicate this is a dependency injection thing. Not sure..

[2015-09-21 16:31] obuchtala commented on #67
I would rather prefer this for now. Then it is really obvious how it works.
At some time we could declare required context properties, and fail automatically if they are not present.

[2015-09-21 16:43] michael commented on #67
Sounds good.

[2015-09-21 23:12] michael commented on #66
Once you see that warning, try undo and then redo and it actually breaks the editing.

[2015-09-22 12:55] obuchtala opened #70 "Better concept for having different im-/exporters at the same time."
In LensWriter, we want to be able to use both toHtml and toXML.
Both use the basic HtmlExporter implementation.
IMO it is good to have the implementation within the node model class.
However, there should be a better way to have multiple versions.

[2015-09-23 09:02] michael commented on #70
Yeah that we need definitely. Since we don't need to make a difference between HTML and XML we could give the methods more generic names. How about `fromSource` and `toSource` and optional for the clipboard `fromClipboard` and `toClipboard`?

[2015-09-23 09:08] michael commented on #67
Done via #65.

[2015-09-23 09:08] #67 closed, assigned to obuchtala

[2015-09-23 09:08] michael commented on #64
Done via #65.

[2015-09-23 09:08] #64 closed, assigned to nobody

[2015-09-23 10:12] michael opened #71 "Create API docs using jsdoc and trigger regeneration on each commit"

[2015-09-23 13:45] obuchtala commented on #70
Or making it independent of the class,

[code]

And register them in a converter registry. A converter would then pick all registered for its name.

[2015-09-23 16:14] michael opened #72 "Writer: Dragging of scrollbar is broken currently"

[2015-09-23 17:44] michael commented on #61
Now possible using `command:executed` event on Controller.

[2015-09-23 17:44] #61 closed, assigned to michael

[2015-09-23 20:18] obuchtala opened #75 "Selection does not get set when using key bindings."

[2015-09-23 20:20] obuchtala commented on #66
There are more cases, e.g. when breaking before an annotation.

[2015-09-24 09:25] #66 closed, assigned to obuchtala

[2015-09-24 09:57] obuchtala commented on #70
While I was voting for having the converters in the same file as the node, I feel now that it would be more flexible to have them in separated files, and making the registration less implicit.
OTOH, this would of course increase the complexity.
@michael what do u think?

[2015-09-24 10:15] michael commented on #70
Hard to say really. I like the current minimalism, because defining a new node and specifying from/to converters feels very natural. I'd want to not have things spread over too many files. However, maybe we could come up with a single file for each converter, with multiple extends like these:

[code]

[2015-09-24 10:18] obuchtala commented on #70
Ok.

Basically, we need a more explicit way to configure a converter, i.e. using a registry for those converters.
We could still have them within the node files by default. And if something needs to be customized then it is done by registration.
I will give it a try and then we can discuss...

[2015-09-24 10:34] obuchtala commented on #70
@michael  What do u think about that?

[code]

I.e., adding a static API to Document.Node.

Edit: and this block of code would be in the same file as the node usually.

[2015-09-24 10:39] michael commented on #70
That's the way!
On Do., 24. Sep. 2015 at 12:34, Oliver Buchtala notifications@github.com
wrote:

[2015-09-24 11:49] michael commented on #75
Oh that's actually because of my too smart checker here:

https://github.com/substance/substance/blob/master/ui/controller.js#L194-L199

Should I remove it? Or should we think of another way of triggering the tools to update? I mean semantically, there is no selection change happening...  it has been set to the same value as before. Not sure here.

[2015-09-24 16:04] obuchtala opened #79 "TextPropertyManager does not deal with ContainerAnnotation updates."

[2015-09-24 17:01] obuchtala opened #82 "After focusing the DOM selection gets wiped"
It happens, that the native focus comes in later than the model focus, so that TextPropertyManager removes the persisted selection, leading to a rerender that destroys the DOM selection.

[2015-09-24 17:11] #79 closed, assigned to nobody

[2015-09-24 18:24] obuchtala opened #84 "Always do arguments checking in transformations."
https://github.com/substance/substance/blob/master/document/transformations/create_annotation.js#L15

[2015-09-25 07:34] michael opened #85 "Introduce specialized event that annotation tools can listen to"
We currently listen to `selection:changed` in our tool components to update active state etc. However, there may be different situations that can not be covered with this approach. For instance if an annotation is created programatically (e.g. during collab editing) and appears under the current cursor, the tools would not update.

Goals:
- Introduce `toolupdate:requested` event that passes the cu

[2015-09-25 07:37] michael commented on #75
Fixed via: https://github.com/substance/substance/commit/5e29388f6aef4efb4c968c3c0dc9d911b48e0c8f

[2015-09-25 07:37] #75 closed, assigned to nobody

[2015-09-25 08:06] michael opened #86 "Improve Editor.selectAll"
Current usage:

`editor.selectAll(ctrl.getDocument(), surface.getSelection());`

We should pass a path as the second parameter (needed in form editors to selectAll of a text property)

Also we should try to have this abstracted in a reusable command and not tied to the editor interface.

[2015-09-25 08:10] michael opened #87 "Test commands"
I did some investigation looking at the current commands evaluating on what API's they depend on.

ToggleAnnotation and SwitchTextType commands:
- current selection: **required**
- surface
  - start a transaction: _could be switched to document.transaction if we pass the selection_
  - `selecAll` command uses
- editor
  - used by switch text type to call editor.switchType: _could be changed to use

[2015-09-25 08:38] michael opened #88 "improve docHelpers.getAnnotationsForSelection"
Currently takes containerId explicitly. We could get rid of that since the containerId is available on the selection, if a `ContainerSelection`.

[2015-09-25 08:41] michael commented on #88
If that is done we can also remove the containerId param from annotation transformations.

[2015-09-25 08:54] michael commented on #84
Fixed via: https://github.com/substance/substance/commit/1cee5699357dc48b5ac58f21820a7f95307851f7

[2015-09-25 08:54] #84 closed, assigned to michael

[2015-09-25 12:14] michael opened #89 "Investigate service for embedding resources like images/youtube videos etc."
Then i will implement a resource node type.

[2015-09-30 07:29] michael opened #92 "In FF Surface is not refocused after toggling an annotation tool"
This works as expected in Chrome, except that the selection gets wiped: See #82.

Interestingly FF does not loose the DOM Selection here.. (it just doesn't give back the focus to the surface)

[2015-09-30 07:40] michael commented on #54
Done.

[2015-09-30 07:40] #54 closed, assigned to nobody

[2015-09-30 07:41] michael commented on #21
This is done.

[2015-09-30 07:41] #21 closed, assigned to obuchtala

[2015-09-30 07:59] michael opened #93 "FF: Inserting a link breaks cusor navigation"
Can't rule out this is caused by the EditLinkPrompt, however when you toggle a new link type in an url + enter, the cursor navigation breaks. So you can not move the cursor down anymore. Needs investigation.

[2015-09-30 17:00] michael commented on #88
Actually that's not a good idea, since the selection could be a property selection while the matching annotations could be container annotations. We leave things as they are.

[2015-09-30 17:00] #88 closed, assigned to michael

[2015-09-30 19:24] michael opened #95 "Access indexes always via getIndex not via convenience property"
The reason for that is that your function could operate on a transaction document instead of the real one. However for transaction docs the convenience properties are not available. I'm fixing this for the annotation transformations.

`tx.annotationIndex` does ont work while `tx.getIndex('annotations')` does.

@oliver---- thoughts? How can we keep doc and tx interface compatible.. I think users co

[2015-09-30 19:25] obuchtala commented on #95
Hmmm.. I always have been against **not** using API.
Am 30.09.2015 21:24 schrieb "Michael Aufreiter" notifications@github.com:

[2015-09-30 19:27] michael commented on #95
Don't understand. How mean?

[2015-09-30 19:27] obuchtala commented on #95
I meant, that using the convenience vars was never what I wanted.

[2015-09-30 19:29] michael commented on #95
OK. I will take care of that.

[2015-10-01 09:04] michael commented on #87
Done via #94. Covers tests for toggling annotations. Add more tests in future.

[2015-10-01 09:04] #87 closed, assigned to michael

[2015-10-01 09:05] michael commented on #72
Fixed via #96

[2015-10-01 09:05] #72 closed, assigned to michael

[2015-10-01 09:05] michael commented on #63
This is done.

[2015-10-01 09:05] #63 closed, assigned to michael

[2015-10-01 09:09] michael commented on #95
I deleted those shortcuts, so we are not tempted anymore.

[2015-10-01 09:09] #95 closed, assigned to nobody

[2015-10-01 13:30] michael opened #97 "Move styles for disabled selections into a central place"
Currently not used by the prose editor and notepad editor examples.

[2015-10-01 16:20] michael opened #99 "Unite Surface + Editor interfaces?"
I documented the controller initialisation: https://github.com/substance/substance/blob/improve-docs/docs/controller.md

However, I have a feeling we should try to slim down the interface a bit. Currently we have to instantiate:
- A Controller (formally surface manager)
- An Editor (ContainerEditor, FormEditor)
- A Surface that takes a controller and an editor via construction.

Maybe we could let

[2015-10-01 16:35] michael opened #100 "Deal with edge case where there is no focused Surface"
In controller there's the API `ctrl.getSurface()` which returns the currently active surface. However, we don't have an invariant that says that there is always one surface that has the focus. For instance, after the initial load of the editor no surface is selected. So getSurface would return null. This could be a source of errors for users. It would be nice to be able to rely on a value for getS

[2015-10-01 16:37] michael commented on #100
We could require the controller to take a surface instance already in the constructor, that being the defaultSurface. So controller always manages 1..n surfaces. but not 0. Like that we would introduce the concept "primary surface".

[2015-10-03 09:25] obuchtala commented on #99
I think after all the refactorings (trafos etc.) the editors are indeed not doing very much anymore,
and it would be ok to merge them into Surface.

[2015-10-03 09:30] obuchtala commented on #100
I agree, that there should be an initial surface for sake of consistency.
I don't see that a 'primary surface' concept would add much beyond solving the initial problem, as after that the current surface is determined by user interaction.

[2015-10-03 11:10] obuchtala opened #102 "How do we want Undo/Redo behave?"
As discussed in #91 undo/redo may be triggered on Surface level, but actually needs to be interpreted on app level, in the presence of multiple panels (not necessary in single surface scenarios).

I.e., to be able to give visual feedback for an undone change, it might be necessary to open a specific panel.

Having this behavior requires that every document change is able to carry application speci

[2015-10-06 03:58] obuchtala opened #104 "Add i18n to Component API?"
ATM we rely on a global instance of polyglot, which is not nice: 1. it is a global, 2. making polyglot a hard dependency.

Instead I would like to introduce an i18n abstraction API which would be configured and injected on app level and used in components via `this.getLabel()` being a convenience method for `this.context.i18n.getLabel()` plus some fail-safe checking.
This should be convenient enou

[2015-10-06 03:58] obuchtala commented on #104
@michael thoughts?

[2015-10-06 04:17] obuchtala opened #105 "Transaction should be started on Controller"
ATM we have ugly transaction hooks which allow an application to augment transactions with app level data (e.g., to be able to open a panel on undo).
It seems that we have three levels where data is added to a transaction:
1. Document transaction, adding operations,
2. Surface transaction, adding selection and surface id to `tx.before` and `tx.after`,
3. Application/Controller, adding app state in

[2015-10-06 05:22] obuchtala commented on #93
via PR #107

[2015-10-06 05:25] obuchtala commented on #92
Fixed via d7ada2dd558fabeee363309ac63e71f975ec3f2e part of #108

[2015-10-06 05:27] obuchtala commented on #82
Fixed.

[2015-10-06 05:27] #82 closed, assigned to nobody

[2015-10-06 05:44] obuchtala opened #109 "Style of rendered Cursor/Selection should be improved"
In general, there is now lots of visual changes because native blurs happen a lot (try using undo button).
This would be less visible if the rendered cursor would be visually more similar to the native selection.

In FF, the cursor style does not work at all.

[2015-10-06 06:03] #92 closed, assigned to obuchtala

[2015-10-06 06:40] #93 closed, assigned to nobody

[2015-10-06 08:54] michael commented on #104
this.getLabel() :+1: but maybe in a writer-specific basecomponent class than in component.js directly.

[2015-10-06 09:03] michael opened #111 "Introduce toolManager that calls update on tools"
Let's register tools at a toolManager instead of asking for the current surface and selection. We can then implement tool updates smarter and also have them update on certain doc changes. See #85.

[2015-10-06 09:03] michael commented on #85
Closing in favor of #111.

[2015-10-06 09:03] #85 closed, assigned to obuchtala

[2015-10-06 09:17] michael commented on #102
I would suggest to trigger this on the controller level:

[code]

Then we can define hooks for undo in the app-specific controller implementation. We considered passing a context when constructing a controlller, that we can then call ctx.setState() on for switching panels etc.

[2015-10-06 09:27] michael opened #112 "Problem with changing the selection in a (natively) blurred Surface"
Reproduce (in Lens Writer):
- click somewhere inside the toolbar to blur the surface (selection gets rendered as a fragment)
- click into the text again

Expected:
- Cursor should move to the new position

Actual:
- Cursor jumps to the previously position

[2015-10-06 10:45] Integral commented on #104
Oh yes! That would be great, even outside of writer...

On Tue, Oct 6, 2015, 10:54 Michael Aufreiter notifications@github.com
wrote:

[2015-10-07 04:55] obuchtala commented on #104
Done.

[2015-10-07 04:55] #104 closed, assigned to nobody

[2015-10-07 05:56] obuchtala commented on #105
I was thinking this over, and find that the folllowing feels strange:
Transactions are mostly started from within a command, where there is a surface as we want to scope commands to surfaces. If now controller prefills the tx with surface state information, a command could start a transaction being configured for a different surface, i.e., when the command's surface is not the focused one.
@michae

[2015-10-07 06:11] obuchtala commented on #102
Or adding `Controller.create(proto)` to create a derived Controller conveniently.
Edit: but that's actually only matter of taste.

[2015-10-07 10:15] michael opened #118 "Fragmenter should treat cursor annotations as atomic"
In FF I produced a case that produces the following markup:

![image](https://cloud.githubusercontent.com/assets/2931/10334749/8886fb3c-6cec-11e5-96d5-2bda55abdb35.png)

Reproduce:
- Double click right of a paragraph
- click somewhere outside (e.g. empty space of toolbar)

![cursor-rendering-bug](https://cloud.githubusercontent.com/assets/2931/10334819/0b8c9668-6ced-11e5-9fcb-f15eb03ad78f.gif)

[2015-10-07 10:18] michael opened #119 "Selection flaw: Double click on paragraph should make a property selection of the double clicked paragraph"
We get a container selection currently. So when you start typing the text goes into the next paragraph, deleting the selected one.

Not high priority, but we should take care of this sooner or later.

[2015-10-07 10:25] michael opened #120 "Selection flaw: Double clicking next to a paragraph creates a weird container selection"
In chrome:

![selection-bug](https://cloud.githubusercontent.com/assets/2931/10334985/5ecd24d6-6cee-11e5-9e7e-2809c03d3de4.gif)

[2015-10-07 10:30] michael opened #121 "When Selection spans over a non-editable field it gets screwed up on resize"
![selection-bug](https://cloud.githubusercontent.com/assets/2931/10335111/1251a34c-6cef-11e5-9034-39d6e771be86.gif)
_Note: This seems to be a Chrome bug actually_

[2015-10-07 10:34] michael commented on #121
This works fine on Chrome Canary, except that when you have selected the citation anno and press the left key, the cursor disappears.

[2015-10-07 11:25] #112 closed, assigned to obuchtala

[2015-10-07 13:05] Integral opened #122 "JSdoc things"
Hey,

I will leave here some typos which is very important for jsdoc.
First of all, please replace {number[2]} with {number} here: https://github.com/substance/substance/blob/master/document/nodes/table_matrix.js#L257

[2015-10-07 18:07] michael opened #123 "Remove DocumentNode attach/detach API"
Analog to Component we should get rid of some of the lifecycle methods namely `attach` and `detach`. We favor the way via construction instead of attaching a node at a later time. So the new DocumentNode constructor would take `document`, `props` as constructor arguments.

Analog to the Component we introduce a `dispose` method that is called when a node is deleted from the document.

[2015-10-07 18:19] michael opened #124 "Good bye JSON as a first-class format?"
We should move away from JSON as a first-class format. There is a problem with order, when dependencies between nodes exist. For instance, a table cell can not exist before it's parent (table row). So we should be able to express order in our serialisation format. However this order needs to be determined by the specific use-case. Then we can remove all magic related to it:
- loadSeed (lazy attach

[2015-10-07 18:24] michael commented on #111
With a toolmanager we can remove all state from the tool, and just realize the thing with props.

[2015-10-08 14:33] obuchtala opened #126 "Throw Exceptions when life-cycle contracts are violated."
First we need to specify life-cycle assertions, such as:
`It is not allowed to call a Component's setState before the state is initialized.`

E.g. a violation would be to call setState from within component.getInitialState()

[2015-10-08 17:16] michael opened #127 "Use a simplified surface transaction API"
Before:

[code]

After:

[code]

We also should improve how transformations should be parametrized (parameter list instead of object) and return values.

[2015-10-09 18:11] michael opened #130 "Annotation toggling glitch on full-overlap left expand"
Reproduce with Lens Writer:
- use `surface-as-component` branch on lens-writer
- make strong a word in a paragraph that has at least one citation
- mark word so it touches the right bound but extends the right bound
- toggle strong again

Before toggling strong expand:

![image](https://cloud.githubusercontent.com/assets/2931/10401803/a95c93c2-6ec1-11e5-87e7-94b2d11fa0b3.png)

After:

![image](htt

[2015-10-10 14:44] obuchtala opened #132 "Doc guidelines"
We are using JSDocs. Find documentation here http://usejsdoc.org/.
Docs are rendered using `npm run doc`
Finally we should add a Docs Guideline to a 'How to contribute' tutorial.

There are some things to be considered so that jsdoc creates the desired output:
- in every 'sub-module' (e.g. 'basics') we put a `@module` declaration into the index.js file: https://github.com/substance/substance/commi

[2015-10-11 06:38] obuchtala commented on #122
This has been fixed. However, there is a lot to do regarding docs.
Please follow #132 to get Substance.Document and Substance.UI into the documentation.

[2015-10-11 06:38] #122 closed, assigned to nobody

[2015-10-11 06:38] obuchtala commented on #132
@michael could you do an iteration on Substance.UI documentation?

Edit: use `npm run doc` locally during dev. The docs will be published after merging into master.

[2015-10-12 10:19] michael commented on #132
Will do. Nice work on the docs!

[2015-10-12 15:23] michael commented on #132
Digging into the docs more. I'm thinking that maybe it would be better to stop aliasing modules in some places. E.g. when looking at the basics module we exposed properties like:

[code]

Not sure how useful that is, because when you look at the docs you just see a teaser for `OO` but no link that is taking you to the actual documentation (except choosing Basics/OO on the navigation pane).

![imag

[2015-10-12 15:35] Integral commented on #132
Agree!

On 12 October 2015 at 17:23, Michael Aufreiter notifications@github.com
wrote:

[2015-10-12 16:05] michael opened #135 "Getting rid of nested modules (e.g. Basics/Helpers)"
I figure that we have very few static modules (oo+helpers), most things we are documenting are classes actually. I had the following ideas:
## Option 1

To avoid nesting we could maybe push some of our sub modules into one static function collection that we call basics. This would include helpers, and OO functions.

[code]

Then the docs could exist on top level of the basics module.

Pro: Less en

[2015-10-12 18:15] Integral commented on #135
I was also confused with this. Let's keep it logically together...

On Mon, Oct 12, 2015, 18:05 Michael Aufreiter notifications@github.com
wrote:

[2015-10-13 13:26] michael commented on #111
Done.

[2015-10-13 13:26] #111 closed, assigned to michael

[2015-10-13 13:45] michael commented on #68
Done.

[2015-10-13 13:45] #68 closed, assigned to michael

[2015-10-13 13:48] michael commented on #100
We took care of this.

[2015-10-13 13:48] #100 closed, assigned to nobody

[2015-10-13 19:09] michael commented on #132
I did a first iteration on the UI modules today. See PR #136. I was playing around with JSDoc features and tried to follow some idioms that JSDoc describes. However, those things need to be discussed, as some things may make sense, others are just too strict to be useful. Here's a couple of things that I need your opinion on.

### Module vs. Class

JSDoc differs strictly between modules and classe

[2015-10-14 09:13] michael commented on #130
![expand-bug](https://cloud.githubusercontent.com/assets/2931/10479060/f7e34e66-7261-11e5-8350-c39eaa7e62bc.gif)

[2015-10-14 10:17] michael opened #137 "Code restructuring before beta 2 launch"
There is some potential and we should do this in a dedicated iteration, so we break require paths only once:
- better/clearer organisation of basics module
- use - instead of _ for filenames, so they map better to require statements: `require('basics/event-emitter')`
- how to organise ui module (nodes, tools, commands, should there be sub folders for surface-commands, controller-commands etc.
- ho

[2015-10-14 12:05] michael opened #138 "PathAdapter.get returns root when it should return undefined"
I ran into a bug, that got visible just now after the numerical-addressing iteration. I fixed that bug, however I got aware of some strange semantics of PathAdapter.get that I'm sure they are right.

E.g. if I do this with a Document.get (which uses a pathAdapter) I get an unexpected result.

[code]

![image](https://cloud.githubusercontent.com/assets/2931/10482846/e22d48dc-727b-11e5-95a2-7b5515a8

[2015-10-14 12:43] michael opened #139 "Find a better way to setup container nodes in custom Article classes"
So far we usually create container nodes in the constructor, so they are ready for receiving nodes. However when we want to import from markup, and wipe all nodes with doc.clear() we need to recreate them. Let's think how we can do that better.

https://github.com/substance/substance/blob/ui-polish/article.js#L109

I have a feeling that we should not do this magic on construction. And importers sh

[2015-10-14 12:43] michael commented on #71
Working, still docs need a lot of work.

[2015-10-14 12:43] #71 closed, assigned to nobody

[2015-10-14 17:23] michael opened #140 "Overhaul TextTypeTool/Command"
I've moved logic from the TextTool into the SwitchTextType command. However, this now acts as a pseudo command, that is actually never executed since it only delegates to makeHeading1 makeParagraph etc.

I think we need a better approach here. Let's think about introducing params for command executions and define supported text types per surface, so that the toolbar can dynamically switch, but wit

[2015-10-14 21:13] obuchtala commented on #132
Thanks for your discussion. I need to do an iteration having your considerations in mind.

[2015-10-15 16:21] michael opened #141 "Component: Remove a class after it has been set by render"
From the LensWriter toolbar:

[code]

InsertFigureTool sets the tool class by default, but I'd like to remove it when wrapped in a dropdown. Could also solve this via style overrides but I probably having better control here would be good. Looks like we would need to tweak some execution order in component.js to make this work, so that the virtual dom is computed first through render and then incr

[2015-10-15 16:35] michael commented on #140
contenteditable API supports params for text types.

[code]

Maybe we should follow this pattern.

[2015-10-15 16:36] michael commented on #140
Just for sake of completeness, to avoid an extra param for the heading level we could work around that with different node types, each for each heading depth. so we would have 'heading1' ... 'heading3'. Not sure i like that though.

[2015-10-15 16:42] michael opened #142 "Schema defintions"
Just to keep track of it. That's how a schema spec looks like in ProseMirror.

https://github.com/ProseMirror/prosemirror/blob/master/src/model/defaultschema.js

[2015-10-15 16:43] michael commented on #99
Done.

[2015-10-15 16:43] #99 closed, assigned to nobody

[2015-10-15 17:27] michael opened #143 "Link prompt doesn't open anymore"
Some regression...

[2015-10-15 18:32] michael opened #145 "Verify commands+tools assumptions"
We moved all tool logic into commands. Tools are only there for rendering. They are registered on mount to a ToolManager which updates them.

Opened this issue to verify if the following assumptions:
- Each tool belongs to a command
- Each tool get its state via command.getCommandState() (note that Tool.getInitialState() tries to fetch the initial state also via getCommandState!)

Known violations

[2015-10-16 10:39] michael opened #146 "Smaller bundles using lodash directly"
Just realizing that we could actually ditch basics/helpers and just use individual lodash functions where needed.

From the lodash docs:

[code]

[2015-10-16 13:23] michael opened #147 "Implement WebResource node type"
I'm planning to implement a simple WebResource node type, that just refers to an url to a content piece somewhere stored on the web. We could literally support anything but I think we should start wit a useful set of supported embeds.

How about the following types:
- Image (allow just a regular image url)
- _Tweet_ (possible using oEmbed API see: https://api.twitter.com/1/statuses/oembed.json?

[2015-10-16 13:50] michael commented on #147
Consider: http://iframe.ly

[2015-10-16 14:00] Integral commented on #147
And this: https://github.com/itteco/iframely

[2015-10-17 15:44] michael opened #148 "Introducing packages module?"
Working towards extensibility, we could group things that belong together into packages.

/packages
- strong.js // node
- strong_tool.js
- strong_command.js

It's more a first step, but could go into a good direction, cleaning up the document and ui modules of integration-specific stuff.

[2015-10-17 16:53] michael opened #149 "Inserting nodes with no components breaks"
Reproduce:

[code]

Image does not have any editable areas (=components) but this is assumed in Container._handleInsert.

It fails here because `_getNodeComponents` returns an empty array and causes `_insertComponentsAt` to crash.

![image](https://cloud.githubusercontent.com/assets/2931/10560079/266bbc3c-7500-11e5-9e7b-e0858f5c1cf4.png)

[2015-10-17 17:30] michael commented on #149
I think we should not require a DocumentNode to have components. Seeing this assumption in various places. E.g. node.js.

[code]

Let's support non-editable nodes which have no `Node.static.components` value set.

[2015-10-17 19:57] michael opened #150 "When prompt (e.g. Link) is open and focused pasted content goes into the main doc"
It should go into the input box. Can we somehow tell the clipboard to not handle the events when there is no focused surface?

[2015-10-18 16:02] michael opened #152 "Make image a predefined node"
Currently defined in lens-writer article format.

[2015-10-18 18:05] michael opened #153 "Error in FormEditor when selection spans over multiple 'form fields'"
Can be observed in new Cover Editor for Lens Writer (#edge branch).

[2015-10-19 11:24] michael opened #154 "codecov.io looks nice for test coverage reports"
The folks that maintain my github.js repo started using it:

https://codecov.io/github/michael/github/github.js?ref=6d84e30409c6a8b4e09a262eb947ef8c43b4cf5c

[2015-10-19 18:10] #143 closed, assigned to michael

[2015-10-19 19:27] michael opened #155 "Better css modularization"
Learning...

This solution looks good:

http://hugogiraudel.com/2015/06/18/styling-react-components-in-sass/

We should follow this
http://sass-guidelin.es/#the-7-1-pattern

Also has some wisdom....
http://bensmithett.com/smarter-css-builds-with-webpack/

[2015-10-20 22:29] michael commented on #155
I'm in the middle of a transition to modular css. However it will not be done in a single iteration...  Here's some more good read for reference: http://www.smashingmagazine.com/2014/07/bem-methodology-for-small-projects/

[2015-10-20 22:33] Integral commented on #155
russians everywhere

On 21 October 2015 at 00:29, Michael Aufreiter notifications@github.com
wrote:

[2015-10-21 11:56] michael opened #156 "Try using outline: css property for cursor"
Maybe then we can use it as an inline element, without jumping.

[2015-10-21 13:11] michael commented on #149
Node.statc.components -> Node.statc.fields   (editableFields)

[2015-10-21 13:18] michael commented on #149
Maybe we can get rid of explicit component listing by deriving that info again from the view component. Since we no longer depend on React, we can analyze our component's VirtualDOM.

[2015-10-21 16:18] #150 closed, assigned to obuchtala

[2015-10-21 16:29] michael commented on #156
Yes!

[2015-10-21 16:29] #156 closed, assigned to nobody

[2015-10-21 16:31] michael opened #157 "Handle triple clicks."
When we use contenteditable=false islands, tripple clicking on a paragraph only selects to the bounds of that island, which is not desired. Instead we should implement our own behavior when a triple click happens. See Visual Editor.

Additionally we want to avoid that triple clicking leads to a container annotation. So if we had this handler we can also do that here.

[2015-10-21 16:44] michael opened #158 "Reuse unfinished controller docs?"
https://github.com/substance/substance/commit/1e9f90ee461fc6ef6bc2cd477fd41c5fa59c97e9

We could maybe incorporate this old attempt into the Controller class jsDoc documentation.

[2015-10-21 19:34] michael opened #159 "New directory layout"
/util
  oo.js
  Factory.js
  EventEmitter.js
  PathAdapter.js
  Timer.js
  uuid.js
  Error.js
  Logger.js

/model  (or model)
  data
    Store.js
    ArrayOperation.js
  /transforms
    createAnnotation.js
    ...
  Document.js
  documentHelpers.js

/ui
  Controller.js
  Surface.js
  ContentEditor.js
  ...

/packages
  paragraph
    _paragraph.scss
    ParagraphNode.js
    ParagraphComponent.js

[2015-10-21 20:06] michael opened #160 "Move type naming scheme from _ to -"
`bib_item_citation` becomes `bib-item-citation`

[2015-10-21 20:22] michael opened #161 "Ability to call extend without proto"
var MyClass = ParentClass.extend();

[2015-10-22 06:36] michael opened #162 "Move type naming scheme from _ to -"
`bib_item_citation` becomes `bib-item-citation`

[2015-10-22 06:57] michael opened #163 "Final decision on CSS names"
We prefix everything, and use the following scheme:

`sb-` for Substance Base components
`sc-` for Substance Components
`se-` for Elements inside a component
`sm-` for element modifiers

I think that way we will very unlikely have collisions while still maintaining readable and short css class names. And most importantly, no generator magic as BEM would require it.

For external projects we can us

[2015-10-23 15:05] michael opened #167 "Consistent node type categorization"
We have the following node type categories, which are sometimes defined via inheritance chain, sometimes via a static property definition. Let's see if we can unify this to be able to better reason about in which category a given node is. However let's find use-cases so we don't engineer blindly what could be useful..

So far we are aware of the following categories:

**Text**

Any text-ish node,

[2015-10-23 17:33] michael opened #169 "Consider making Figure node type more generic"
Maybe we can just keep the figure content dynamic, so it can wrap (exhibit) any block element (image, embed, blockquote).

Problems: How to have individual counter for tables, image figures etc?

[2015-10-24 15:26] michael opened #170 "Outlets for components"
I'm thinking of a better concept for outlets. Our current ContentPanel implementation knows what to render as content by looking up a registered "content-container" component. Whatever is registered there will be displayed. However, this is a bit unusual in app building terms. It's fine if we use the component registry for node components but for the content panel it struggles me a bit.. also I wa

[2015-10-25 14:05] michael opened #171 "Modular ToolBar implementation plan"
Desired usage to define a customized toolbar:

[code]

The regular anno tools are 'weak components' (or element components) meaning that they can't exist on their own and that they are styled by their wrapping component. e.g. ToolGroup. This makes it possible to use the same component in different contexts. e.g. the strong tool wrapped in a tool dropdown

[code]

All toolbar-related styles will li

[2015-10-25 23:54] michael opened #173 "Component should be wiped when its class changes."
Failing test follows...

[2015-10-27 11:37] michael opened #174 "Implement generic citation concept in core and write tests"
We want to make citations a core concept, so that you can cite any object in the document. We need to decide wether users must define a concrete Subtype: BibItemCitation < Citation or if we just use a generic citation property and introduce a citationType property. We need to implement special indexes for that then.

[2015-10-27 11:40] michael commented on #174
We may want to support citations with multiple targets or single targets. It may get a bit crazy if we want to allow deep citations in combination with multiple targets but let's see how things develop there.

[2015-10-27 12:40] michael opened #175 "Occasional "Could not find char position" errors in Lens Writer"
Could not reproduce yet. Needs some investigation.

[2015-10-27 20:09] michael commented on #146
We'll do it like that from now on.

[2015-10-27 20:09] #146 closed, assigned to nobody

[2015-10-28 17:15] michael opened #176 "Pasting HTML for external sources breaks"

[2015-10-28 17:22] michael commented on #176
Wait not really true. It actually happens when I paste from a Substance document (that is open in a different editor window).

However I also get an error when I want to paste some complex content from outside. E.g. selected a bunch of elements in this Github issue and then saw this:

`node` is expected to be a rich object that has an hasChildren method. But it seems to be a plain object.

<img wi

[2015-10-28 17:55] #162 closed, assigned to nobody

[2015-10-28 17:55] #160 closed, assigned to nobody

[2015-10-28 18:22] michael commented on #147
Thanks @Integral. This is now implemented. And we use iframe.ly but can configure a different embed Resolver.

[2015-10-28 18:22] #147 closed, assigned to michael

[2015-10-28 18:25] Integral commented on #147
Is it good that we have this kind of service dependency?

[2015-10-28 18:26] michael commented on #147
We don't have it as a dependency. It's a configuration option.

See: https://github.com/substance/lens/blob/master/LensController.js#L59-L67

[2015-10-31 07:55] michael commented on #148
Done.

[2015-10-31 07:55] #148 closed, assigned to nobody

[2015-11-02 16:28] michael opened #178 "Introduce code annotations along with subscript, superscript"

[2015-11-02 18:10] michael opened #179 "Component: Incremental update API should support .append('string')"
[code]

[2015-11-03 14:19] michael commented on #171
Fixed via #177

[2015-11-03 14:19] #171 closed, assigned to michael

[2015-11-03 19:43] michael opened #180 "Bring back notepad example using Beta 2 API"

[2015-11-03 19:45] michael commented on #159
It's done.

[2015-11-03 19:45] #159 closed, assigned to nobody

[2015-11-03 19:58] michael opened #181 "Overhaul FormEditor"
We are missing consistent concepts in the form editor implementation. We should do an iteration to rethink their purpose and functionality. Current issues:
- selections can span over multiple form fields
- no possibility to specify commands individually per form field (e.g. title should not have links but abstract should)

Solution for now: New TextPropertyEditor, each owning a Surface. That way o

[2015-11-03 20:08] michael opened #182 "Introduce TextPropertyEditor"
We want an ability to create the simplest possible editor, a TextPropertyEditor. Usage:

[code]

Needs tests and documentation coverage.

[2015-11-03 20:16] michael opened #183 "Is ContainerNode.js obsolete?"

[2015-11-03 20:25] michael opened #184 "Introduce NodeSelection"
We want to be able to select block elements (e.g. complex structures like a figure) provide a custom selection highlighting for those nodes and also cut+paste them.

[2015-11-03 20:45] michael opened #185 "Road to Beta 2 API docs"
Goal: Get nice docs for Beta 2 that make it easy to get started with Substance and its concepts.

Approach:
- Only include high-level (and fully documented) classes into the JSDoc documentation
- Add examples where possible so our API docs get some tutorial style

The following things we want to have covered for Beta 2

Highest priority:
- [x] Transfer README.md contents into .jsdoc/index.md [M]

[2015-11-03 22:25] michael opened #186 "Allow TextPropertyComponent outside of Surface context"
This would be useful when you just want to just render an annotated property. We don't need to deal with cursors or highlight fragments here, which can all be found in the model.

However, currently TextPropertyComponent relies on a surface and its textProperty manager which provides a getFragments() API.

Should we consider making this a bit lighter?

[2015-11-05 12:33] michael opened #189 "Make feature comparison table with other solutions"
So people can see what Substance can do that other editors (ProseMirror, Trix, ContentTool) can not.

[2015-11-05 16:06] michael opened #190 "New Converter API"
We want to kick the converter APIs out of the document model definition. Goal:
- Substance node implementation nodes don't need to know nothing about conversion
- Easy to configure converters
- Ready for use with extension mechanism

[code]

[code]

Usage:

[code]

[2015-11-05 16:14] michael opened #191 "Get rid of high z-indexes as used in scrollbar and toolbar styles"
[code]

[2015-11-08 11:31] michael opened #193 "Doc: Display return value type for methods / functions"
Controller.prototype.getToolManager() -> ui/ToolManager

[2015-11-08 11:33] michael opened #194 "Doc: Display link to source code"
Maybe we just do a link to Github for now. However it would be nice at some point to view the source in the context panel. That would be a really nice reference experience.

[2015-11-08 11:48] michael opened #195 "Doc: Static method are not recognised"
[code]

This renders as `Controller.prototype.concatStrings`

[2015-11-08 11:49] michael opened #196 "Doc: Definition of class properties not working atm"
[code]

`node.namespace` is undefined.

[2015-11-08 11:51] Integral commented on #194
Docco did it in a nice way somehow, like
http://backbonejs.org/docs/backbone.html

On 8 November 2015 at 12:33, Michael Aufreiter notifications@github.com
wrote:

[2015-11-08 11:56] obuchtala opened #197 "Panel.scrollTo doesn't work in presence of relative positioned children."
At least i think that is the reason, why clicking on DocumentationTOC items, the content panel gets scrolled to a wrong position.

[2015-11-08 12:01] michael commented on #197
Will fix this
On So., 8. Nov. 2015 at 12:56, Oliver Buchtala notifications@github.com
wrote:

[2015-11-08 13:26] michael opened #198 "Doc: Bring in support for Events"

[2015-11-08 14:16] obuchtala commented on #195
They are. Just the renderer was wrong.

[2015-11-08 16:14] obuchtala commented on #196
Fixed.

[2015-11-08 16:14] #196 closed, assigned to nobody

[2015-11-08 16:34] #89 closed, assigned to Integral

[2015-11-08 16:35] #97 closed, assigned to michael

[2015-11-08 16:39] michael commented on #18
Done.

[2015-11-08 16:39] #18 closed, assigned to michael

[2015-11-08 16:49] #197 closed, assigned to nobody

[2015-11-08 18:38] michael commented on #195
Fixed.

[2015-11-08 18:38] #195 closed, assigned to nobody

[2015-11-08 18:57] michael opened #199 "Consider index.md files for documentation"
We want to have introductions for each module as well as for the whole document.

I moved several files in place that should be included:

index.md -> should go into the ['meta', 'description']
model/index.md -> should go into the ['model', 'description']
...

[2015-11-08 19:03] michael commented on #199
Oh that's already working except for the root index.md. Can you create the meta node in the generator and store the contents in meta.description?

[2015-11-08 20:02] michael opened #200 "Deep linking for docs"
We need to enable deep linking to classes or methods so we can share links to the docs.

[2015-11-09 04:05] obuchtala commented on #194
Linked to github.

[2015-11-09 04:05] #194 closed, assigned to nobody

[2015-11-09 04:09] obuchtala commented on #199
Done.

[2015-11-09 04:09] #199 closed, assigned to nobody

[2015-11-09 04:26] obuchtala commented on #193
Done.

[2015-11-09 04:26] #193 closed, assigned to nobody

[2015-11-09 09:08] michael opened #201 "Return statement gets parsed together with subsequent comments"
Input:

![image](https://cloud.githubusercontent.com/assets/2931/11029789/a0e1eb3c-86c9-11e5-9c68-8203d4f593ae.png)

Result:

![image](https://cloud.githubusercontent.com/assets/2931/11029359/ba52f712-86c6-11e5-877a-675d56319794.png)

Would the correct syntax be?

@return {Array} an array of container annotations

[2015-11-09 09:14] michael opened #202 "Move examples into main repo"

[2015-11-09 10:19] michael commented on #201
When I fix the return statement it gets parsed correctly. The ATTENTION block gets hidden which is also quite fine. Will all text that is below the @ statements be ignored?

[2015-11-09 10:24] michael opened #203 "Would it be hard to support // comments instead of /** */"
[code]

Just curious if we had that possibility. Not sure how much it is useful, since you may get multiple comment blocks if you forget to put the // into empty lines. However it would look better on the eye. :)

[2015-11-09 10:25] michael commented on #202
Just thinking.. maybe that's not a good idea.. since we would need relative require statements, while in the examples we want to show how the external usage is. I will continue to fix the examples in the demos repo for now.

[2015-11-09 10:34] obuchtala commented on #201
Regarding syntax: http://usejsdoc.org/tags-returns.html

Regarding parsing: We should not have comments below tags. Tags can have longer content, so it it important to eat more than just a line. Beyond that I don't want to mess with it, as this is implemented in dox.

So: we need to fix our docs.

[2015-11-09 10:34] #201 closed, assigned to nobody

[2015-11-09 10:35] obuchtala commented on #203
Yes.

[2015-11-09 10:35] #203 closed, assigned to michael

[2015-11-09 10:36] obuchtala commented on #203
This is again dox land. As long as we don't want to replace it, we won't do it.

[2015-11-09 10:38] obuchtala commented on #202
True.

[2015-11-09 10:38] michael commented on #201
Make sense. We may want to have comments internally that we don't want to expose.. E.g. TODO:   HACK: etc. How should we approach that?

[2015-11-09 10:39] obuchtala commented on #201
Either, not putting it into the parsed block.

Or using a custom tag @todo?

[2015-11-09 10:41] michael commented on #201
Not sure about @hack though ;) Opening a second block with /\* */ would work i think...

[2015-11-09 10:43] michael opened #204 "Doc: Inherits"
Can we bring that in again, and put it underneath the Class Heading?

![image](https://cloud.githubusercontent.com/assets/2931/11031745/f08ca764-86d6-11e5-909d-c11163131199.png)

Maybe we want inherits from first and then the defined in.. not sure. Just wanted to save some space so i put things into one line.

[2015-11-09 10:44] obuchtala commented on #201
Second block is not a good idea, as then you loose the context of the first. i.e. the code statement attached to a comment block is the first one after a block.
Depends on what you want to achieve... a custom tag would mean you wanted to show it in the docs potentially.
If you want to just have it in the code, I would rather add a `//` comment to the implementation body.

[2015-11-09 10:46] michael commented on #201
No i think we really want to keep that stuff internally and in the code and don't confuse the API user with it. So // in the implementation body it is I would say.. thanks for clearing this up.

[2015-11-09 10:52] obuchtala commented on #202
Considering this I am also against it.

[2015-11-09 10:55] michael commented on #204
I'd also say that we don't show inherited props/methods for now.. that would produce too much redundancy. I have some ideas on how we can make the cross-reference experience better.

[2015-11-09 11:00] obuchtala commented on #204
Yes, this should be simple then.
Not showing the inherited members is fine with me for now, only I need to disable hiding abstract classes. On the long run we should add a means to show inherited properties...

Regarding cross-references, could u open an issue, and give a short statement of your idea?

[2015-11-09 11:03] obuchtala commented on #200
Do you mean URL derived app states?
This would indeed be helpful, as we could use the browser history, and as a side result get navigation to previous app states, too.

[2015-11-09 11:04] michael commented on #200
Exactly.

[2015-11-09 11:07] michael opened #205 "Idea: Smart anchoring"
This could be useful for navigating the Substance documentation.

The problem:
- When you click on a cross reference, you loose your reading place

Idea:
- We remember the last 5 anchors and display a highlight in the scrollbar to answer the question: 'Where was I before?'

Limitations: This only works well when positions are explicitly anchored... Remembering anchors based on scroll positions cou

[2015-11-09 11:13] obuchtala commented on #205
Maybe I didn't get this right.
ATM, I don't use native anchors for cross-links, but do the same as in the TOC, i.e., triggering a scrollTo from within the app.
With #200 we would have the regular browser history. Do we need more?

[2015-11-09 11:19] michael commented on #205
We would just need to conform to the native anchoring concept, and we need to provide small '#' links next to class headings and method signatures where an anchor can be set explicitly.

Not sure if we should use html-ids since we need to convert our ids. E.g. docs#model/Document goes into data-id and for scrolling we can use the Panel.scrollToNode method.

Anyway.. I think the browser history thi

[2015-11-09 11:19] michael commented on #205
We should discuss this in the office.

[2015-11-09 11:19] obuchtala opened #206 "Better ui concept for functions"
Looking at the transforms, the ui concept is not appropriate, i.e., having redundancy.
@mql Could you consider this in your mockup and maybe also put the mockup somewhere for reference?

[2015-11-09 11:30] michael commented on #206
Hm.. indeed a bit tricky. I see two options
- combining function heading with the signature    *\* model / transform / breakNode (tx, args) **
- dropping the function heading only leaving the signature (then people would need to derive the require location from the  source string "defined in model/transform/breakNode.js#16"

[2015-11-09 11:31] michael commented on #206
I think with signature only + an example that includes the require statement, things would be good enough.

[2015-11-09 11:32] obuchtala commented on #206
Hmmm... If there was a class before, u could not see easily that it is a different file, and not just another member function.

[2015-11-09 11:34] michael commented on #206
It would also say "Function defined in" instead of "Method defined in".

[2015-11-09 11:35] obuchtala commented on #206
Still... that is like giving a heading2 a heading3.
I would opt for the first option, adding the sig to the heading..

[2015-11-09 11:40] michael commented on #206
Should work as long as names don't get too long. Will sketch it.

[2015-11-09 11:59] michael commented on #206
Like this:

![image](https://cloud.githubusercontent.com/assets/2931/11033214/b4d8538e-86e1-11e5-9fac-3b7c57457536.png)

[2015-11-09 12:00] michael commented on #206
Or arguments first and then description?

[2015-11-09 12:04] michael opened #208 "Consider @components"
This is important I think, so we can provide a different signature.

Instead of

[code]

We can do:

[code]

[2015-11-09 12:09] michael commented on #206
Will implement this when you are happy.

[2015-11-09 12:17] obuchtala commented on #204
Done.

[2015-11-09 12:17] #204 closed, assigned to nobody

[2015-11-09 12:21] obuchtala commented on #206
I think this is fine.

[2015-11-09 12:28] obuchtala opened #209 "Render type of documented properties."
@michael  could u sketch the ui for properties

Only thing here is how to integrate the type...

[2015-11-09 12:34] obuchtala commented on #198
Are events like regular members? (static class member, module member)
Or are there more options?

[2015-11-09 12:42] michael commented on #206
Done.

[2015-11-09 12:42] #206 closed, assigned to nobody

[2015-11-09 13:12] #202 closed, assigned to michael

[2015-11-09 13:14] michael commented on #209
![image](https://cloud.githubusercontent.com/assets/2931/11034468/22460af6-86ec-11e5-8da0-1527e985319a.png)

[2015-11-09 13:14] obuchtala commented on #209
:+1:

[2015-11-09 13:17] michael commented on #204
I don't see it. Shouldn't this show up for ContainerEditor? That it inherits from Surface. Or maybe i missed putting a tag?

[2015-11-09 13:17] obuchtala commented on #198
After some thinking, it seems that events are typically something bound to a class. I.e., an instance is emitting an event, and others  bind to this instance to listen.
Thus, it does not bring much to support events as module members.

[2015-11-09 13:18] obuchtala commented on #204
Have u used @extends?

[2015-11-09 13:18] michael commented on #198
True. They always have a source. That's also how jsDoc handles it. http://substance.io/docs/module-ui.Controller.html#event:command:executed

[2015-11-09 13:21] michael commented on #204
Jeh that works.

[2015-11-09 13:23] michael commented on #198
Let's stick them only on classes.

[2015-11-09 13:23] obuchtala commented on #198
I am just thinking how to derive the context for events, as there is no source code to derive it from.
context = the class associated to.

Doing it explicitely using

[code]

Or implicitely attaching it to the current class

[code]

Also we might want to use another symbol as `ui/Controller.command:executed` looks stange.

[2015-11-09 13:46] obuchtala commented on #198
I decided not to use global ids here, such as `ui/Controller@command:executed`, as this would is not robust against file. Better to use local ids, such as `Controller@command:executed`.

[2015-11-09 14:25] obuchtala commented on #198
Done.

[2015-11-09 14:25] #198 closed, assigned to nobody

[2015-11-09 14:27] michael commented on #198
You were too fast. Was just looking at the syntax options. I like how it's done now.

[2015-11-09 14:28] obuchtala commented on #208
Just thinking about reusibility: atm our 'parser' is quite general supporting a jsdoc dialect.
Would love to keep it that way.

I will do this as a post-processing after parsing.

[2015-11-09 14:29] michael commented on #208
i mean this is still a @class i would say.. it just adds @component to be a 'special' class.

[2015-11-09 14:29] obuchtala commented on #198
I allow both local and global id for the owning class. Actually, it is confusing when the ids are not consistent.

Thus, after seeing the result, I prefer always using the global ones.

[2015-11-09 14:30] obuchtala commented on #208
Maybe we want to be able to pass custom tags into the model?

[2015-11-09 14:31] obuchtala commented on #208
Then I could leave the parsing jsdoc 'compliant'.

[2015-11-09 14:33] michael commented on #208
That's fine i think. It would just be useful to have separate ComponentComponent so we customize the rendering without messing up ClassComponent.

[2015-11-09 14:34] michael opened #210 "Auto-generate docs"
We should activate publishing to http://substance.io/docs again.

[2015-11-09 14:34] michael commented on #210
Also probably we are ready soon to merge this with master.

[2015-11-09 14:35] obuchtala commented on #210
First we need a site-generator.

[2015-11-09 14:38] michael commented on #210
gulpfile business for the documentation app bundling and then we need to run the generator and put the file as documentation.json in the doc dist folder as well.

[2015-11-09 15:21] michael opened #211 "We need some kind of method index"
It's very hard to find a particular method without ctrl+f, by clicking and scrolling only. Thinking how where we could add a method index. Maybe inline would be just fine:

![image](https://cloud.githubusercontent.com/assets/2931/11037361/ab10e868-86fd-11e5-8443-21c4ecbe89a2.png)

Maybe we evantually want to make the full API of a class foldable... that would make it easier to get an overview. How

[2015-11-09 15:24] michael opened #212 "Visualize when a class is @abstract"
We could do this in the header.. writing Abstract Class instead of just Class here:

![image](https://cloud.githubusercontent.com/assets/2931/11037491/4a9efad2-86fe-11e5-8fdc-64e75745a49f.png)

[2015-11-09 15:41] michael commented on #200
https://github.com/substance/ui/blob/master/document_controller_mixin.js#L494-L532

[2015-11-09 18:55] michael opened #213 "Implement type checking for Substance Data"

[2015-11-10 00:41] Integral commented on #211
+1 for this
it's very important to see just a list of methods related to class (as well as other things like events)

[2015-11-10 02:01] obuchtala commented on #205
With a router and browser history this is much better.

[2015-11-10 02:02] obuchtala commented on #200
Done via d7b7d4821e5025cabd294718baaba413bf05a595

[2015-11-10 02:02] #200 closed, assigned to nobody

[2015-11-10 16:24] obuchtala commented on #137
Considering this as done.

[2015-11-10 16:24] #137 closed, assigned to nobody

[2015-11-10 16:26] obuchtala commented on #135
We have folders now, using deep requires. Files have the same name as the class/function/module they provide. We will try to use lodash directly, without helpers in future.

[2015-11-10 16:26] #135 closed, assigned to nobody

[2015-11-10 16:27] obuchtala commented on #10
Done quite a time ago.

[2015-11-10 16:27] #10 closed, assigned to nobody

[2015-11-10 16:29] michael commented on #109
Not perfect but good enough for now. Until we render our own cursor even.

[2015-11-10 16:29] #109 closed, assigned to michael

[2015-11-10 16:29] michael commented on #145
We are good here now after a few iterations on Commands/Tools/Toolbar.

[2015-11-10 16:29] #145 closed, assigned to obuchtala

[2015-11-10 16:30] michael commented on #181
Let's live without FormEditor fow now.. and reconsider it when the righ use case arrives.

[2015-11-10 16:30] #181 closed, assigned to nobody

[2015-11-10 16:32] michael commented on #153
No FormEditor anymore.

[2015-11-10 16:32] #153 closed, assigned to obuchtala

[2015-11-10 16:32] michael commented on #183
Yes it is.

[2015-11-10 16:32] #183 closed, assigned to nobody

[2015-11-10 16:33] michael commented on #163
Agreed on that!

[2015-11-10 16:33] #163 closed, assigned to michael

[2015-11-10 16:34] michael commented on #182
Implemented.

[2015-11-10 16:34] #182 closed, assigned to michael

[2015-11-10 16:34] michael commented on #158
Done.

[2015-11-10 16:34] #158 closed, assigned to nobody

[2015-11-10 16:35] michael commented on #180
Done. Needs polish for release.

[2015-11-10 16:35] #180 closed, assigned to michael

[2015-11-10 16:35] michael commented on #140
Done.

[2015-11-10 16:35] #140 closed, assigned to michael

[2015-11-10 16:35] obuchtala commented on #55
Will be addressed part of real-time collab

[2015-11-10 16:36] michael commented on #70
We have a new strategy on this.

[2015-11-10 16:36] #70 closed, assigned to nobody

[2015-11-10 16:38] michael commented on #139
We leave it like that, but converters from now on will always produce a new doc instance. So don't have the edge case anymore.

[2015-11-10 16:38] #139 closed, assigned to obuchtala

[2015-11-10 16:38] michael commented on #154
Let's not depend on a service here.

[2015-11-10 16:38] #154 closed, assigned to nobody

[2015-11-10 16:39] obuchtala commented on #105
will think more about it when implementing #127

[2015-11-10 16:41] michael commented on #132
All clear now with our Substance doc generator.

[2015-11-10 16:41] #132 closed, assigned to nobody

[2015-11-10 16:42] michael commented on #121
Browser problem. Not in our hands.

[2015-11-10 16:42] #121 closed, assigned to nobody

[2015-11-10 16:42] michael commented on #56
Closing this. @jasonphillips we will provide basic API docs for our Component API with the Substance Beta 2 relase.

[2015-11-10 16:42] #56 closed, assigned to nobody

[2015-11-10 16:47] obuchtala commented on #173
As a workaround: try not use the same ref with different Component classes.
Lowering the prio

[2015-11-11 00:25] obuchtala commented on #209
Let's do this .)

[2015-11-11 00:28] obuchtala commented on #213
We had this someday... however it has been dropped during refactorings to get rid of unused code.
However, this is useful to detect model related errors early.

[2015-11-11 00:31] obuchtala commented on #211
Seeing our docs growing, I agree that it is important.
It should be fairly simple introducing a MemberSummary component.
This would be the preferred place to show inherited stuff, too.
~~@michael could u update the mock regarding inherited members?~~ aahh i think it is clear enough

[2015-11-11 00:34] obuchtala commented on #210
gulp business is done. I think for beta 2 it is fine to push it manually.
Let's reactivate that webhook in beta3

[2015-11-11 00:36] obuchtala commented on #152
This seems to be done already.

[2015-11-11 21:58] obuchtala opened #216 "Rename Annotation -> PropertyAnnotation"

[2015-11-11 22:07] obuchtala commented on #216
Leaving the original file there with a delegating require to the new file plus a deprecation warning.

[2015-11-11 22:09] obuchtala opened #217 "Rename util/jquery -> util/jQuery"
http://api.jquery.com/Types/#jQuery

[2015-11-11 22:11] obuchtala commented on #217
Alternatively we could introduce a custom util/DOMElement providing a dedicated API, delegating to jQuery or cheerio.

@michael ur opinion?

[2015-11-11 23:40] obuchtala opened #218 "Introduce a DOMElement abstraction class"
ATM we use jQuery for abstraction. While this serves us as a solution to have client and server side converters, it isn't so nice from an API point of view.

I am thinking about introducing a custom class which feels more like a native DOM element but adds some convenience from jQuery.

The advantage is that we have a clean interface, and are able to define the element API as we think it should be

[2015-11-12 00:09] obuchtala commented on #218
Converter for Paragraph would be pretty similar:

[code]

Only element creation would be different using `DOMElement.create()'

[2015-11-12 00:16] obuchtala commented on #218
If one wanted to use regular jQuery they still could do:

[code]

[2015-11-12 00:30] obuchtala commented on #217
I will go for #218, then this issue is obsolete.

[2015-11-12 00:30] #217 closed, assigned to nobody

[2015-11-12 07:01] michael commented on #216
:+1: Better name that is.

[2015-11-12 09:23] michael opened #219 "Docs: Provide anchors for methods/props/events"
Some # icon that is clickable to set the anchor.

[2015-11-12 10:31] michael opened #220 "Ability to describe object params"
JSdoc suggests this:

[code]

However this messes up our param list.

![image](https://cloud.githubusercontent.com/assets/2931/11116123/aa7955b8-8930-11e5-8260-c66285e141a3.png)

What options do we have here? Maybe we just strip scoped paramnames from the signature? Or we find a different notation.

[2015-11-12 10:39] michael opened #221 "Visualize optional params"
We don't do this yet.

[2015-11-12 10:48] michael commented on #221
@oliver---- I will solve this by just not removing the [] from the param name. Rendering some 'opt' postfix would take too much space.

[2015-11-12 11:20] michael opened #222 "Comment block parsing"
I'm currently changing the comment block syntax to be easier editable:

Old:

[code]

New:

[code]

However.. this leads to a different result, as 2nd and 3rd text block gets parsed as a codeblock.

![image](https://cloud.githubusercontent.com/assets/2931/11117127/751accb0-8937-11e5-8326-69fb0274f46c.png)

Is there something we can do about it? Generally I wanted to ask if you agree with the less

[2015-11-12 11:22] michael commented on #222
I mean i see why it is parsed as a code block (4space indent). Mhh... maybe that's exactly why the stars are there in each line.

[2015-11-12 11:28] obuchtala commented on #222
Need to take a look at this. dox is trying to remove the indent of the
first line from all other lines. But maybe there is some problem there...
Can you provide me with a setup where this change is there (maybe on a
tmp branch)

[2015-11-12 11:31] michael commented on #222
Let me push this to the component-docs branch.

Generally: Is working with the \* only for me such a hassle or is there a secret trick. it's especially annoying if I want to break some content into a new line.

[2015-11-12 11:34] michael commented on #222
*pushed

[2015-11-12 11:34] obuchtala commented on #222
It is annoying yes. The editor would need to allow all the tab-ing sugar while having a \* in the beginning.
Maybe there is an extension for Sublime to do this...

On the other side... it is pretty clear how it should work from the parser side. If this is not working then there is a problem in dox, which we should fix.

[2015-11-12 11:35] obuchtala commented on #222
Gimme some time for that.

[2015-11-12 11:59] michael commented on #211
Will take care of this.

[2015-11-12 12:23] michael opened #223 "Doc: support for nested classes"
Sometimes we want to expose multiple classes per file using a scoped name. I couldn't get this to work for Component.VirtualNode. See: https://github.com/substance/substance/blob/c36471cec82d4e0e9820dfa0fdc70b335f2c4457/ui/Component.js#L1155-L1171

Need a working example for this, then I will add to other places, like Toolbar (Toolbar.Group, Toolbar.Dropdown).

[2015-11-12 12:30] obuchtala commented on #222
Should work now.

[2015-11-12 12:34] obuchtala commented on #223
Should be done the same way as static properties.
However we will need a concept how to address it UI wise. ATM, they would be (static) members of a class.

[2015-11-12 12:35] michael commented on #223
Can you give an example for a proper doc annotation?

[2015-11-12 12:37] obuchtala commented on #223
ATM, the way it is done there, it isn't detected as a member.
Let me try to fix it there.

[2015-11-12 12:38] obuchtala commented on #223
Or maybe we support that what you tried, using an explicit identifier.

[2015-11-12 12:39] obuchtala commented on #223
Will give the parser some treatment

[2015-11-12 12:40] michael commented on #223
If this makes addressing easier let’s go for it.. It can be considered a separate class semantically I think. Yes it's also a static member of the upper level class implementation wise but not semantically.

[2015-11-12 12:43] obuchtala commented on #223
If its not a nested class (i.e. static class) then your file should come as a module, not as a class.

[2015-11-12 12:44] obuchtala commented on #223
So particularly it is _sementically_ a static member. Implementation wise it could be independent if you want.

[2015-11-12 12:46] michael commented on #223
I see. Mhh.. the module option is also good to have. However, for Component or Toolbar I like this nesting. Otherwise we would need to:

require('ui/component').Component

[2015-11-12 12:48] obuchtala commented on #223
Yep... So my suggestion: treat it as static members internally, and represent it as 'independent' classes.
In the summary you could have a 'Nested Classes' block, however.

[2015-11-12 12:50] michael commented on #223
:+1:   I will output the memberIndex without categorizing at first. We will need some helper methods to split them up.

Should I implement such a thing on ClassNode and ModuleNode ?

[2015-11-12 12:51] obuchtala commented on #223
I would use a MemberSummary component and use it for both.

[2015-11-12 12:51] obuchtala commented on #223
And yes, only modules and classes have such members atm.

[2015-11-12 12:52] michael commented on #223
Working on exactly that. Called it MemberIndex though.

[2015-11-12 12:55] obuchtala commented on #223
ok

[2015-11-12 13:05] michael commented on #222
Just a thought before I forget it: We could do `//` prefixed doc blocks if we converted them to /*\* _/ before we feed it to dox. However with all the problems we discussed (empty lines could break a block accidentally, etc.) also everything then would be considered a comment block. now we can use // for internal and /_\* for official doc-comments.

It's just that // is the most convenient way to

[2015-11-12 13:08] obuchtala commented on #222
I am actually against it as it is not a ECMAScript block comment.

[2015-11-12 13:10] obuchtala commented on #222
http://www.ecma-international.org/ecma-262/5.1/#sec-7.4

[2015-11-12 13:11] michael commented on #222
ok. that argument is strong enough :)

[2015-11-12 13:12] obuchtala commented on #222
:)

[2015-11-12 16:02] obuchtala opened #224 "Doc: external links should open a new tab"
One way to do that would be to add a commonmark post-processor.

[2015-11-12 16:14] obuchtala commented on #223
Done.

[2015-11-12 16:14] #223 closed, assigned to obuchtala

[2015-11-12 16:14] obuchtala commented on #222
Fixed.

[2015-11-12 16:14] #222 closed, assigned to nobody

[2015-11-12 17:17] obuchtala opened #225 "Doc: separate class from constructor"
ATM it is not possible to hide the constructor but show the class. Our Component is a good example of having a private constructor. Nodes another one.

@michael what is ur opinion?

[2015-11-12 17:21] obuchtala commented on #225
Alternatively, we could do somthing like:

[code]

I.e., treating the constructor part like a separated comment block.

[2015-11-12 17:28] obuchtala commented on #225
Having two blocks would be cleaner:

[code]

In future i.e. with ES6, we will have two blocks...

[code]

[2015-11-12 17:39] obuchtala commented on #225
We could have it the way it is currenty, but supporting the case with explicit constructor,
i.e. injecting a constructor node, when no explicit constructor is present.

[2015-11-12 17:40] obuchtala commented on #218
For exporters I want to use Component.$$.

[2015-11-12 18:03] obuchtala commented on #211
I introduced a model/MemberIndex which should make this technically a no-brainer.

[2015-11-12 19:13] michael commented on #225
Sounds good to me - external constructor node...

[2015-11-13 11:35] michael commented on #224
Shouldn't we just have all external inks target="_blank"? If we have a handler in place for crosslinks the default behavior would be intercepted anyway...?

[2015-11-13 11:37] michael opened #228 "Crosslinks should not depend on router state"
We have the following glitch atm. When the router has:  #contextId=toc,nodeId=ui/Component but you scrolled somewhere else and then click on ui/Component in the index there is no scrollTo happening.

[2015-11-13 11:39] obuchtala commented on #224
Is it so?

[2015-11-13 11:40] obuchtala commented on #228
True.

[2015-11-13 11:40] michael commented on #224
I mean as long as we do e.preventDefault() on handled links.

[2015-11-13 11:43] obuchtala commented on #224
Hmm.. Don't know if I get you right.
I am talking about external links in md. The cross-link handler listens using a specific selector.
What I mean are the a's generated by the markdown parser.

[2015-11-13 14:22] michael opened #229 "Doc: Subclasses in MemberIndex found under idx.instance.class"
![image](https://cloud.githubusercontent.com/assets/2931/11147819/e922b2d0-8a18-11e5-9767-5e61f4a9eaf2.png)

Shouldn't those show up under idx.class.property or idx.class.class ? Currently they are annotated like this.

[code]

I also tried to supply @static explicitly and use a fully qualified name like so:

[code]

But still it's found under idx.instance.class.

I can implement the MemberIndexCo

[2015-11-13 14:47] obuchtala commented on #229
Yep, u r right.

[2015-11-13 14:48] obuchtala commented on #229
Will fix...

[2015-11-13 15:01] obuchtala commented on #229
Fixed via b8da605efc7e511ba362a63acde6251eafe6a363

[2015-11-13 15:01] #229 closed, assigned to nobody

[2015-11-13 15:15] michael commented on #229
Thanks! Works.

[2015-11-13 15:19] michael opened #230 "Visualize when a class is abstract"
Should we just add this to the label like this:

**Abstract Class** defined in `ui/Component.js#1162`

[2015-11-13 15:20] michael opened #231 "Doc: Drop top-right labels"
Also I would say we get rid of the colored top-right labels because we would otherwise reserve space for them. Also they are redundant. Currently this happens if headings get too long:

![image](https://cloud.githubusercontent.com/assets/2931/11149343/47bc2304-8a22-11e5-9eb6-7975a667bce8.png)

Maybe we want to keep the colors though.

[2015-11-13 15:23] obuchtala commented on #230
good enough for a start

[2015-11-13 16:46] michael opened #232 "Doc: Let's do the switch towards a constructor node"
I'd like to tailor the comments so that the class info is in a separate block and constructor documentation comes in another.

I'd drop the constructor rendering as we have it now.. which will be replaced as soon as we have constructors in the members array. This will also make the constructor show up in the members index. And we will be able to deep link to it.

[2015-11-13 16:47] obuchtala commented on #232
Agreed.

[2015-11-13 16:58] obuchtala opened #235 "Unified Element API"
From #226 evolved another element API, which is now a bit confusing.

We decided introducing an abstract DOM Element API which is used to abstract jquery/cheerio away and which we would use for Component's VirualElements, and Component, too.

[2015-11-13 16:58] michael commented on #211
Looks like this now. We don't yet display inherited stuff. Let's do this in a separate iteration and first test if it's good enough to have users navigate to the parent class.

![image](https://cloud.githubusercontent.com/assets/2931/11151908/ecd384c4-8a2f-11e5-88b1-e4183665bb96.png)

[2015-11-13 16:59] obuchtala commented on #211
Do you consider properties and events too?

[2015-11-13 17:02] michael commented on #235
Yeh. Best thing about that abstraction is that we can define and document one interface for Element manipulation, used in Component's render methods as well as in converters.

Regarding the name: Calling it just Element would be too generic mh?

[2015-11-13 17:03] obuchtala commented on #235
Maybe too generic, yep... Maybe you want to sleep over it...

[2015-11-13 17:05] obuchtala commented on #235
I think it is a DOMNode actually (could also be text or comment)

[2015-11-13 17:05] michael commented on #235
Ya i mean somehow the relation to the DOM is there.. For Substance.Components it would be just the DOMElement facet of it...  while there is more comonent-specific.. like setProps setState etc.

[2015-11-13 17:06] obuchtala commented on #235
Yes... would you add setProps to the generic interface? don't know... it seems wrong to me.

[2015-11-13 17:07] michael commented on #232
Ok I dropped it. Next would be supporting the parsing of the second block. I did a comment block for Component.VirtualElement here:

https://github.com/substance/substance/blob/component-docs/ui/Component.js#L1357-L1369

[2015-11-13 17:08] obuchtala commented on #235
Hmmm.. it could also be in a dom namespace... and then it could be dom.Node / dom.Element ?

[2015-11-13 17:11] michael commented on #235
hmm what else would go into dom then? It's clearly also ui.. so maybe ui/dom/Element but I guess ui/DOMElement would not look worse.

[2015-11-13 17:11] obuchtala commented on #235
ok. ui/DOMElement is fine with me.

[2015-11-13 17:12] michael commented on #211
properties yes.. events.. forgot. They'll show up in `instance.event` scope ?

[2015-11-13 17:13] obuchtala commented on #211
I suppose which doesn't make sense though... let me check (node needs to have isStatic)

[2015-11-13 17:15] obuchtala commented on #211
Events are actually like innerclasses 'per se'... maybe I should treat them specially in indexer?
Or are u ok with having them in instance?

[2015-11-13 17:16] michael commented on #211
instance is good yes! I add my parts.

[2015-11-13 17:21] michael commented on #211
Pushed.

How will we deal with constructors? That would be wrong in the instance.method bin. So I either we put it into class.method  or handle it special somehow.

[2015-11-13 17:24] obuchtala commented on #211
Hmmm. That is true. In Ecmascript the constructor is class member: MyClass.constructor

[2015-11-13 17:27] obuchtala commented on #211
Events are there.

[2015-11-13 17:28] obuchtala commented on #211
Should I sort members on server side?

[2015-11-13 17:29] michael commented on #211
Maybe it's always the first class method in the list. So you'd get

Class methods: constructor anotherMethod

Problem I see: We want to display the constructor always as the first member. Followed by instance methods and then class methods. So from a UI perspective it would live in a separate bin.

How about `constructor.method`.

[2015-11-13 17:30] michael commented on #211
Just to be pragmatic on the modelling side.

:+1: for member sorting on the server side.

[2015-11-13 17:32] obuchtala commented on #211
I could add ctors into an extra bin

[code]

[2015-11-13 17:35] michael commented on #211
Just worried my code is not robust against different categorization scopes. That's why I suggested:

[code]

[2015-11-13 17:41] michael commented on #231
Done.

[2015-11-13 17:41] #231 closed, assigned to michael

[2015-11-13 17:41] michael commented on #230
Done.

[2015-11-13 17:41] #230 closed, assigned to michael

[2015-11-13 17:42] michael commented on #221
This is done.

[2015-11-13 17:42] #221 closed, assigned to michael

[2015-11-13 17:44] obuchtala commented on #211
But it's not consistent. As all other types are indexed via name.

[2015-11-13 17:45] obuchtala commented on #211
Ah you mean an extra bin inbetween?

[2015-11-13 17:47] michael commented on #211
It would be via name:

[code]

[2015-11-13 17:47] obuchtala commented on #211
Hmmm.. why again not just

[code]

[code]

[2015-11-13 17:48] michael commented on #219
Will take on this now.

[2015-11-13 17:48] obuchtala commented on #211
This would make most sense.

[2015-11-13 17:49] michael commented on #211
Lol... yes. :)

[2015-11-13 18:03] obuchtala commented on #211
Can you sort in your MemberIndexComponent? unfortunately order gets lost by indexing...
The global order I can take care of.

[2015-11-13 18:06] michael commented on #211
Really?

I mean yeah, if we do loose order i will sort in the memberindex component...

[2015-11-13 18:10] obuchtala commented on #211
No.. it seems that they are not yet ordered... would have been surprised, too.

[2015-11-13 18:17] obuchtala commented on #211
Sorted out ;)

[2015-11-14 00:09] michael commented on #219
Fixed via https://github.com/substance/substance/commit/fecc12eb6d458b09b88269457bff396009288507

[2015-11-14 00:09] #219 closed, assigned to michael

[2015-11-14 00:09] michael commented on #228
Fixed via https://github.com/substance/substance/commit/fecc12eb6d458b09b88269457bff396009288507

[2015-11-14 00:09] #228 closed, assigned to nobody

[2015-11-14 11:12] #212 closed, assigned to nobody

[2015-11-14 11:13] michael commented on #205
Anchoring is good enough.

[2015-11-14 11:13] #205 closed, assigned to nobody

[2015-11-14 11:14] michael opened #237 "Fix marking of active heading in TOC"

[2015-11-14 13:50] michael opened #238 "Doc consistency: Check some invariant that startOffset can't be larger then endOffset"
We ran into that problem in #130 when truncate was called when it shouldn't (I fixed AnnotationCommand.canTrucate to address it)

However, if somebody wrongly ran trucateAnnotation in the following situation we would end up with startOffset > endOffset.

[code]

Such a thing may happen in other places as well. I wonder if we should do an invariant check when we create/update an annotation, so our

[2015-11-14 14:07] michael opened #241 "Add tests for AnnotationCommand#getCommandState()"
This should be fully test-covered. Extend the tests started in #240.

[2015-11-14 18:18] michael commented on #130
Fixed via #240

[2015-11-14 18:18] #130 closed, assigned to obuchtala

[2015-11-14 23:54] michael opened #243 "Bring back block node type display"
When switchTextType is disabled we still want to show the human readable label of the active block node.

We should really use that space, as we already did.
![image](https://cloud.githubusercontent.com/assets/2931/11166339/7e59f1e4-8b2f-11e5-91fe-d7396bc61b5c.png)

[2015-11-14 23:55] michael opened #244 "Website update for beta 2 release"
I think we should replace the prose editor with the notepad example on the front page. We can use the todo items as a feature list.

![image](https://cloud.githubusercontent.com/assets/2931/11166435/864cc2b0-8b33-11e5-9cfd-336c1209b21a.png)

Good idea?

[2015-11-15 12:19] michael commented on #225
We have that now. Closing.

[2015-11-15 12:19] #225 closed, assigned to nobody

[2015-11-15 12:34] obuchtala commented on #235
@michael can u help me with naming?
When I have `ui/DOMElement` being the abstract interface, how should I call the implementation which is using jQuery/native DOM?

[2015-11-15 12:35] obuchtala commented on #235
In the other cases it is clear: `ui/VirtualDOMElement`, and Component itself.

[2015-11-15 12:36] obuchtala commented on #235
~~`BrowserDOMElement`?~~ nah, it is working for cheerio elements as well

Edit: so for clarification... this implementation works in the browser but also server-side. It uses jQuery/cheerio for many things, and some things are implemented using the respective native implementation.

[2015-11-15 12:39] obuchtala commented on #235
An alternative from the Java world: calling the interface `ui/IDOMElement` and the implementation `ui/DOMElement`

[2015-11-15 12:42] obuchtala commented on #235
We also could hide the implementation from the programmer, in the way that they would never require the implementation.
E.g., in an importer or an exporter, they would use `el.$$` or `el.createElement()`
In Component renderers it is ok to have it the way it is currently, i.e. using `Component.$$`.

Edit: this would mean I could name the DOMElement implementation in any way, e.g. also `ui/DOMElemen

[2015-11-15 12:50] obuchtala commented on #235
`ui/DefaultDOMElement`?

[2015-11-15 14:01] michael commented on #235
Sorry we are in the wilderness atm. Maybe we have just one abstract
DOMInterface for the documentation. Will be back in evening...
On So., 15. Nov. 2015 at 13:50, Oliver Buchtala notifications@github.com
wrote:

[2015-11-16 04:02] obuchtala opened #247 "Fix Clipboard"
Broken since converter refactor.

[2015-11-16 04:12] obuchtala commented on #235
Done. Interface is clear. Implementation will be improved in future.

[2015-11-16 04:12] #235 closed, assigned to nobody

[2015-11-16 04:13] obuchtala commented on #232
Done.

[2015-11-16 04:13] #232 closed, assigned to obuchtala

[2015-11-16 04:14] obuchtala commented on #232
Now we just need to add more documentation.

[2015-11-16 04:14] obuchtala commented on #211
Done.

[2015-11-16 04:14] #211 closed, assigned to nobody

[2015-11-16 04:15] obuchtala commented on #190
Done.

[2015-11-16 04:15] #190 closed, assigned to obuchtala

[2015-11-16 04:16] obuchtala commented on #155
To me it looks like this is done. Reopen it if you think it is not.

[2015-11-16 04:16] #155 closed, assigned to nobody

[2015-11-16 04:17] obuchtala commented on #124
Yep. No more.

[2015-11-16 04:17] #124 closed, assigned to obuchtala

[2015-11-16 04:35] obuchtala commented on #218
Done.

[2015-11-16 04:35] #218 closed, assigned to nobody

[2015-11-16 04:36] obuchtala commented on #208
Done.

[2015-11-16 04:36] #208 closed, assigned to nobody

[2015-11-16 11:44] michael opened #248 "Lowercase filenames for converters"
packages/embed/EmbedHtmlConverter.js -> packages/embed/embedHtmlConverter.js

I will take care of this.

[2015-11-16 11:52] michael opened #249 "Implement DOMElement#find for Components"
Would be useful regarding getting the jQuery dependencies out if you could search inside component instances.

E.g. this code:

[code]

Could change into:

[code]

We would then not get a jQuery element but our own DOMElement. The question is should we continue implementing the jQuery API here e.g. i would need the position() method. So instead of `tocNodeEl.$el.position().top` I could do just `to

[2015-11-16 12:12] obuchtala commented on #249
Unless you want to implement CSS selectors this is not easily possible.
One could do a find on the DOM side and try to map to components.
Or we could do it like VisualEditor: they store a reference to the view nodes in the DOM via $.data. Then they can navigate back from an element into the view tree.

[2015-11-16 12:23] obuchtala commented on #249
Regarding `position`, I have the feeling that I want to keep the $el for a while. So that we are not blocked by lack of DOMElement API.

[2015-11-16 13:53] michael commented on #249
Will think about it a bit. I also think we should not reimplement that functionality. Just trying to get rid of the places where we use jQuery directly.

I'm open for storing component references on the DOM nodes, however they should not be encoded as an attribute.. because it gets really noisy then in the markup.

[2015-11-16 13:54] obuchtala commented on #249
What do you think about $.data()? https://api.jquery.com/jquery.data/

[2015-11-16 13:57] michael commented on #249
Seems to be a good way to store that kind of stuff yes. Don't want us to get distracted by this things.. though they would be interesting to evaluate for the future.

[2015-11-16 13:58] michael commented on #249
We could get a really powerful DOM navigation API at some point, that works on server as well. :)

[2015-11-16 14:02] michael opened #250 "TOCPanel: scroll into view of active item"
I'm fixing the auto-highlighting of the active tocitem right now.. what i have no solution for yet is when the active item is out of the view... maybe we want the toc to automatically follow the active item.

I would use the same scrollToNode API as we have in other panels, however i'm afraid this will get a bit jumpy.. especially when you scroll back up after the view has switched.

You think i s

[2015-11-16 14:07] obuchtala commented on #250
I share the concerns.
Don't know.. maybe an icon that show up when active item out-of-view and click scrolls to?

[2015-11-16 14:09] michael commented on #250
If it requires extra user interaction I would rather do nothing and let people scroll themselves. But i will play a bit.. i mean.. also maybe now the wrong time to make it perfect. :)

There will be another TOC iteration for Lens because i want to bring thumbs of figures.

[2015-11-16 14:14] michael commented on #244
I think we should build out our notepad example a bit, (since it's there to impress on the substance.io website).

I want support things like we had for the B1 notepad like due dates in todos and text macros like @mention. Will schedule this for beta 3 though.

[2015-11-16 14:24] obuchtala commented on #249
Shifting this into Beta 3

[2015-11-16 14:59] obuchtala opened #252 "Beta 2 final Roadmap"
Using this to communicate / discuss prioritization.

[2015-11-16 15:02] michael opened #253 "TocPanel generalization"
ui/TocPanel currently depends on the `content` and `level` property of heading. I'd like to generalize that a bit so we just need to implement `schema.getTocTypes()` and `Article#getTocNodes()`.

I want to keep this operating on regular Substance nodes, so the TOC can react to document changes (e.g. heading gets edited). How about the following contract:
- Each node that wants to show up in the TO

[2015-11-16 15:04] michael commented on #252
First thing to decide: When should we push the release button? :)

I would suggest that we use this week for polish and target Friday. So we can soft-launch over the weekend and we start to promote it on Moday?

[2015-11-16 15:05] obuchtala commented on #252
Agreed.

[2015-11-16 15:05] obuchtala commented on #252
Next I want to work on several core related issues:
- [x] #247 - Fix Clipboard
  Fixed in a first iteration. In Beta 3 I will refine this work: #271
- [x] #186 - Allow TextPropertyComponent outside of Surface context
- [x] #179 - Component: Incremental update API should support .append('string')
- [x] #161 - Ability to call extend without proto
  Class.extend can be considered now as a replacement

[2015-11-16 15:10] michael commented on #252
That would be nice if could cover those!

I will think about my roadmap and post until tomorrow. I want to adapt the new CSS naming scheme to all components we have. And of course having a useful subset of components properly documented.

[2015-11-16 15:31] michael commented on #253
Oli i have a problem with making assumptions on the ordering of members. We have some logic here in the components, and duplicated in the DocumentationTOCPanel, which i would like to get rid of. I'd favor an approach where we implement this logic on the model side.

E.g. for the NamespaceNode i would implement a getMembers method that considers categorization etc.

[code]

This could go into a mix

[2015-11-16 15:32] michael commented on #253
Do we actually have markup for member categories? Or is it fine if that is flattened?

[code]

[2015-11-16 16:39] michael commented on #253
Implemented via #254.

[2015-11-16 17:01] obuchtala opened #255 "TOC enhancments"
- highlight of active item could be stronger: when not moving, the difference is too subtle to guide the eye

![image](https://cloud.githubusercontent.com/assets/284099/11188642/393e85c6-8c8c-11e5-9079-007b99ff9f91.png)
- Detection of active item / scroll position mapping could be tweaked. In docs, e.g., for second level items when clicking on toc entry, it scrolls alright, but highlights the prev

[2015-11-16 17:13] obuchtala opened #256 "When clicking a toc-entry, the toc looses the scroll position"
TOC is probably not preserved during rendering

[2015-11-16 17:15] obuchtala commented on #256
Sorry, you had already pushed a fix for that.

[2015-11-16 17:15] #256 closed, assigned to nobody

[2015-11-16 17:17] obuchtala commented on #253
The categories are used in the MemberIndexComponent.

[2015-11-16 17:23] obuchtala commented on #253
I think `Documentation` is a good example of having dynamic content. So IMO the concept for getting the `tocNodes` from the document is general enough now.
Having the level API on nodes is fine in this case. However I am pretty sure that this is not a general concept. E.g, think about our general Headings. In some special document, there might be a higher-level structure (such as chapters or so),

[2015-11-16 17:35] #216 closed, assigned to obuchtala

[2015-11-16 18:03] michael commented on #253
What would be a better place for level? You have a suggestion?
On Mo., 16. Nov. 2015 at 18:23, Oliver Buchtala notifications@github.com
wrote:

[2015-11-16 18:05] obuchtala commented on #253
I think there is no such place in general :(
In Documentation this is working fine. In our general implementations not.
In general, only a document knows about the overall structure.

[2015-11-16 22:26] michael opened #257 "More generic DomImporter API in preparation for LensXmlImporter"
I'm digging deeper into the new DomImporter implementation. In order to import XML documents of different structures we would possibly need a slightly more generic API. The current implementation assumes that there's one container (configured via config.containerId). It's possible that we will also deal with multiple containers for one XML document. We only have state.container = [] reserved for t

[2015-11-16 22:51] obuchtala commented on #257
Yeah I know, the basic importers are too primitive for real documents.
The way you addressed it was exactly what I had in mind. Providing a simple low-level API, but anything beyond that is hard to generalize.
Resetting the state per 'global' entry is fine. This does not need to support parallel execution. In such a situation I would rather create independent instances.
So 100% agreement.

[2015-11-16 23:28] michael commented on #257
Thanks!

I will give it a try tomorrow.

I see some problem with the generateDocument method.. That code would not work with multiple containers.

[code]

Shouldn't we just dynamically create bins in `state.containers` when converterContainer is called? We'd then have a structure like this:

[code]

`generateDocument` could then work with this collected information.

We didn't have a concrete usec

[2015-11-16 23:39] obuchtala commented on #257
`state.stack` is for converting annotated text. So this should be fine, as you would be converting one property at a time.

Multiple bins sounds good. You need a state.currentContainer pointing to the container set by the last convertContainer call.

[2015-11-16 23:42] michael commented on #257
It's a plan!

[2015-11-17 10:23] michael commented on #257
I want parseXML to return the article element rather than a list of nodes. Is this valid?

[code]

[2015-11-17 10:47] obuchtala commented on #257
Hmm. Hard to tellm because I don't know exactly.
For parseHtml I went for array because of jQueries parsing delivers an XML.
I fear $(xml) will also give you an array. So I expect this not to work.
BTW, plz look at $.parseXML, this we would use here. Have never used it so don't know how it works.

[2015-11-17 11:08] michael commented on #257
I will do it for the browser first and then add tests for the cheerio scenario.

Here's one more thing I'm not sure about:

`parser.parseFromString(html, 'text/xml');` gives me a document object (as the root) while cheerio uses a different kind of root element (available via $.root(). So maybe it's smart to always return the first child of root by parseXML / parseHTML instead of the root itself. T

[2015-11-17 11:12] obuchtala commented on #257
DOMParser and $ are just completely different.
If you want you can wrap the content or deliver the 'root' element: in browser native 'body', in cheerio 'root' and in jQuery not possible without creating a custom wrapper.

[2015-11-17 11:17] obuchtala commented on #257
Ignoring jQuery for a while I would expect to get a full document when providing a fully specified document, and maybe a root element for partial HTML/XML content.

[2015-11-17 18:32] michael commented on #257
[code]

If we do this we can not delegate implementations. E.g. ImageFigureConverter can just call FigureConverter.import and then enhance the object with additional stuff. Since this could be useful anywhere it would be bad to hide the import implementations within this.import. I mean I could create an instance and then use it but that's also not very tasty.

Actually I tend to stick with simple

[2015-11-17 18:38] obuchtala commented on #257
I am fine with it :)

[2015-11-17 18:40] obuchtala commented on #257
It's like inline defining a class with static props and functions ;)
To have a reason for upper-cases ;)

[2015-11-17 18:41] michael commented on #257
incredible what objects can do ;)

[2015-11-18 11:43] michael opened #260 "Allow multiple containers for DOMImporter"
We need to change the state to have a map of containers.

[code]

`generateDocument` could then work with this collected information.

[2015-11-18 12:17] michael opened #261 "Inherited components and css styles."
We need to agree on a convention on how we deal with inheritance in component styles. E.g. there's the abstract `ui/Panel` that has some styles in `styles/components/_panel.scss`. TocPanel derives from Panel and introduces some more styles.

I don't want to use SASS magic, because we end up with more complex styles and also the sourcemaps are making problems for this `%abstractstyle` definitions.

[2015-11-18 12:38] obuchtala commented on #261
I agree, if the other approach is causing troubles.

[2015-11-18 12:42] michael commented on #261
ok i will try to make this consistent for the styles we have.

[2015-11-18 16:03] michael commented on #257
Done.

[2015-11-18 16:03] #257 closed, assigned to nobody

[2015-11-18 16:04] michael commented on #237
Fixed.

[2015-11-18 16:04] #237 closed, assigned to michael

[2015-11-18 16:06] michael commented on #209
Done

[2015-11-18 16:06] #209 closed, assigned to michael

[2015-11-18 16:08] #152 closed, assigned to michael

[2015-11-18 16:09] #142 closed, assigned to nobody

[2015-11-18 16:10] michael commented on #86
No formeditors we have anymore.

[2015-11-18 16:10] #86 closed, assigned to michael

[2015-11-18 23:35] michael commented on #255
Looks like this now.

![image](https://cloud.githubusercontent.com/assets/2931/11257931/647174fe-8e55-11e5-814e-9c21e0981b60.png)

[2015-11-18 23:35] #255 closed, assigned to michael

[2015-11-18 23:36] michael commented on #253
For now we are good here.

[2015-11-18 23:36] #253 closed, assigned to nobody

[2015-11-19 07:52] michael commented on #248
We will leave them uppercase.

[2015-11-19 07:52] #248 closed, assigned to michael

[2015-11-19 07:53] michael commented on #220
Pushing this to beta 3.

[2015-11-19 07:53] michael commented on #191
Done.

[2015-11-19 07:53] #191 closed, assigned to nobody

[2015-11-19 08:06] michael commented on #51
That's fixed. Closing.

[2015-11-19 08:06] #51 closed, assigned to nobody

[2015-11-19 08:07] michael commented on #3
Done.

[2015-11-19 08:07] #3 closed, assigned to michael

[2015-11-19 08:11] michael commented on #11
It's an abstract method that users need to define to return the doc node that has meta info. So we don't want to mix things here. Convenience api you can add to your own Article API.

[2015-11-19 08:11] #11 closed, assigned to nobody

[2015-11-19 08:18] michael commented on #252
My plan (in that order):
- [x] #243 - Bring back block node display
- [x] #178 - Code, Subscript, Superscript node types
- [x] #167 consistent node type categorization (after new node api is ready)
- [ ] #185 - API docs
- [x] #244 - update website

[2015-11-19 08:19] obuchtala opened #263 "Use $variables in scss"
ATM there is almost no use of variables, instead there a lot of hard-coded constants, such as `padding: 20px`.

On the one hand, this is sub-optimal, as there is no consistent way to change this without touching many files. On the other hand, from my own experience, this move helps to better understand, and refine such variables, bringing a concept into it.

[2015-11-19 08:31] michael commented on #263
Yeah there's a lot to do here. Just wanted to get the naming right as a first step. It needs some thinking of what variables to introduce.. I need to do some typography research. It's on for beta 3.

[2015-11-19 08:33] obuchtala commented on #167
'Container' is a bit unclear. List for example is not a container, it is a nested node type, same as Table.
And don't want to create confusion with the exisiting Container node.

[2015-11-19 08:34] obuchtala commented on #252
:+1: go for it

[2015-11-19 08:36] michael commented on #167
List would be just a block in that terminology. The question is what is a ListItem or TableRow? It seems we can not say a node is either a block or inline.. there's more...

[2015-11-19 11:16] michael commented on #243
Fixed via #264

[2015-11-19 11:16] #243 closed, assigned to nobody

[2015-11-19 12:01] michael opened #265 "Use Class.extend instead of oo.inherit"
Just writing the new Subscript command and tool without extend.

[code]

It gets a bit of overhead... vs:

[code]

Still in for getting rid of extend but just wondering if there's any other option to write less in such cases.

[2015-11-19 13:46] obuchtala commented on #265
If you want we can leave the extend API. But you also need to see its disadvantages.
Writing it shorter in functional way is not possible. The functional way is just closer to how it would be in ES6.

[code]

is dangerous. There you are killing inheritance.

[2015-11-19 13:50] obuchtala commented on #265
In the above case I would rather advocate the following version:

[code]

[2015-11-19 13:52] obuchtala commented on #265
The correct class version would look like:

[code]

[2015-11-19 13:54] obuchtala commented on #265
And of course we can decide to keep the extend API. We just need make sure that this is also ES6 compatible.

[2015-11-19 13:55] obuchtala commented on #265
As soon you have a prototype I would rather prefer the functional version.
And for core implementations, too, then we have a better situation in the debugger.

[2015-11-19 17:30] jacwright commented on #265
Why use `MyClass.static.staticProperty = x` instead of `MyClass.staticProperty = x`?. Is it so you can use the `name` property?

The main downside to a generic `Class.extend(childProto)` method is you lose the class names. You can overcome this by changing the signature to `Class.extend(constructor, childProto)` and still get the benefits of static inheritance and readability without losing debug-

[2015-11-19 17:38] jacwright commented on #102
For my use-case in [Dabble](http://www.dabblewriter.com/), I want to have undo work similar to IntelliJ's. I'm not defining an implementation but a user-facing description of what happens.

When a user calls undo once, the cursor takes them to the place of the last operation. When calling undo a second time the last operation gets undone. If the cursor is already in place the operation just gets u

[2015-11-19 17:53] jacwright commented on #17
There is some subtlety to how this ends up working. An easy way is to just group chunks of text by how quickly they were typed together, but this isn't how native OS undo works and isn't the ideal user experience.

It's been awhile since I've been on Windows, but I believe Mac and Windows behave the same way. The rules for Mac are:
- continuous text entry gets collapsed into one command
- continuo

[2015-11-19 18:02] obuchtala commented on #265
Thanks @jacwright,

I will take a closer look at your implementation. Will give feedback after some experimenting.

[2015-11-19 18:49] obuchtala commented on #265
@jacwright your suggestion is actually an interesting replacement of 'util/oo.inherit'

However, with our current 'extend' implementation, we like how simple it is to use, e.g. something like:

[code]

without need to define a function.
Thus, I suppose your suggestion is not convenient enough for our tiny classes where boiler-plate is so annoying.

E.g.,

[code]

In these cases we don't have a cla

[2015-11-19 18:57] obuchtala commented on #265
@jacwright Your approach treating statics is closer to what static props will be in ES6, syntactically. From a technical point it is different as they don't go into their own scope, and thus, e.g. 'name' is not allowed as a static variable, as it is a protected constructor property. In ES6 it would be valid to have

[code]

Also, if you don't consider them as final static, dynamic changes to stati

[2015-11-19 18:59] obuchtala commented on #265
That is the reason for why we are using MyClass.static as a scope for static properties, which get the parent's static scope hooked up as prototype.

[2015-11-19 20:54] jacwright commented on #265
Ah, that makes sense. I've only used static inheritance for static functions like `Person.findById(123)` and so haven't run into some of these issues.

Here is an updated version of class.extend https://gist.github.com/jacwright/e9530821aa8c3e237646 that supports supplying a constructor or not and uses a `static` property. Something more along these lines could work for both `oo.inherit` and `exte

[2015-11-19 21:23] jacwright commented on #265
The version in the gist above would support

[code]

or even

[code]

while still supporting

[code]

If you don't care for a named constructor it would be a simple matter to support:

[code]

[2015-11-20 03:15] obuchtala commented on #265
Everything changed. Class.extend is now so nice that it can replace oo.inherit.
The easiest way to migrate:

[code]

->

[code]

There are some more ways to use Class.extend as you can read in:
https://github.com/substance/substance/blob/master/util/oo.js#L21

[2015-11-20 03:16] obuchtala commented on #265
Let's do the transition after more discussion, and not in Beta 2.

[2015-11-20 03:17] obuchtala commented on #161
Fixed.

[2015-11-20 03:17] #161 closed, assigned to obuchtala

[2015-11-20 10:40] obuchtala commented on #127
We need to rediscuss this.
I started to implement this simplification, also trying to make arguments of transforms explicit.
However, this turned out to get ugly. The problem is that with explicit arguments, every transform needs to pass through all arguments for all child transforms, making the signatures incredibly large, and again unspecific.

The approach that we taking with transforms is simi

[2015-11-20 10:58] obuchtala commented on #252
Skipped:  #127 - Use a simplified surface transaction API

  Having trouble to implement this simplification. Using explicit args in transforms means
  that transforms need to pass through any arguments necessary for children
  even if they don't make sense there. Adding a more detailed explanation to the issue.
  Shifted to Beta 3

[2015-11-20 11:36] michael commented on #265
I like it!

[2015-11-20 11:58] michael commented on #167
In need this checking stuff in different places. Considering that the node refactor is now in.. can we take care of this now?

In SwitchTextType I need to check if the node is a Block and a Text element. I have the node instance in this case. The options I have currently:

[code]

Suggestions for more straight-forward checking:

[code]

I think what we need to do is announcing these properties in

[2015-11-20 12:04] obuchtala commented on #167
I think isBlock(), isInline(), and isAnnotation() should be on the DocumentNode interface as these are essential core concepts.

With text, you can already do `node.isInstanceOf('text')` which works on the schema.

[2015-11-20 12:08] michael commented on #167
what would speak again isText() and isTextBlock() too? It's a bit redundant i know.. but somehow it's odd to sometimes have a prop and sometimes check via inheritance chain.

[2015-11-20 12:09] obuchtala commented on #167
isText() ok... but that is the last one ;)

IsTextBlock() === isText() && isBlock()

[2015-11-20 12:10] michael commented on #167
hehe ahja! ;) deal! I will do that then now. Thanks!

[2015-11-20 12:12] michael commented on #167
oh and for static... let's just call it isBlock istead of blockType so it matches with the function name?

[2015-11-20 12:12] obuchtala commented on #167
ok.

[2015-11-20 12:15] obuchtala commented on #167
Hmmm.. maybe 'isBlock' is not a good idea though, as it would be confusing to do `paragraph.isBlock()` but `Paragraph.static.isBlock`?

[2015-11-20 12:16] obuchtala commented on #167
dunno.

[2015-11-20 12:16] obuchtala commented on #167
Just wanted to say this.

[2015-11-20 12:17] obuchtala commented on #167
Maybe we can also achieve to rename 'external' to 'isInline'?

[2015-11-20 12:19] michael commented on #167
is it confusing? `paragraph.isBlock()` and `Paragraph.static.isBlock` ? it's not so bad i would say... unless we want a function on static too?

external -> inline yes!

[2015-11-20 12:20] michael commented on #167
and strong,emphasis,links etc. are just annotations or could that also have a name in the terminology?

[2015-11-20 12:22] obuchtala commented on #167
This I want to call annotation as opposed to inlineNode. I.e., annotation doesn't own the plain text.

[2015-11-20 12:29] michael commented on #167
inlineNode is also an annotation, technically. But it's spcial in that it owns the content. can we say it like this?

[2015-11-20 12:29] michael commented on #167
we also have some confusion in naming because for instance in the converter we call all annotation converters 'inlineConverters'.

[2015-11-20 12:29] obuchtala commented on #167
Yes, only implementation wise. But not semantically.

[2015-11-20 12:30] obuchtala commented on #167
Hmmm.. agreed.

[2015-11-20 12:30] obuchtala commented on #167
Maybe I have to reconsider my categorization?

What is your suggestion?

[2015-11-20 12:34] michael commented on #167
I mean we just must not abuse the word 'inline' for other things than this node type thingee.. where it is at home the most in my opinion.

maybe call the categorization just 'annotationConverters'?

[2015-11-20 12:35] obuchtala commented on #167
Yep, agreed. Annotation is implementation wise the more generic.

[2015-11-20 13:11] michael commented on #167
Should we have an `Inline` class that inherits from PropertyAnnotation? currently propertyAnnotation sets isInline true.. i would have that false by default?

[2015-11-20 13:12] obuchtala commented on #167
Agreed.

[2015-11-20 13:19] michael commented on #167
Inline.js or InlineNode.js?

[2015-11-20 13:20] obuchtala commented on #167
InlineNode

[2015-11-20 13:39] michael commented on #167
container annos handlst ja no gar ned im converter oder?

i würd dann den move auf _annotationConverters machen.. frag mi nur wo die containerannos da dann reinpassen.

[2015-11-20 13:39] obuchtala commented on #167
Stimmt!

[2015-11-20 13:41] michael commented on #167
also wird das eher a ganz eigener bin _containerAnnotations im converter... ? Weil dann würd i glei sagen _propertyAnnotations. inlineNode is ja technically auch a propertyAnnotation.

[2015-11-20 13:41] obuchtala commented on #167
yup, ich denk

[2015-11-20 13:44] michael commented on #167
Seit wann redma hier deutsch? ;) sorry.

I mach `_blockTypeConverters` -> `_blockConverters` und `_inlineTypeConverters` zu `_propertyAnnotationConverters`

[2015-11-20 13:46] obuchtala commented on #167
ok.

[2015-11-20 14:42] obuchtala opened #271 "Add unit tests for Clipboard"

[2015-11-20 14:45] obuchtala commented on #252
@michael we could extend shift the public release day by 2 days so that we can do a good iteration on Lens dev to validate if the release is good enough?

[2015-11-20 14:46] michael commented on #252
Wanted to suggest that as well.

[2015-11-20 14:46] michael commented on #252
Let's just take some more time to round it up and do more testing. We did a lot of breaking API changes.

[2015-11-20 14:52] obuchtala commented on #252
I think the point is that the release should be out before we come to SF.
And of course, we should focus next week on making Lens as good as possible - so after today we should freeze features.

[2015-11-20 15:00] michael commented on #167
Fixed via #264

[2015-11-20 15:00] #167 closed, assigned to nobody

[2015-11-20 15:00] michael commented on #178
Done.

[2015-11-20 15:00] #178 closed, assigned to michael

[2015-11-20 15:30] michael commented on #60
The highlights API is currently implemented on Document. I think I could move this into the UI scope to Controller. Is this good enough for a beta 2 iteration? It's a bit hard for me to see all the use-cases we need. It could also make sense to have this on the surface level for more control. What do you think?

Currently we use this API in handleStateUpdate but it could be used in other places as

[2015-11-20 15:33] michael commented on #60
I think the implementation should be integrated into TextPropertyManager but I don't want to burn my fingers with that given we want to get the beta out soon. I would take care of the interface part first and get this out of document, into either Surface or Controller.

[2015-11-20 15:53] michael commented on #60
Actually we first need to define what a **Highlight** is:

Currently `doc.setHighlights()` sets a list of node.ids (globally, means document-wide) and then the component of that node renders a highlighted class. We only have this implemented on AnnotationComponents so far. This is not a really general concept yet. It just does the job for the Lens highlighting.

We should also think of how we do o

[2015-11-20 15:55] michael commented on #24
Where are we here. Live-rendering is not a priority for beta2 but maybe scroll to current selection could be?

[2015-11-20 16:58] michael commented on #127
Yes, let's shift this.

[2015-11-20 17:03] michael commented on #261
Good here.

[2015-11-20 17:03] #261 closed, assigned to nobody

[2015-11-20 18:02] michael opened #272 "Sometimes the DOM is not ready for interaction after a rerender"
This was observed for the incremental rerender of the Citepanel, which I just activated. In order to scroll to the selected targets I I call _scrollToTarget on didMount and on didReceiveProps. Maybe we hit a limit of our synchronous rendering... I hope not!

Reproduce:
- Open Lens Writer
- Click on a bibref (panel scrolls to the first target)
- Click on another bibref (-> panel does not scroll to

[2015-11-20 18:11] michael opened #273 "'Could not find char position' when clicking right above an inline node"
You need to click right into the middle of the line-spacing between the text above and the inline element.

Can be reproduced in LensWriter.

[2015-11-20 18:11] michael commented on #175
Closing in favor of #273

[2015-11-20 18:11] #175 closed, assigned to nobody

[2015-11-20 18:38] michael commented on #272
Good news. Sync rendering works fine. Just once again the CSS messed it up. When working with scrollable panels we always have to make sure we have the following structure:

[code]

Need to think of ways how we can make this more explicit. Maybe we really need some kind of wrapper panel ScrollablePanel that provides the markup instead of having that convention. It's really easy to overlook.

[2015-11-20 19:00] michael opened #274 "Provide a better solution for scrollable panels"
We constantly run into panel scrolling issues such as #272. The problem is that we rely on Panel implementers to follow the markup described here:

[code]

We should maybe have a different approach to Panels. Instead of implementing them using conventions we should provide a wrapper implementation that you just inject the content you want to display. This would be analog to what we are already doi

[2015-11-20 19:04] michael commented on #272
Closing in favor of #274.

[2015-11-20 19:04] #272 closed, assigned to nobody

[2015-11-21 21:52] michael opened #276 "Notepad example: todo's can not be toggled"

[2015-11-23 10:55] michael commented on #276
Fixed.

[2015-11-23 10:55] #276 closed, assigned to michael

[2015-11-23 11:07] michael commented on #244
Done.

[2015-11-23 11:07] #244 closed, assigned to nobody

[2015-11-23 11:22] michael opened #277 "Provide changelog"
Should we provide a CHANGELOG file to state what is new since beta1?